<h1>Listing Value added services</h1>

<% if @vas_bookings.count > 0 %>
<table class="index_table" border="1">
  <tr>
    <th class="text">Trip</th>
    <th class="text">Value added service</th>
    <th class="number">Unit price</th>
    <th class="number">#</th>
    <th class="number">Total price</th>
    <th></th>
  </tr>

<% @vas_bookings.each do |vas_booking| %>
  <tr>
    <td class="text"><%= vas_booking.trip.long_name if vas_booking.trip_id%></td>
    <td class="text"><%= vas_booking.value_added_service %></td>
    <td class="number"><%= number_to_currency(vas_booking.unit_price) %></td>
    <td class="number"><%= vas_booking.number_of_units %></td>
    <td class="number"><%= number_to_currency(vas_booking.total_price) %></td>
    <td>
    	<%= link_to 'Edit', edit_vas_booking_path(vas_booking) %><br/>
    	<%= link_to 'Destroy', vas_booking, confirm: 'Are you sure?',
						method: :delete %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Value added services not found</h2>
		<ul>
			<% if session[:trip_id] %>
				<li>Click below to create a new value added service</li>
			<% else %>
				<li>Create a new value added service after first selecting a trip</li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if session[:trip_id] %>
	<div class="action_container">
		<%= link_to 'New Value added service', new_vas_booking_path %>
		<%= link_to 'Room Bookings', bookings_path(:trip_id => session[:trip_id]) %>
		<%= link_to 'Transport', taxi_bookings_path(:trip_id => session[:trip_id]) %></br>
	</div>
<% end %>
<p><%= will_paginate @taxi_bookings %></p>
