<p>
  <b>Trip:</b>
  <%= @vas_booking.trip_id %>
</p>

<p>
  <b>Booking:</b>
  <%= @vas_booking.booking_id %>
</p>

<p>
  <b>Value added service:</b>
  <%= @vas_booking.value_added_service %>
</p>

<p>
  <b>Unit price:</b>
  <%= number_to_currency(@vas_booking.unit_price) %>
</p>

<p>
  <b>#:</b>
  <%= @vas_booking.number_of_units %>
</p>

<p>
  <b>Total price:</b>
  <%= number_to_currency(@vas_booking.total_price) %>
</p>

<%= link_to 'Edit', edit_vas_booking_path(@vas_booking) %> |
<%= link_to 'Back', vas_bookings_path %>
