<h1>Value added service details</h1>

<div class="show_saved_record">
<p>
  <b>Trip:</b>
  <span class"saved_value"><%= @vas_booking.trip.long_name if @vas_booking.trip_id %>
</p>

<p>
  <b>Value added service:</b>
  <span class"saved_value"><%= @vas_booking.value_added_service %>
</p>

<p>
  <b>Unit price:</b>
  <span class"saved_value"><%= number_to_currency(@vas_booking.unit_price) %>
</p>

<p>
  <b>#:</b>
  <span class"saved_value"><%= @vas_booking.number_of_units %>
</p>

<p>
  <b>Total price:</b>
  <span class"saved_value"><%= number_to_currency(@vas_booking.total_price) %>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_vas_booking_path(@vas_booking) %>
</div>

<%= link_to 'Back to Value added service listing', vas_bookings_path,
						      :class => "back_link" %>
