<%= render 'search' %>

<h1>Listing Taxis</h1>

<div class="action_container">
  <% if session[:taxi_operator_id] %>
    <%= @taxi_operator_name %>
    <%= link_to 'x', taxis_path(:taxi_operator_id => 'All') %>
  <% else %>
    &nbsp;
  <% end %>
</div>

<%= link_to 'New Taxi', new_taxi_path, :class => "new_link" %>

<% if @taxis.count > 0 %>
<table class="index_table" border="1">
  <tr>
    <th class="text">Operator</th>
    <th class="text">Model</th>
    <th class="number">Max passengers</th>
    <th class="number">Unit price</th>
    <th class="text">Terrain limitations</th>
    <th></th>
  </tr>

<% @taxis.each do |taxi| %>
  <tr>
    <td class="text"><%= taxi.agency.name %></td>
    <td class="text"><%= taxi.model %></td>
    <td class="number"><%= taxi.max_passengers %></td>
    <td class="number"><%= number_to_currency(taxi.unit_price) %></td>
    <td class="prewrap"><%= taxi.terrain_limitations %></td>
    <td>
    	<%= link_to 'Edit', edit_taxi_path(taxi) %><br/>
    	<%= link_to 'Destroy', taxi, confirm: 'Are you sure?', 
						method: :delete %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Taxis not found</h2>
		<ul>
			<li>Click 'New Taxi' link to create a new taxi</li>
		</ul>
	</div>
<% end %>

<p><%= will_paginate @taxis %></p>
