<%= nested_form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this Trip from being saved:</h2>
      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 	<div class="field">
   	<%= f.label :guest_id, "Guest Id" %><br />
		<% if @trip.guest_id %>
    	<%= f.collection_select(:guest_id, 
						Guest.find_all_by_id(@trip.guest_id), :id, :name) %>
		<% else %>
    	<%= f.collection_select(:guest_id, Guest.order("name").all, :id, :name) %>
		<% end %>
  </div>
 	<div class="field">
   	<%= f.label :agency_id, "Agency" %><br />
		<% if @trip.new_record? %>
    	<%= f.collection_select(:agency_id, 
						Agency.order('name').find_all, :id, :name) %>
		<% else %>
    	<%= f.collection_select(:agency_id, 
						Agency.order('name').find_all_by_id(@trip.agency_id), :id, :name) %>
		<% end %>
  </div>
	<%= hidden_div_if(@trip.new_record?, class: "field") do %>
   	<%= f.label :advisor_id, "Advisor" %><br />
    <%= f.collection_select(:advisor_id,
					Advisor.order('name').find_all_by_agency_id(@trip.advisor.agency.id), :id, :name) %>
	<% end %>
  <div class="field">
    <%= f.label :name, "Trip name" %><br />
    <%= f.text_field :name, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :start_year => Time.now.year,
			:end_year => Time.now.year + 1, :prompt => true %>
  </div>
	<div class="field">
    <%= f.label :number_of_days, "Days" %><br />
    <%= f.number_field :number_of_days, :min => 1 %>
	</div>

	<%= hidden_div_if(true, class: "field") do %>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, :start_year => Time.now.year,
			:end_year => Time.now.year + 1, :prompt => true %>
	<% end %>

	<div class="field">
		<%= f.label :rooms %>
	</div>

	<div class="nested_form">
		<%= f.fields_for :rooms %>
		<%= f.link_to_add "Add row", :rooms %><br/>
	</div>

	<div class="field">
    <%= f.label :number_of_children_below_5_years, "Children below 5" %><br />
    <%= f.number_field :number_of_children_below_5_years, :min => 0 %>
	</div>
	<div class="field">
    <%= f.label :number_of_drivers, "Drivers" %><br />
    <%= f.number_field :number_of_drivers, :min => 0 %>
	</div>

	<%= hidden_div_if(@trip.new_record?, class: "field") do %>
    <%= f.label :total_price %><br />
		<p><span class="highlight">
			<%= number_to_currency(@trip.total_price) %>
		</span></p>
	<% end %>

	<%= hidden_div_if(@trip.new_record?, class: "field") do %>
    <%= f.label :service_tax %><br />
		<p><span class="highlight">
			<%= number_to_currency(@trip.service_tax) %>
		</span></p>
	<% end %>

	<%= hidden_div_if(@trip.new_record?, class: "field") do %>
    <%= f.label :discount %><br />
    <%= f.number_field :discount, :min => 0 %>
	<% end %>

	<%= hidden_div_if(@trip.new_record?, class: "field") do %>
    <%= f.label :final_price %><br />
		<p><span class="highlight">
			<%= number_to_currency(@trip.final_price) %>
		</span></p>
	<% end %>

	<%= hidden_div_if(@trip.new_record?, class: "field") do %>
		<%= f.label :payments %>
	<% end %>

	<%= hidden_div_if(@trip.new_record?, class: "nested_form") do %>
		<%= f.fields_for :payments %>
		<%= f.link_to_add "Add row", :payments %><br/>
	<% end %>

	<%= hidden_div_if(@trip.new_record?, class: "field") do %>
		<% if @trip.balance_payment > 0 %>
    	<%= f.label :balance_payment %><br />
			<p><span class="highlight">
				<%= number_to_currency(@trip.balance_payment) %>
			</span></p>
    	<%= f.label :pay_by_date, "Pay balance by" %><br />
    	<%= f.date_select :pay_by_date, :start_year => Time.now.year,
				:end_year => Time.now.year + 1, :prompt => true, :disabled => true %>
		<% end %>
	<% end %>

	<div class="field">
    <%= f.label :payee_name %><br />
    <%= f.text_field :payee_name %>
  </div>
	<div class="field">
    <%= f.label :email_ids %><br />
    <%= f.text_field :email_ids %>
  </div>
	<div class="field">
    <%= f.label :food_preferences %><br />
    <%= f.text_field :food_preferences %>
  </div>
	<div class="field">
    <%= f.label :medical_constraints, "Medical issues" %><br />
    <%= f.text_field :medical_constraints %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, rows: 6, cols: 50 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
