<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 	<div class="field">
		<% if session[:guest_id] %>
			<%= f.hidden_field :guest_id %>
		<% else %>
    	<%= f.label :guest_id %><br />
    	<%= f.number_field :guest_id %>
		<% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :start_year => Time.now.year,
			:end_year => Time.now.year + 1, :prompt => {
			:year => 'Select year', :month => 'Select month', :day => 'Select day'} %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, :start_year => Time.now.year,
			:end_year => Time.now.year + 1, :prompt => {
			:year => 'Select year', :month => 'Select month', :day => 'Select day'} %>
  </div>
  <div class="field">
    <%= f.label :number_of_rooms %><br />
    <%= f.number_field :number_of_rooms, :min => 1 %>
  </div>
  <div class="field">
    <%= f.label :number_of_adults %><br />
    <%= f.number_field :number_of_adults, :min => 1 %>
  </div>
  <div class="field">
    <%= f.label :number_of_children_between_5_and_12_years %><br />
    <%= f.number_field :number_of_children_between_5_and_12_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :number_of_children_below_5_years %><br />
    <%= f.number_field :number_of_children_below_5_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :food_preferences %><br />
    <%= f.text_field :food_preferences %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br />
    <%= f.number_field :total_price, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.number_field :paid, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :balance_payment %><br />
    <%= f.number_field :balance_payment, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :pay_by_date %><br />
    <%= f.date_select :pay_by_date, :start_year => Time.now.year,
			:end_year => Time.now.year + 1, :prompt => {
			:year => 'Select year', :month => 'Select month', :day => 'Select day'} %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, rows: 6 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
