<div class="nested_form_row">
	
	<%= f.date_select :date_received, :start_year => Time.now.year,
		:end_year => Time.now.year + 1, :prompt => {
		:year => 'Year', :month => 'Month', :day => 'Day'} %>
	
	<%= f.label :amount, "Amount" %>
	<%= f.number_field :amount, min: 1, max: 9999999 %>
	
	<%= f.label :details %>
	<%= f.text_field :details, size: 20 %>
	
	<%= f.link_to_remove "x" %>
</div>
