<div class="nested_form_row">
	<fieldset>
		<%= f.radio_button :occupancy, 'Single',
			:disabled => (@trip.payment_status != Trip::NOT_PAID and !@trip.new_record?) %>
		<%= f.label :single, "Single" %>
		<%= f.radio_button :occupancy, 'Double',
			:disabled => (@trip.payment_status != Trip::NOT_PAID and !@trip.new_record?) %>
		<%= f.label :double, "Double" %>
	</fieldset>
	
	<%= f.label :number_of_rooms, "#" %>
	<%= f.number_field :number_of_rooms, min: 1, max: 99,
			:disabled => (@trip.payment_status != Trip::NOT_PAID and !@trip.new_record?) %>

	<%= f.label :number_of_adults, "Adults / room" %>
	<%= f.number_field :number_of_adults, min: 1, max: 4,
			:disabled => (@trip.payment_status != Trip::NOT_PAID and !@trip.new_record?) %>
	
	<%= f.label :number_of_children, "Children / room" %>
	<%= f.number_field :number_of_children_between_5_and_12_years, 
			min: 0, max: 2, :disabled => (@trip.payment_status != Trip::NOT_PAID and !@trip.new_record?) %>
	
	<% if (@trip.payment_status == Trip::NOT_PAID or @trip.new_record?) %>
		<%= f.link_to_remove "x" %>
	<% end %>
</div>
