<%= form_tag trips_path, :method => "get" do %>
	<div class="field">
		<%= label_tag :payment_status %>
		<%= select_tag :payment_status,
					options_for_select([
						['', ''],
						['Blocked', 'Blocked'],
						['Partially Paid', 'Partially Paid'],
						['Fully Paid', 'Fully Paid']], 'Blocked')  %>
	</div>
	<div class="field">
		<%= label_tag :pay_by_date %>
		<%= select_date Date.today, :prefix => :pay_by_date %>
	</div>
	<div class="action_container">
		<%= submit_tag "Search", :name => nil %>
	</div>
<% end %>
