<h2>Listing Trips</h2>

<% if notice %>
	<div id="error_explanation">
		<h2>Unable to delete</h2>
		<ul>
			<li><%= notice %></li>
		</ul>
	</div>
<% end %>

<table border="1">
  <tr>
    <th>Guest</th>
    <th>Trip</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Rooms</th>
    <th>Final price</th>
		<th>Paid</th>
    <th>Balance</th>
    <th>Comments</th>
    <th></th>
  </tr>

	<% if @trips %>
		<% @trips.each do |trip| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	    	<td class="name"><%= trip.guest.name %></td>
		    <td class="name"><%= trip.name %></td>
		    <td class="date"><%= l trip.start_date if trip.start_date %></td>
		    <td class="date"><%= l trip.end_date if trip.start_date %></td>
		    <td class="number"><%= trip.number_of_rooms %></td>
		    <td class="number"><%= number_to_currency(trip.final_price) %></td>
		    <td class="number"><%= number_to_currency(trip.paid) %></td>
		    <td class="number"><%= number_to_currency(trip.balance_payment) %></td>
		    <td><%= trip.comments %></td>
		    <td class="link">
					<%= link_to 'Show details', trip %></br>
					<%= link_to 'Edit', edit_trip_path(trip) %></br>
		    	<%= link_to 'Destroy', trip, confirm: 'Are you sure?', method: :delete %></br>
					<%= link_to 'View Bookings', bookings_path(:trip_id => trip.id) %>
		  </tr>
		<% end %>
	<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
