<% if !(session[:customer_id]) %>
  <span class="search_title">Show</span>
	<div class="search_container">
		<%= link_to 'Not Paid Trips', 
					trips_path(:status => Trip::NOT_PAID) %>
		<%= link_to 'Partially Paid Trips', 
					trips_path(:status => Trip::PARTIALLY_PAID) %> 
		<%= link_to 'Trips with payment overdue', 
					trips_path(:status => Trip::PAYMENT_OVERDUE) %>
		<%= link_to 'Completed Trips', 
					trips_path(:status => Trip::CHECKED_OUT) %>
		<%= link_to 'All trips', trips_path %>
	</div>
<% end %>

<% if session[:customer_id] %>
  <h2><%= "Trips > #{@customer_name}" %></h2>
<% else %>
  <hr>
  <h2><%= "Trips > #{params[:status] || 'All'}" %></h2>
<% end %>

<% if @records_returned == 0 %>
	<div id="error_explanation">
		<h2>Trips not found</h2>
		<ul>
			<% if session[:customer_id] %>
				<li>Click below to create a new trip</li>
			<% else %>
				<li>Choose another payment status</li>
			<% end %>
		</ul>
	</div>
<% else %>

	<table class="index_table" border="1">
	  <tr>
	    <th class="number">ID</th>
	    <th class="text">Customer</th>
	    <th class="text">Trip</th>
	    <th class="text">Rooms</th>
			<th class="text">Payment status</th>
	    <th></th>
	  </tr>
	
		<% @trips.each do |trip| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="number">
					<%= trip.id %>
				</td>
	    	<td class="text">
					<span class="nowrap"><%= trip.customer.name %><br/></span>
					<span class="nowrap"><%= trip.customer.phone_number %></span>
				</td>
		    <td class="text">
					<span class="nowrap"><%= trip.name %><br/></span>
		    	<span class="nowrap"><%= l trip.start_date %> to <%= l trip.end_date %><br/></span>
					(<%= trip.number_of_days %> days)
				</td>
		    <td class="text">
					<% trip.trip_rooms.each do |trip_room| %>
						<span class="nowrap"><%= pluralize(trip_room.number_of_rooms, trip_room.occupancy) %> @ 
						<%= trip_room.all_guests_per_room %> / room<br/></span>
					<% end %>
				</td>
		    <td class="text">
					<%= trip.payment_status %><br/>
					<span class="nowrap">Total Payable: <%= number_to_currency(trip.total_payable) %><br/></span>
					<% if trip.paid > 0 %>
						<span class="nowrap">Paid: <%= number_to_currency(trip.paid) %><br/></span>
					<% end %>
					<% if trip.balance_payment > 0 %>
						<span class="nowrap">Balance: <%= number_to_currency(trip.balance_payment) %><br/></span>
					<% end %>
					<% if trip.pay_by_date != nil %>
						<span class="nowrap">Pay by: <%= l trip.pay_by_date, :format => :short %></span>
					<% end %>
					<% if trip.refund_amount > 0 %>
						<span class="nowrap">Refund: <%= number_to_currency(trip.refund_amount) %><br/></span>
					<% end %>
				</td>
		    <td>
					<%= link_to 'Show details', trip %></br>
					<%= link_to 'Edit', edit_trip_path(trip) %></br>
		    	<%= link_to 'Destroy', trip, confirm: 'Are you sure?', 
								method: :delete %></br>
					<%= link_to 'Select Trip', bookings_path(:trip_id => trip.id) %></br>
				</td>
		  </tr>
		<% end %>
	</table>
<% end %>

<p><%= will_paginate @trips %></p>

<% if session[:customer_id] %>
	<div class="action_container">
		<%= link_to 'New Trip', new_trip_path %>
	</div>
<% end %>
