<% if session[:guest_id] %>
	<h1>Listing Trips for Guest '<%= Guest.find(session[:guest_id]).name %>'</h1>
<% else %>
	<h1>Listing Trips for all Guests</h1>
<% end %>

<% if notice %>
	<div id="error_explanation">
		<h2>Unable to delete</h2>
		<ul>
			<li><%= notice %></li>
		</ul>
	</div>
<% end %>

<% if @trips.count > 0 %>
<table class="index_table" border="1">
  <tr>
    <th class="text">Guest</th>
    <th class="text">Trip</th>
    <th class="text">Start date</th>
    <th class="text">End date</th>
    <th class="number">Rooms</th>
    <th class="number">Final price</th>
		<th class="number">Paid</th>
    <th class="number">Balance</th>
		<th class="text">Pay by</th>
    <th class="text">Comments</th>
    <th></th>
  </tr>

	<% if @trips %>
		<% @trips.each do |trip| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	    	<td class="text"><%= trip.guest.name %></td>
		    <td class="text"><%= trip.name %></td>
		    <td class="text"><%= l trip.start_date if trip.start_date %></td>
		    <td class="text"><%= l trip.end_date if trip.start_date %></td>
		    <td class="number"><%= trip.number_of_rooms %></td>
		    <td class="number"><%= number_to_currency(trip.final_price) if trip.final_price%></td>
		    <td class="number"><%= number_to_currency(trip.paid) if trip.paid %></td>
		    <td class="number"><%= number_to_currency(trip.balance_payment) if trip.balance_payment%></td>
				<td class="text"><%= l trip.pay_by_date if trip.pay_by_date %></td>
		    <td class="text"><%= trip.comments %></td>
		    <td>
					<%= link_to 'Show details', trip %></br>
					<%= link_to 'Edit', edit_trip_path(trip) %></br>
		    	<%= link_to 'Destroy', trip, confirm: 'Are you sure?', method: :delete %></br>
					<%= link_to 'Check Availability', availability_chart_path(:trip_id => trip.id) %></br>
					<%= link_to 'View Bookings', bookings_path(:trip_id => trip.id) %>
		  </tr>
		<% end %>
	<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Guest doesn't have any Trips</h2>
		<ul>
			<li>Click below for creating Trips</li>
		</ul>
  </div>
<% end %>

<div class="action_container">
	<%= link_to 'New Trip', new_trip_path %>
</div>
