<h1>Listing trips</h1>

<table>
  <tr>
    <th>Guest</th>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Number of rooms</th>
    <th>Number of adults</th>
    <th>Number of children between 5 and 12 years</th>
    <th>Number of children below 5 years</th>
    <th>Food preferences</th>
    <th>Total price</th>
    <th>Paid</th>
    <th>Balance payment</th>
    <th>Pay by date</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<% if @trips %>
		<% @trips.each do |trip| %>
  		<tr>
	    	<td><%= trip.guest_id %></td>
		    <td><%= trip.name %></td>
		    <td><%= trip.start_date %></td>
		    <td><%= trip.end_date %></td>
		    <td><%= trip.number_of_rooms %></td>
		    <td><%= trip.number_of_adults %></td>
		    <td><%= trip.number_of_children_between_5_and_12_years %></td>
		    <td><%= trip.number_of_children_below_5_years %></td>
		    <td><%= trip.food_preferences %></td>
		    <td><%= trip.total_price %></td>
		    <td><%= trip.paid %></td>
		    <td><%= trip.balance_payment %></td>
		    <td><%= trip.pay_by_date %></td>
		    <td><%= trip.comments %></td>
		    <td class="link">
					<%= link_to 'Edit', edit_trip_path(trip) %> | 
		    	<%= link_to 'Destroy', trip, confirm: 'Are you sure?', method: :delete %> | 
					<%= link_to 'View Bookings', bookings_path(:trip_id => trip.id) %>
		  </tr>
		<% end %>
	<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
