<p id="notice"><%= notice %></p>
<h1>Trip Details</h1>

<div class="show_saved_record">
<p>
  <b>Guest:</b>
  <span class="saved_value"><%= @trip.guest.name %>
</p>

<p>
  <b>Trip Name:</b>
  <span class="saved_value"><%= @trip.name %>
</p>

<p>
  <b>Start date:</b>
  <span class="saved_value"><%= l @trip.start_date if @trip.start_date %>
</p>

<p>
  <b>End date:</b>
  <span class="saved_value"><%= l @trip.end_date if @trip.end_date %>
</p>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Number of rooms:</b>
  <span class="saved_value"><%= @trip.number_of_rooms %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Number of adults:</b>
  <span class="saved_value"><%= @trip.number_of_adults %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Number of children between 5 and 12 years:</b>
  <span class="saved_value"><%= @trip.number_of_children_between_5_and_12_years %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Number of children below 5 years:</b>
  <span class="saved_value"><%= @trip.number_of_children_below_5_years %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Number of drivers:</b>
  <span class="saved_value"><%= @trip.number_of_drivers %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Food preferences:</b>
  <span class="saved_value"><%= @trip.food_preferences %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Total price:</b>
  <span class="saved_value"><%= number_to_currency(@trip.total_price) if @trip.total_price %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Discount:</b>
  <span class="saved_value"><%= number_to_currency(@trip.discount) if @trip.discount %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Final price:</b>
  <span class="saved_value"><%= number_to_currency(@trip.final_price) if @trip.final_price %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Paid:</b>
  <span class="saved_value"><%= number_to_currency(@trip.paid) if @trip.paid %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Balance payment:</b>
  <span class="saved_value"><%= number_to_currency(@trip.balance_payment) if @trip.balance_payment %>
<% end %>

<%= hidden_p_unless(@trip.number_of_rooms) do %>
  <b>Pay by date:</b>
  <span class="saved_value"><%= l @trip.pay_by_date if @trip.pay_by_date %>
<% end %>

<p>
  <b>Comments:</b>
  <span class="saved_value"><%= @trip.comments %>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_trip_path(@trip) %> |
	<%= link_to 'Back to Trip Listing', trips_path(:guest_id => session[:guest_id]) %>
</div>
