<h1>Trip Details</h1>

<div class="show_saved_record">
<p>
  <b>ID:</b>
  <span class="saved_value"><%= @trip.id %>
</p>

<p>
  <b>Customer:</b>
  <span class="saved_value"><%= @trip.customer.name %>
</p>

<p>
  <b>Trip tag:</b>
  <span class="saved_value"><%= @trip.name %>
</p>

<p>
  <b>Start date:</b>
  <span class="saved_value"><%= l @trip.start_date %>
</p>

<p>
  <b>End date:</b>
  <span class="saved_value"><%= l @trip.end_date %>
</p>

<p>
  <b>Days:</b>
  <span class="saved_value"><%= @trip.number_of_days %>
</p>

<% if @trip.trip_rooms.any? %>	
	<b>Rooms:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Single / Double</th>
			<th class="number">Number of rooms</th>
			<th class="number">Adults / room</th>
			<th class="number">Children / room</th>
			<th class="number">Infants / room</th>
		</tr>

		<% @trip.trip_rooms.each do |trip_room| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">	
				<td class="text"><%= trip_room.occupancy %></td>
				<td class="number"><%= trip_room.number_of_rooms %></td>
				<td class="number"><%= trip_room.number_of_adults %></td>
				<td class="number"><%= trip_room.number_of_children_between_5_and_12_years %></td>
				<td class="number"><%= trip_room.number_of_children_below_5_years %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<% if @trip.vas_bookings.any? %>
	<b>Other Services:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Name</th>
			<th class="text">All days</th>
			<th class="number">Unit price</th>
			<th class="number">#</th>
			<th class="number">Total price</th>
		</tr>

		<% @trip.vas_bookings.each do |vas_booking| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= vas_booking.value_added_service %></td>
				<td class="text"><%= vas_booking.every_day.to_english %></td>
				<td class="number"><%= number_to_currency(vas_booking.unit_price) %></td>
				<td class="number"><%= vas_booking.number_of_units %></td>
				<td class="number"><%= number_to_currency(vas_booking.total_price) %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<p>
  <b>Payment Status:</b>
  <span class="saved_value"><%= @trip.payment_status %>
</p>

<p>
  <b>Total price:</b>
  <span class="saved_value"><%= number_to_currency(@trip.total_price) %>
</p>

<%= hidden_p_unless(@trip.is_direct_booking?) do %>
  <b>Discount:</b>
  <span class="saved_value"><%= number_to_currency(@trip.discount) %>
<% end %>

<%= hidden_p_unless(!@trip.is_direct_booking?) do %>
  <b>TAC:</b>
  <span class="saved_value"><%= number_to_currency(@trip.tac) %>
<% end %>

<%= hidden_p_unless(!@trip.is_direct_booking?) do %>
  <b>TDS on TAC:</b>
  <span class="saved_value"><%= number_to_currency(@trip.tds) %>
<% end %>

<p>
  <b>Final price:</b>
  <span class="saved_value"><%= number_to_currency(@trip.final_price) %>
</p>

<p>
  <b>Paid:</b>
  <span class="saved_value"><%= number_to_currency(@trip.paid) %>
</p>

<p>
  <b>Balance payment:</b>
  <span class="saved_value"><%= number_to_currency(@trip.balance_payment) %>
</p>

<%= hidden_p_unless(@trip.pay_by_date) do %>
  <b>Pay by:</b>
  <span class="saved_value"><%= l @trip.pay_by_date if @trip.pay_by_date %>
<% end %>

<%= hidden_p_unless(@trip.refund_amount > 0) do %>
  <b>Refund amount:</b>
  <span class="saved_value"><%= number_to_currency(@trip.refund_amount) %>
<% end %>

<p>
  <b>Invoice date:</b>
  <span class="saved_value"><%= l @trip.invoice_date if @trip.invoice_date %>
</p>

<p>
  <b>Service tax:</b>
  <span class="saved_value"><%= number_to_currency(@trip.service_tax) %>
</p>

<p>
  <b>Food preferences:</b>
  <span class="saved_value"><%= @trip.food_preferences %>
</p>

<p>
  <b>Medical constraints:</b>
  <span class="saved_value"><%= @trip.medical_constraints %>
</p>

<p>
  <b>Dist. email id(s):</b>
  <span class="saved_value"><%= @trip.email_ids %>
</p>

<p>
  <b>Notes:</b>
  <span class="saved_value"><%= @trip.remarks %>
</p>

<p>
  <b>Advisor:</b>
  <span class="saved_value"><%= @trip.advisor.name %>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_trip_path(@trip) %>
	<%= link_to 'Book Rooms', new_booking_path(:trip_id => @trip.id) %>
	<%= link_to 'Generate Invoice', email_trip_path(:trip_id => @trip.id,
				:type => 'invoice') %>
	<%= link_to 'Generate Vouchers', email_trip_path(:trip_id => @trip.id,
				:type => 'vouchers') %>
</div>

<%= link_to 'Back to Trip Listing', trips_path, :class => "back_link" %>
