<p id="notice"><%= notice %></p>

<p>
  <b>Guest:</b>
  <%= @trip.guest_id %>
</p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Start date:</b>
  <%= l @trip.start_date if @trip.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= l @trip.end_date if @trip.end_date %>
</p>

<p>
  <b>Number of rooms:</b>
  <%= @trip.number_of_rooms %>
</p>

<p>
  <b>Number of adults:</b>
  <%= @trip.number_of_adults %>
</p>

<p>
  <b>Number of children between 5 and 12 years:</b>
  <%= @trip.number_of_children_between_5_and_12_years %>
</p>

<p>
  <b>Number of children below 5 years:</b>
  <%= @trip.number_of_children_below_5_years %>
</p>

<p>
  <b>Number of drivers:</b>
  <%= @trip.number_of_drivers %>
</p>

<p>
  <b>Food preferences:</b>
  <%= @trip.food_preferences %>
</p>

<p>
  <b>Total price:</b>
  <%= @trip.total_price %>
</p>

<p>
  <b>Discount:</b>
  <%= @trip.discount %>
</p>

<p>
  <b>Final price:</b>
  <%= @trip.final_price %>
</p>

<p>
  <b>Paid:</b>
  <%= @trip.paid %>
</p>

<p>
  <b>Balance payment:</b>
  <%= @trip.balance_payment %>
</p>

<p>
  <b>Pay by date:</b>
  <%= l @trip.pay_by_date if @trip.pay_by_date %>
</p>

<p>
  <b>Comments:</b>
  <%= @trip.comments %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
