<p id="notice"><%= notice %></p>
<h1>Trip Details</h1>

<div class="show_saved_record">
<p>
  <b>ID:</b>
  <span class="saved_value"><%= @trip.id %>
</p>

<p>
  <b>Guest:</b>
  <span class="saved_value"><%= @trip.guest.name %>
</p>

<p>
  <b>Agency:</b>
	<% if @trip.agency_id %>
  	<span class="saved_value"><%= @trip.agency.name %>
	<% end %>
</p>

<p>
  <b>Trip Name:</b>
  <span class="saved_value"><%= @trip.name %>
</p>

<p>
  <b>Start date:</b>
  <span class="saved_value"><%= l @trip.start_date %>
</p>

<p>
  <b>End date:</b>
  <span class="saved_value"><%= l @trip.end_date %>
</p>

<p>
  <b>Days:</b>
  <span class="saved_value"><%= @trip.number_of_days %>
</p>

<% if @trip.rooms.any? %>	
	<b>Rooms:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Single / Double</th>
			<th class="number">Adults / room</th>
			<th class="number">Children / room</th>
			<th class="number">Number of rooms</th>
		</tr>

		<% @trip.rooms.each do |room| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">	
				<td class="text"><%= room.occupancy %></td>
				<td class="number"><%= room.number_of_adults %></td>
				<td class="number"><%= room.number_of_children_between_5_and_12_years %></td>
				<td class="number"><%= room.number_of_rooms %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<p>
  <b>Children below 5 years:</b>
  <span class="saved_value"><%= @trip.number_of_children_below_5_years %>
</p>

<p>
  <b>Drivers:</b>
  <span class="saved_value"><%= @trip.number_of_drivers %>
</p>

<% if @trip.vas_bookings.any? %>
	<b>Value Added Services:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Name</th>
			<th class="number">No. of people</th>
			<th class="number">Unit price</th>
		</tr>

		<% @trip.vas_bookings.each do |vas_booking| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= vas_booking.value_added_service.name %></td>
				<td class="number"><%= vas_booking.number_of_people %></td>
				<td class="number"><%= vas_booking.unit_price %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>Payment Status:</b>
  <span class="saved_value"><%= @trip.payment_status if @trip.payment_status %>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>Total price:</b>
  <span class="saved_value"><%= number_to_currency(@trip.total_price) if @trip.total_price %>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>TAC / Discount:</b>
  <span class="saved_value"><%= number_to_currency(@trip.discount) if @trip.discount %>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>TDS on commission:</b>
  <span class="saved_value"><%= number_to_currency(@trip.tds) if @trip.discount %>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>Final price:</b>
  <span class="saved_value"><%= number_to_currency(@trip.final_price) if @trip.final_price %>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>Service tax:</b>
  <span class="saved_value"><%= number_to_currency(@trip.service_tax) if @trip.service_tax %>
<% end %>

<% if @trip.payments.any? %>
	<b>Payments:</b>
	<table class="nested_table">
		<tr>
			<th class="number">ID</th>
			<th class="text">Date</th>
			<th class="number">Amount</th>
			<th class="text">Payee name</th>
			<th class="text">Details</th>
		</tr>

		<% @trip.payments.each do |payment| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">	
				<td class="number">
					<%= payment.id %>
				</td>
				<td class="text">
					<%= l payment.date_received if payment.date_received %>
				</td>
				<td class="number"><%= number_to_currency(payment.amount) %></td>
				<td class="text"><%= payment.payee_name %></td>
				<td class="text"><%= payment.details %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>Balance:</b>
  <span class="saved_value"><%= number_to_currency(@trip.balance_payment) if @trip.balance_payment %>
<% end %>

<%= hidden_p_unless(@trip.total_price > 0) do %>
  <b>Pay by:</b>
  <span class="saved_value"><%= l @trip.pay_by_date if @trip.pay_by_date %>
<% end %>

<p>
  <b>Invoice date:</b>
  <span class="saved_value"><%= l @trip.invoice_date if @trip.invoice_date %>
</p>

<p>
  <b>Food preferences:</b>
  <span class="saved_value"><%= @trip.food_preferences %>
</p>

<p>
  <b>Medical constraints:</b>
  <span class="saved_value"><%= @trip.medical_constraints %>
</p>

<p>
  <b>Dist. email id(s):</b>
  <span class="saved_value"><%= @trip.email_ids %>
</p>

<p>
  <b>Remarks:</b>
  <span class="saved_value"><%= @trip.remarks %>
</p>

<p>
  <b>Advisor:</b>
  <span class="saved_value"><%= @trip.advisor.name %>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_trip_path(@trip) %>
	<%= link_to 'View Bookings', bookings_path(:trip_id => @trip.id) %>
	<%= link_to 'Email Trip Details', email_trip_path(:trip_id => @trip.id,
				:type => 'details') %>
	<% if @trip.agency.name != @trip.advisor.agency.name %>
		<%= link_to 'Send Invoice to Agent', email_trip_path(:trip_id => @trip.id,
					:type => 'invoice') %>
	<% end %>
</div>

<%= link_to 'Back to Trip Listing', trips_path, :class => "back_link" %>
