<%= form_for(@guest, :validate => true) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.select :title, Guest::TITLE, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number, "Phone numbers" %><br />
    <%= f.text_field :phone_number, :validate => { :uniqueness => false } %>
    <%= f.text_field :phone_number_2 %>
  </div>
  <div class="field">
    <%= f.label :email_id, "Email IDs" %><br />
    <%= f.text_field :email_id, :validate => { :uniqueness => false } %>
    <%= f.text_field :email_id_2 %>
  </div>
  <div class="field">
    <%= f.label :city, "Resident of" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :postal_address %><br />
    <%= f.text_area :postal_address, rows: 6 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
