<h1>Listing Guests</h1>

<div id="search">
	<%= render 'search' %>
</div>

<% if @records_returned == 0 %>
	<div id="error_explanation">
		<h2>Guests not found</h2>
		<ul>
			<li>Change tour search or click below to create a new Guest</li>
		</ul>
	</div>
<% else %>
	<% if notice %>
		<div id="error_explanation">
			<h2>Unable to destroy</h2>
			<ul>
				<li><%= notice %></li>
			</ul>
		</div>
	<% end %>

	<table class="index_table" border="1">
		<tr>
	    <th class="text">Name</th>
	    <th class="number">Phone number</th>
	    <th class="text">Email</th>
	    <th class="text">Resident of</th>
	    <th class="text">Other information</th>
			<th></th>
	  </tr>
		<% @guests.each do |guest| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		    <td class="text"><%= guest.name %></td>
		    <td class="number"><%= guest.phone_number %></td>
		    <td class="text"><%= guest.email_id %></td>
		    <td class="text"><%= guest.resident_of %></td>
		    <td class="comment"><%= guest.other_information %></td>
		    <td>
					<%= link_to 'Edit', edit_guest_path(guest) %></br>
					<%= link_to 'Destroy', guest, confirm: 'Are you sure?',
									method: :delete %></br>
					<%= link_to 'View Trips', trips_path(:guest_id => guest.id) %>
				</td>
		  </tr>
		<% end %>
	</table>
<% end %>
<div class="action_container">
	<%= link_to 'New Guest', new_guest_path %>
</div>
<p><%= will_paginate @guests %></p>
