<h1>Listing Guests</h1>

<div class="action_container">
	<%= render 'search' %>
</div>

<%= link_to 'New Guest', new_guest_path, :class => "new_link" %>

<% if @records_returned == 0 %>
	<div id="error_explanation">
		<h2>Guests not found</h2>
		<ul>
			<li>Check your search conditions or create a new Guest</li>
		</ul>
	</div>
<% else %>

	<table class="index_table" border="1">
		<tr>
	    <th class="text">Name</th>
	    <th class="text">Email</th>
	    <th class="text">Resident of</th>
	    <th class="text">Postal address</th>
			<th></th>
	  </tr>
		<% @guests.each do |guest| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="text">
          <span class="nowrap"><%= guest.name_with_title %></span><br/>
					<span class="nowrap"><%= guest.phone_number %></span><br/>
					<span class="nowrap"><%= guest.phone_number_2 %></span>
				</td>
		    <td class="text">
					<%= guest.email_id %><br/>
					<%= guest.email_id_2 %>
				</td>
		    <td class="text"><%= guest.city %></td>
		    <td class="text"><%= guest.postal_address %></td>
		    <td>
					<%= link_to 'Edit', edit_guest_path(guest) %></br>
					<%= link_to 'Destroy', guest, confirm: 'Are you sure?',
									method: :delete %></br>
          <%= link_to 'View Trips', trips_path(:customer_type => guest.class.name, :customer_id => guest.id) %>
				</td>
		  </tr>
		<% end %>
	</table>
<% end %>
<p><%= will_paginate @guests %></p>
