<p id="notice"><%= notice %></p>
<h1>Guest details</h1>

<div class="show_saved_record">
<p>
  <b>Name:</b>
  <span class="saved_value"><%= @guest.title + " " + @guest.name %>
</p>

<p>
  <b>Phone number:</b>
  <span class="saved_value"><%= @guest.phone_number %>
</p>

<p>
  <b>Alternative Phone number:</b>
  <span class="saved_value"><%= @guest.phone_number_2 %>
</p>

<p>
  <b>Email ID:</b>
  <span class="saved_value"><%= @guest.email_id %>
</p>

<p>
  <b>Alternative Email ID:</b>
  <span class="saved_value"><%= @guest.email_id_2 %>
</p>

<p>
  <b>Resident of:</b>
  <span class="saved_value"><%= @guest.resident_of %>
</p>

<p>
  <b>Address:</b>
  <span class="saved_value"><%= @guest.address %>
</p>

<p>
  <b>Other information:</b>
  <span class="saved_value"><%= @guest.other_information %>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_guest_path(@guest) %>
	<%= link_to 'Create Trip', new_trip_path(:guest_id => @guest.id) %>
</div>

<%= link_to 'Back to Guest Listing', guests_path, :class => "back_link" %>
