<h1>Listing booked_rooms</h1>

<table>
  <tr>
    <th>Room type</th>
    <th>For date</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booked_rooms.each do |booked_room| %>
  <tr>
    <td><%= booked_room.room_type_id %></td>
    <td><%= booked_room.for_date %></td>
    <td><%= booked_room.count %></td>
    <td><%= link_to 'Show', booked_room %></td>
    <td><%= link_to 'Edit', edit_booked_room_path(booked_room) %></td>
    <td><%= link_to 'Destroy', booked_room, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booked room', new_booked_room_path %>
