<p id="notice"><%= notice %></p>

<p>
  <b>Room type:</b>
  <%= @booked_room.room_type_id %>
</p>

<p>
  <b>For date:</b>
  <%= @booked_room.for_date %>
</p>

<p>
  <b>Count:</b>
  <%= @booked_room.count %>
</p>


<%= link_to 'Edit', edit_booked_room_path(@booked_room) %> |
<%= link_to 'Back', booked_rooms_path %>
