<%= nested_form_for(@account_setting, :validate => true) do |f| %>
  <% if @account_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_setting.errors.count, "error") %> prohibited this account_setting from being saved:</h2>

      <ul>
      <% @account_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registered_name %><br />
    <%= f.text_field :registered_name %>
  </div>
  <div class="field">
    <%= f.label :name, "Display name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name_abbreviation %><br />
    <%= f.text_field :name_abbreviation %>
  </div>
  <div class="field">
    <%= f.label :phone_number_1, "Phone number" %><br />
    <%= f.text_field :phone_number_1 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :pan %><br />
    <%= f.text_field :pan %>
  </div>
  <div class="field">
    <%= f.label :service_tax_number %><br />
    <%= f.text_field :service_tax_number %>
  </div>
  <div class="field">
    <%= f.label :tds_percent %><br />
    <%= f.number_field :tds_percent %>
  </div>
  <div class="field">
    <%= f.label :service_charge %><br />
    <%= f.number_field :service_charge %>
  </div>
  <div class="field">
    <%= f.label :cgst_rate_for_taxi_services %><br />
    <%= f.number_field :cgst_rate_for_tour_operator_services %>
  </div>
  <div class="field">
    <%= f.label :sgst_rate_for_taxi_services %><br />
    <%= f.number_field :sgst_rate_for_tour_operator_services %>
  </div>
  <div class="field">
    <%= f.label :hsn_for_lodging %><br />
    <%= f.text_field :hsn_for_lodging %>
  </div>
  <div class="field">
    <%= f.label :hsn_for_food %><br />
    <%= f.text_field :hsn_for_food %>
  </div>
  <div class="field">
    <%= f.label :hsn_for_guide_services %><br />
    <%= f.text_field :hsn_for_guide_services %>
  </div>
  <div class="field">
    <%= f.label :hsn_for_transportation %><br />
    <%= f.text_field :hsn_for_transportation %>
  </div>
  <div class="field">
    <%= f.label :tour_operator_postal_address %><br />
    <%= f.text_area :tour_operator_postal_address, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :tour_operator_gstin %><br />
    <%= f.text_field :tour_operator_gstin %>
  </div>
  <div class="field">
    <%= f.label :tour_operator_counter_for_tax_invoice %><br />
    <%= f.number_field :tour_operator_counter_for_tax_invoice %>
  </div>
	</br>
  <div class="field">
    <%= f.label :own_property_postal_address %><br />
    <%= f.text_area :own_property_postal_address, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :own_property_gstin %><br />
    <%= f.text_field :own_property_gstin %>
  </div>
  <div class="field">
    <%= f.label :own_property_counter_for_tax_invoice %><br />
    <%= f.number_field :own_property_counter_for_tax_invoice %>
  </div>
	<div class="field">
		<%= f.label :payment_modes %><br />
	</div>
	<div class="nested_form">
    <%= f.fields_for :payment_modes, :validate => false %>
		<%= f.link_to_add "Add new", :payment_modes %><br/>
	</div>

  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
