<h1>Account Settings</h1>

<div class="show_saved_record">
<p>
  <b>Registered name:</b>
  <span class="saved_value"><%= @account_setting.registered_name %></span>
</p>

<p>
  <b>Display Name:</b>
  <span class="saved_value"><%= @account_setting.name %></span>
</p>

<p>
  <b>Name abbreviation:</b>
  <span class="saved_value"><%= @account_setting.name_abbreviation %></span>
</p>

<p>
  <b>Phone number:</b>
  <span class="saved_value"><%= @account_setting.phone_number_1 %></span>
</p>

<p>
  <b>Email:</b>
  <span class="saved_value"><%= @account_setting.email %></span>
</p>

<p>
  <b>Postal address:</b>
  <span class="saved_value"><%= @account_setting.postal_address %></span>
</p>

<p>
  <b>Url:</b>
  <span class="saved_value"><%= @account_setting.url %></span>
</p>

<p>
  <b>Pan:</b>
  <span class="saved_value"><%= @account_setting.pan %></span>
</p>

<p>
  <b>Service tax number:</b>
  <span class="saved_value"><%= @account_setting.service_tax_number %></span>
</p>

<p>
  <b>GSTIN:</b>
  <span class="saved_value"><%= @account_setting.gstin %></span>
</p>

<p>
  <b>Tds percent:</b>
  <span class="saved_value"><%= @account_setting.tds_percent %></span>
</p>

<p>
  <b>Service charge:</b>
  <span class="saved_value"><%= @account_setting.service_charge %></span>
</p>

<p>
  <b>CGST rate for Tour Operator Services:</b>
  <span class="saved_value"><%= @account_setting.cgst_rate_for_tour_operator_services %></span>
</p>

<p>
  <b>SGST rate for Tour Operator Services:</b>
  <span class="saved_value"><%= @account_setting.sgst_rate_for_tour_operator_services %></span>
</p>

<p>
  <b>CGST rate for Hotel Services:</b>
  <span class="saved_value"><%= @account_setting.cgst_rate_for_hotel_services %></span>
</p>

<p>
  <b>SGST rate for Hotel Services:</b>
  <span class="saved_value"><%= @account_setting.sgst_rate_for_hotel_services %></span>
</p>

<p>
  <b>HSN for Lodging:</b>
  <span class="saved_value"><%= @account_setting.hsn_for_lodging %></span>
</p>

<p>
  <b>HSN for Food:</b>
  <span class="saved_value"><%= @account_setting.hsn_for_food %></span>
</p>

<p>
  <b>HSN for Guide Services:</b>
  <span class="saved_value"><%= @account_setting.hsn_for_guide_services %></span>
</p>

<p>
  <b>HSN for Transportation:</b>
  <span class="saved_value"><%= @account_setting.hsn_for_transportation %></span>
</p>

<p>
  <b>Counter for Tax Invoice:</b>
  <span class="saved_value"><%= @account_setting.counter_for_tax_invoice %></span>
</p>

<% if @account_setting.payment_modes.any? %>
	<b>Payment modes:</b>
	<table class="nested_table">
		<% @account_setting.payment_modes.each do |payment_mode| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= payment_mode.name %></td>
			</tr>
		<% end %>
	</table>
<% end %>
</div>

<div class="action_container">
    <%= link_to 'Edit', edit_account_setting_path(@account_setting) %>
</div>
