<p id="notice"><span class"saved_value"><%= notice %></span></p>
<h1>Trek Booking details</h1>

<div class="show_saved_record">
<p>
  <b>Trip:</b>
  <span class"saved_value"><%= @trek_booking.trip_id %></span>
</p>

<p>
  <b>Trek:</b>
  <span class"saved_value"><%= @trek_booking.trek_id %></span>
</p>

<p>
  <b>Start date:</b>
  <span class"saved_value"><%= @trek_booking.start_date %></span>
</p>

<p>
  <b>Number of days:</b>
  <span class"saved_value"><%= @trek_booking.number_of_days %></span>
</p>

<p>
  <b>Unit price:</b>
  <span class"saved_value"><%= @trek_booking.unit_price %></span>
</p>

<p>
  <b>Origin:</b>
  <span class"saved_value"><%= @trek_booking.origin %></span>
</p>

<p>
  <b>Final destination:</b>
  <span class"saved_value"><%= @trek_booking.final_destination %></span>
</p>

<div class="action_container">
	<%= link_to 'Edit', edit_trek_booking_path(@trek_booking) %>
</div>

<%= link_to 'Back to Trek Booking Listing', trek_bookings_path,
			:class => "back_link" %>
