<%= nested_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this Booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :id, "Booking ID" %><br />
		<p><span class="highlight">
			<%= @booking.id %>
		</span></p>
	</div>
  <div class="field">
   	<%= f.label :trip_id %><br />
    <%= f.collection_select(:trip_id, 
					Trip.scoped_by_account_id(current_user.account_id).
					find_all_by_id(@booking.trip_id), :id, :long_name) %>
  </div>
	<div class="field">
   	<%= f.label :property_id %><br />
    <%= f.collection_select(:property_id, 
					Property.scoped_by_account_id(current_user.account_id).
					find_all_by_id(@booking.property_id), :id, :name) %>
	</div>
  <div class="field">
    <%= f.label :check_in_date, "Check-in" %><br />
    <%= f.date_select :check_in_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => true, :disabled => true %>
  </div>
	<div class="field">
		<%= f.label :number_of_nights, "Nights" %>
		<%= f.number_field :number_of_nights, :disabled => true %>
	</div>
	<div class="field">
    <%= f.label :total_price %><br />
		<p><span class="highlight">
    	<%= number_to_currency(@booking.total_price) if @booking.total_price %>
		</span></p>
	</div>
	<div class="field">
    <%= f.label :service_tax %><br />
		<p><span class="highlight">
    	<%= number_to_currency(@booking.service_tax) if @booking.service_tax %>
		</span></p>
  </div>
  <div class="field">
    <%= f.label :cancelled, "Cancel?" %>
    <%= f.check_box :cancelled, default: 1 %>
  </div>
  <div class="field">
    <%= f.label :cancellation_charge, "Cancellation chg." %><br />
   	<%= f.number_field :cancellation_charge %>
  </div>

  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
