<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this Booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   	<%= f.label :trip_id %><br />
		<% if @booking.trip_id] %>
    	<%= f.number_field :trip_id, :readonly => true %>
		<% else %>
    	<%= f.number_field :trip_id, :min => 1 %>
		<% end %>
  </div>
	<div class="field">
   	<%= f.label :room_type_id %><br />
		<% if params[:room_type_id] %>
    	<%= f.number_field :room_type_id, :readonly => true %>
		<% else %>
    	<%= f.number_field :room_type_id, :min => 1 %>
		<% end %>
	</div>
  <div class="field">
    <%= f.label :check_in_date %><br />
    <%= f.date_select :check_in_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => { 
			:year => 'Select year', :month => 'Select month', :day => 'Select day'} %>
  </div>
  <div class="field">
    <%= f.label :check_out_date %><br />
    <%= f.date_select :check_out_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => {
			:year => 'Select year', :month => 'Select month', :day => 'Select day'} %>
  </div>
  <div class="field">
    <%= f.label :number_of_adults %><br />
    <%= f.number_field :number_of_adults, :min => 1 %>
  </div>
  <div class="field">
    <%= f.label :number_of_children_between_5_and_12_years %><br />
    <%= f.number_field :number_of_children_between_5_and_12_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :number_of_children_below_5_years %><br />
    <%= f.number_field :number_of_children_below_5_years, :min => 0 %>
  </div>
	<div class="field">
    <%= f.label :number_of_rooms %><br />
    <%= f.number_field :number_of_rooms, :min => 1 %>
  </div>
  <div class="field">
    <%= f.label :number_of_drivers %><br />
    <%= f.number_field :number_of_drivers, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :guests_arrival_time %><br />
    <%= f.time_select :guests_arrival_time, :prompt => {
			:hour => 'Select hour', :minute => 'Select minute'} %>
  </div>
  <div class="field">
    <%= f.label :guests_arriving_from %><br />
    <%= f.text_field :guests_arriving_from %>
  </div>
  <div class="field">
    <%= f.label :guests_food_preferences %><br />
    <%= f.text_field :guests_food_preferences %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br />
    <%= f.text_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, rows: 6 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
