<%= nested_form_for(@booking, :remote => true) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this Booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   	<%= f.label :trip_id %><br />
		<% if @booking.trip_id %>
    	<%= f.collection_select(:trip_id, 
						Trip.scoped_by_account_id(current_user.account_id).
						find_all_by_id(@booking.trip_id), :id, :long_name) %>
		<% elsif session[:guest_id] %>
    	<%= f.collection_select(:trip_id, 
						Trip.scoped_by_account_id(current_user.account_id).
						joins('JOIN guests ON guests.id = trips.guest_id').
						order('guests.name, trips.name').
						find_all_by_guest_id(session[:guest_id]), :id, :long_name) %>
		<% else %>
    	<%= f.collection_select(:trip_id, 
						Trip.scoped_by_account_id(current_user.account_id).
						joins('JOIN guests ON guests.id = trips.guest_id').
						order('guests.name, trips.name').all, :id, :long_name) %>
		<% end %>
  </div>
	<div class="field">
   	<%= f.label :room_type_id %><br />
		<% if @booking.room_type_id %>
    	<%= f.collection_select(:room_type_id, 
						RoomType.scoped_by_account_id(current_user.account_id).
						find_all_by_id(@booking.room_type_id), :id, :long_name) %>
		<% else %>
    	<%= f.collection_select(:room_type_id, 
						RoomType.scoped_by_account_id(current_user.account_id).
						joins('JOIN properties ON properties.id = room_types.property_id').
						order('properties.name, room_types.room_type').all,
						:id, :long_name) %>
		<% end %>
	</div>
  <div class="field">
    <%= f.label :check_in_date, "Check-in" %><br />
    <%= f.date_select :check_in_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => true %>
  </div>
	<div class="field">
		<%= f.label :number_of_nights, "Nights" %>
		<%= f.number_field :number_of_nights, min: 1 %>
	</div>

	<%= hidden_div_if(true, class: "field") do %>
    <%= f.label :check_out_date %><br />
    <%= f.date_select :check_out_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => true %>
	<% end %>

	<div class="field">
		<%= f.label :rooms %>
	</div>
	<div class="nested_form">
		<%= f.fields_for :rooms %>
		<%= f.link_to_add "Add new", :rooms %><br/>
	</div>

	<div class="field">
    <%= f.label :meal_plan %><br />
		<%= f.select :meal_plan, Booking::MEAL_PLANS,
					prompt: 'Select a meal plan' %>
	</div>

	<div class="field">
		<%= f.label :number_of_drivers, "Drivers" %>
		<%= f.number_field :number_of_drivers, min: 0 %>
	</div>

	<% if @booking.room_type_id %>
		<div class="field">
			<%= f.label :value_added_services %>
		</div>
		<div class="nested_form">
			<%= f.fields_for :vas_bookings %>
			<%= f.link_to_add "Add new", :vas_bookings %><br/>
		</div>
	<% end %>

	<div class="field">
    <%= f.label :suggested_activities %><br />
		<%= f.text_area :suggested_activities %>
	</div>
	<div class="field">
    <%= f.label :guests_arriving_from, "Arriving from" %><br />
    <%= f.text_field :guests_arriving_from %>
	</div>
	<div class="field">
    <%= f.label :distance_and_time, "Distance / time" %><br />
    <%= f.text_field :distance_and_time %>
	</div>
	<div class="field">
    <%= f.label :guests_arrival_time, "Arrival time" %><br />
    <%= f.time_select :guests_arrival_time, :prompt => true %>
	</div>
	<div class="field">
    <%= f.label :getting_there, "Journey details" %><br />
    <%= f.text_area :getting_there, rows: 6 %>
	</div>
	<div class="field">
    <%= f.label :departure_destination, "Departure to" %><br />
    <%= f.text_field :departure_destination %>
	</div>
	<div class="field">
    <%= f.label :getting_home, "Homeward journey" %><br />
    <%= f.text_area :getting_home, rows: 6 %>
	</div>

  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
