<%= nested_form_for(@booking, :validate => true) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this Booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :voucher_no, "Voucher No" %><br/>
    <p><span class="highlight">
      <%= @booking.voucher_number %>
    </span></p>
  <% end %>
  <div class="field">
   	<%= f.label :trip_id %><br />
		<% if @booking.trip_id %>
    	<%= f.collection_select(:trip_id, 
						Trip.scoped_by_account_id(current_user.account_id).
							find_all_by_id(@booking.trip_id), :id, :guest_name_with_agency_and_dates) %>
    <% elsif session[:customer_id] %>
      <%= f.collection_select(:trip_id,
            Trip.scoped_by_account_id(current_user.account_id).order('name').
              find(:all, :conditions => [ 'customer_type = ? and customer_id = ? and end_date > ?',
                session[:customer_type], session[:customer_id], Date.today ]),
          :id, :guest_name_with_agency_and_dates) %>
    <% elsif @booking.check_in_date %>
      <%= f.collection_select(:trip_id,
            Trip.scoped_by_account_id(current_user.account_id).order('name').
              find(:all, :conditions => [ 'start_date <= ? and end_date > ?',
                @booking.check_in_date, @booking.check_in_date ]),
          :id, :guest_name_with_agency_and_dates) %>
    <% else %>
      <%= f.collection_select(:trip_id,
            Trip.scoped_by_account_id(current_user.account_id).order('name').
              find(:all, :conditions => [ 'end_date > ?',
                Date.today ]),
          :id, :guest_name_with_agency_and_dates) %>
		<% end %>
  </div>
	<div class="field">
   	<%= f.label :property_id %><br />
		<% if @booking.property_id %>
    	<%= f.collection_select(:property_id, 
						Property.scoped_by_account_id(current_user.account_id).
						find_all_by_id(@booking.property_id), :id, :name) %>
		<% end %>
	</div>
  <div class="field">
    <%= f.label :check_in_date, "Check-in" %><br />
    <%= f.text_field :check_in_date, size: 10, 
      :value => (@booking.check_in_date.to_s(:ddmonyyyy) if @booking.check_in_date),
      :readonly => true, :disabled => !@booking.new_record? %>
  </div>
	<div class="field">
		<%= f.label :number_of_nights, "Nights" %>
    <%= f.number_field :number_of_nights, min: 1, max: 99, :disabled => !@booking.new_record? %>
	</div>

	<div class="field">
		<%= f.label :rooms %>
	</div>
	<div class="nested_form">
    <%= f.fields_for :rooms, :validate => false %>
		<%= f.link_to_add "Add new", :rooms %><br/>
	</div>

	<div class="field">
    <%= f.label :meal_plan %><br />
		<%= f.select :meal_plan, Booking::MEAL_PLANS,
      prompt: 'Select a meal plan' %>
	</div>

	<div class="field">
		<%= f.label :value_added_services, "Other services" %>
	</div>
	<div class="nested_form">
    <%= f.fields_for :vas_bookings, :validate => false %>
		<%= f.link_to_add "Add new", :vas_bookings %><br/>
	</div>

	<div class="field">
    <%= f.label :guests_arriving_from, "Arriving from" %><br />
    <%= f.text_field :guests_arriving_from %>
	</div>
	<div class="field">
    <%= f.label :guests_arrival_time, "Arrival time" %><br />
    <%= f.time_select :guests_arrival_time, :prompt => true %>
	</div>
	<div class="field">
    <%= f.label :departure_destination, "Departure to" %><br />
    <%= f.text_field :departure_destination %>
	</div>
	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :total_price %><br />
		<p><span class="highlight">
    	<%= number_to_currency(@booking.total_price) %>
		</span></p>
	<% end %>
	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :service_tax %><br />
		<p><span class="highlight">
    	<%= number_to_currency(@booking.service_tax) %>
		</span></p>
	<% end %>
	<div class="field">
		<%= f.label :billing_instructions, "Billing Instr." %><br />
	</div>
	<div class="nested_form">
		<%= f.check_box :collect_for_all_extras, default: 1 %>
		<%= f.label :collect_for_all_extras, "Collect for all extras" %><br/>
		<%= f.check_box :collect_for_children, default: 1 %>
		<%= f.label :collect_for_children, "Collect for children" %><br/>
		<%= f.check_box :collect_for_driver_and_help, default: 1 %>
		<%= f.label :collect_for_driver_and_help, "Collect for driver and help" %><br/>
		<%= f.check_box :bill_agent_on_chosen_plan, default: 1 %>
    <%= f.label :bill_agent_on_chosen_plan, "Bill us on EPAI / CPAI / MAPAI / APAI" %><br/>
	</div>
	<div class="field">
    <%= f.label :reservation_reference, "Res Ref." %><br />
    <%= f.text_field :reservation_reference %>
	</div>
  <div class="field">
    <%= f.label :remarks, "Notes" %><br />
    <%= f.text_area :remarks, rows: 6 %>
  </div>

  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
