<%= nested_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this Booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   	<%= f.label :trip_id %><br />
		<% if @booking.trip_id %>
    	<%= f.number_field :trip_id, :readonly => true %>
		<% else %>
    	<%= f.number_field :trip_id, :min => 1 %>
		<% end %>
  </div>
	<div class="field">
   	<%= f.label :room_type_id %><br />
		<% if @booking.room_type_id %>
    	<%= f.number_field :room_type_id, :readonly => true %>
		<% else %>
    	<%= f.number_field :room_type_id, :min => 1 %>
		<% end %>
	</div>
  <div class="field">
    <%= f.label :check_in_date %><br />
    <%= f.date_select :check_in_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => { 
			:year => 'Select year', :month => 'Select month', :day => 'Select day'} %>
  </div>
  <div class="field">
    <%= f.label :check_out_date %><br />
    <%= f.date_select :check_out_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => {
			:year => 'Select year', :month => 'Select month', :day => 'Select day'} %>
  </div>

	<div class="field">
		<%= f.label :rooms %>
	</div>
	
	<div class="nested_form">
		<%= f.fields_for :rooms %>
		<%= f.link_to_add "Add row", :rooms %><br/>
	</div>

	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :number_of_children_below_5_years, "Children below 5" %><br />
    <%= f.number_field :number_of_children_below_5_years, :min => 0 %>
	<% end %>
	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :number_of_drivers %><br />
    <%= f.number_field :number_of_drivers, :min => 0 %>
	<% end %>
	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :guests_arrival_time, "Arrival time" %><br />
    <%= f.time_select :guests_arrival_time, :prompt => {
			:hour => 'Select hour', :minute => 'Select minute'} %>
	<% end %>
	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :guests_arriving_from, "Arriving from" %><br />
    <%= f.text_field :guests_arriving_from %>
	<% end %>
	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :guests_food_preferences, "Food preferences" %><br />
    <%= f.text_field :guests_food_preferences %>
	<% end %>
	<%= hidden_div_if(@booking.new_record?, class: "field") do %>
    <%= f.label :total_price %><br />
    <%= f.text_field :total_price, :readonly => true %>
	<% end %>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, rows: 6 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
