<%= nested_form_for(@booking, :remote => true) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this Booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   	<%= f.label :trip_id %><br />
		<% if @booking.trip_id %>
    	<%= f.collection_select(:trip_id, 
						Trip.find_all_by_id(@booking.trip_id), :id, :long_name) %>
		<% elsif session[:guest_id] %>
    	<%= f.collection_select(:trip_id, Trip.
						joins('JOIN guests ON guests.id = trips.guest_id').
						order('guests.name, trips.name').
						find_all_by_guest_id(session[:guest_id]), :id, :long_name) %>
		<% else %>
    	<%= f.collection_select(:trip_id, Trip.
						joins('JOIN guests ON guests.id = trips.guest_id').
						order('guests.name, trips.name').all, :id, :long_name) %>
		<% end %>
  </div>
	<div class="field">
   	<%= f.label :room_type_id %><br />
		<% if @booking.room_type_id %>
    	<%= f.collection_select(:room_type_id, 
						RoomType.find_all_by_id(@booking.room_type_id), :id, :long_name) %>
		<% else %>
    	<%= f.collection_select(:room_type_id, RoomType.
						joins('JOIN properties ON properties.id = room_types.property_id').
						order('properties.name, room_types.room_type').all,
						:id, :long_name) %>
		<% end %>
	</div>
  <div class="field">
    <%= f.label :check_in_date, "Check-in" %><br />
    <%= f.date_select :check_in_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => true %>
  </div>
	<div class="field">
		<%= f.label :number_of_days, "Nights" %>
		<%= f.number_field :number_of_nights, min: 1 %>
	</div>

	<%= hidden_div_if(true, class: "field") do %>
    <%= f.label :check_out_date %><br />
    <%= f.date_select :check_out_date, :start_year => Time.now.year, 
			:end_year => Time.now.year + 1, :prompt => true %>
	<% end %>

	<div class="field">
		<%= f.label :rooms %>
	</div>
	
	<div class="nested_form">
		<%= f.fields_for :rooms %>
		<%= f.link_to_add "Add row", :rooms %><br/>
	</div>

  <div class="field">
    <%= f.label :number_of_drivers, "Drivers" %><br />
    <%= f.number_field :number_of_drivers %>
  </div>

  <div class="field">
    <%= f.label :comments, 'Comments' %><br />
    <%= f.text_area :comments, rows: 6 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
