<div class="nested_form_row">
	<fieldset>
    <%= f.radio_button :occupancy, 'Single', :required => true %>
		<%= f.label :single, "Single" %>
		<%= f.radio_button :occupancy, 'Double' %>
		<%= f.label :double, "Double" %>
	</fieldset>
	
	<%= f.label :room_type_id, "Room type" %>
	<% if @booking.property_id %>
  	<%= f.collection_select(:room_type_id,
					RoomType.scoped_by_account_id(current_user.account_id).
					find_all_by_property_id(@booking.property_id), :id, :room_type) %>
	<% else %>
  	<%= f.collection_select(:room_type_id,
					RoomType.scoped_by_account_id(current_user.account_id).
					find(:all), :id, :long_name) %>
	<% end %>

	<%= f.label :number_of_rooms, "#" %>
  <%= f.number_field :number_of_rooms, min: 1, max: 99, :required => true %>

	<%= f.label :number_of_adults, "Adults" %>
  <%= f.number_field :number_of_adults, min: 1, max: 4, :required => true %>
	
	<%= f.label :number_of_children_between_5_and_12_years, "Children" %>
	<%= f.number_field :number_of_children_between_5_and_12_years, 
				min: 0, max: 2 %>
	
	<%= f.label :number_of_children_below_5_years, "Infants" %>
	<%= f.number_field :number_of_children_below_5_years, 
				min: 0, max: 2 %>
	
	<%= f.link_to_remove "x" %>
</div>
