<div class="nested_form_row">
   <%= f.label :tax_type, "Tax Type" %>
   <%= f.select :tax_type, VasBooking::TAX_TYPES,
      prompt: 'Select Tax Type' %>

	<%= f.check_box :every_day, :default => 0 %>
	<%= f.label :every_day, "All days" %>

	<%= f.text_field :value_added_service, size: 20 %>

	<%= f.label :unit_price, "Unit price" %>
	<%= f.number_field :unit_price, min: 0, max: 9999 %>

	<%= f.label :number_of_units, "#" %>
	<%= f.number_field :number_of_units, min: 0, max: 99 %>

	<%= f.label :discount_percentage, "Discount" %>
	<%= f.number_field :discount_percentage, min: 0, max: 100 %>

	<%= f.link_to_remove "x" %>
</div>	
