<% if @bookings.count > 0 %>
<h2>Bookings</h2>

<table border="1">
	<tr>
		<th>Guest</th>
		<th>Rooms</th>
		<th>The Team</th>
		<th>Arriving from</th>
		<th>Total price</th>
		<th>Food preferences</th>
		<th>Comments</th>
		<th></th>
	</tr>

	<% @bookings.each do |booking| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td class="nowrap_cell">
			<%= booking.trip.guest.name %><br/>
    	<%= booking.trip.guest.phone_number %>
		</td>

    <td class="nowrap_cell">
    	<%= booking.room_type.property.name %></br>
      <%= pluralize(booking.number_of_rooms, booking.room_type.room_type) %></br>
    	<%= l booking.check_in_date, :format => :short %> to <%= l booking.check_out_date, :format => :short %>
		</td>

    <td class="nowrap_cell">
			Adults: <%= booking.number_of_adults %><br/>
    	Children (btw 5 & 12): <%= booking.number_of_children_between_5_and_12_years %><br/>
    	Children below 5: <%= booking.number_of_children_below_5_years %><br/>
			Drivers: <%= booking.number_of_drivers %>
		</td>

    <td class="nowrap_cell">
    	<%= booking.guests_arriving_from %><br/>
			<%= l booking.guests_arrival_time, :format => :short if booking.guests_arrival_time %>
		</td>

    <td class="nowrap_cell">
			<% if booking.total_price != 0 %>
				<%= number_to_currency(booking.total_price) %>
			<% end %>
		</td>

    <td>
			<%= booking.guests_food_preferences %>
		</td>

    <td><%= booking.comments %></td>

    <td class='link'>
    	<%= link_to 'Edit', edit_booking_path(booking) %><br/>
    	<%= link_to 'Destroy', booking, confirm: 'Are you sure?', method: :delete %>
		</td>
  </tr>
	<% end %>
</table>
<% else %>
	<p>Click below for creating a new booking</p> 
<% end %>

<div class="action_container">
	<%= link_to 'New Booking', new_booking_path %>
</div>
