<h1>Bookings</h1>

<table>
	<% @bookings.each do |booking| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
			<dl class='list_description'>
				<dt><%= booking.guest_name %></dt>
    		<dd><%= booking.guest_phone_number %></dd>
    		<dd><%= booking.guest_email_id %></dd>
			</dl>
		</td>

    <td>
			<dl class='list_description'>
        <dd><%= booking.room_type.property.name %></dd>
        <dd><%= pluralize(booking.number_of_rooms, booking.room_type.room_type) %></dd>
    		<dd><%= l booking.check_in_date, :format => :short %> to <%= l booking.check_out_date, :format => :short %></dd>
			</dl>
		</td>

    <td width=75>
			Adults: <%= booking.number_of_adults %><br/>
    	Children (btw 5 & 12): <%= booking.number_of_children_between_5_and_12_years %><br/>
    	Children below 5: <%= booking.number_of_children_below_5_years %>
		</td>

    <td>
			<dl class='list_description'>
				<dt>Arriving at <%= unless booking.guests_arrival_time.nil?
															l booking.guests_arrival_time, :format => :short
														end %></dt>
    		<dd>From <%= booking.guests_arriving_from %></dd>
			</dl>
		</td>

    <td>
			<dl class='list_description'>
				<dt><% if booking.total_price != 0 %>
									<%= number_to_currency(booking.total_price) %>
						<% end %></dt>
    		<dd>Paid: <% if booking.paid != 0 %>
												<%= number_to_currency(booking.paid) %>
									<% end %></dd>
				<dd>Balance: <%if booking.balance_payment != 0 %>
													<%= number_to_currency(booking.balance_payment) %>
										 <% end %></dd>
    		<dd>Pay by: <%= l booking.pay_by_date, :format => :short %></dd>
			</dl>
		</td>

    <td><b>Food preferences: </b><%= booking.guests_food_preferences %></td>

    <td><%= booking.comments %></td>

    <td class='list_actions'>
			<%= link_to 'Show', booking %><br/>
    	<%= link_to 'Edit', edit_booking_path(booking) %><br/>
    	<%= link_to 'Destroy', booking, confirm: 'Are you sure?', method: :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
