<h1>Listing Bookings</h1>

<% if !session[:guest_id] %>
	<div id="search">
		<%= render 'search' %>
	</div>
<% end %>

<% if @records_returned == 0 %>
	<div id="error_explanation">
		<h2>Bookings not found</h2>
		<ul>
			<% if session[:trip_id] %>
				<li>Click below to create a new Booking</li>
			<% else %>
				<li>Change your search conditions</li>
			<% end %>
		</ul>
	</div>
<% else %>	
	<% if notice %>
		<div id="error_explanation">
			<h2>Unable to delete</h2>
			<ul>
				<li><%= notice %></li>
			</ul>
		</div>
	<% end %>

	<table class="index_table" border="1">
		<tr>
			<th class="number">ID</th>
			<th class="text">Guest</th>
			<th class="text">Rooms</th>
			<th class="text"># People</th>
			<th class="text">Arriving from</th>
			<th class="number">Price</th>
			<th class="text">Food preferences</th>
			<th class="text">Proposed activities</th>
			<th></th>
		</tr>
	
		<% @bookings.each do |booking| %>
		  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="number">
					<%= booking.id %>
				</td>
		    <td class="text">
					<%= booking.trip.guest.name %><br/>
		    	<%= booking.trip.guest.phone_number %>
				</td>
		    <td class="text">
		    	<%= booking.room_type.property.name %></br>
		      <%= pluralize(booking.number_of_rooms, 
								booking.room_type.room_type) %></br>
		    	<%= l booking.check_in_date, :format => :short %> to <%= l booking.check_out_date, :format => :short %><br/>
					(<%= booking.number_of_nights %> nights)
				</td>
		    <td class="text">
					Adults: <%= booking.number_of_adults %><br/>
					<% if booking.number_of_children_between_5_and_12_years != 0 %>
		    		Children (btw 5 & 12): <%= booking.number_of_children_between_5_and_12_years %><br/>
					<% end %>
					<% if booking.number_of_children_below_5_years != 0 %>
		    		Children below 5: <%= booking.number_of_children_below_5_years %><br/>
					<% end %>
					<% if booking.number_of_drivers != 0 %>
						Drivers: <%= booking.number_of_drivers %>
					<% end %>
				</td>
		    <td class="text">
		    	<%= booking.guests_arriving_from %><br/>
					<%= l booking.guests_arrival_time, :format => :short if booking.guests_arrival_time %>
				</td>
		    <td class="number">
					<% if booking.total_price != 0 %>
						<%= number_to_currency(booking.total_price) %><br/>
					<% end %>
					<% if booking.service_tax != 0 %>
						Tax: <%= number_to_currency(booking.service_tax) %>
					<% end %>
				</td>
		    <td class="text"><%= booking.food_preferences %></td>
		    <td class="prewrap"><%= booking.notes %></td>
		
		    <td class='link'>
					<%= link_to 'Show details', booking %><br/>
		    	<%= link_to 'Edit', edit_booking_path(booking) %><br/>
		    	<%= link_to 'Destroy', booking, confirm: 'Are you sure?', 
								method: :delete %>
				</td>
		  </tr>
		<% end %>
	</table>
<% end %>

<% if session[:trip_id] %>
	<div class="action_container">
		<%= link_to 'New Booking', new_booking_path %>
		<%= link_to 'Availability Chart', availability_chart_path %>
	</div>
<% end %>
<p><%= will_paginate @bookings %></p>
