<h1>Listing Room Bookings</h1>

<% if !(session[:customer_id]) %>
	<div id="search">
		<%= render 'search' %>
	</div>
<% end %>

<% if @records_returned == 0 %>
	<div id="error_explanation">
		<h2>Bookings not found</h2>
		<ul>
			<% if session[:trip_id] %>
				<li>Click below link to create new bookings</li>
			<% elsif session[:customer_id] %>
				<li>Create / Select a Trip to create new bookings</li>
			<% else %>
				<li>Check your search conditions</li>
			<% end %>
		</ul>
	</div>
<% else %>	
	<table class="index_table" border="1">
		<tr>
			<th class="number">ID</th>
			<th class="text">Guest</th>
			<th class="text">Property</th>
			<th class="text">Rooms</th>
			<th class="text">Arriving from</th>
			<th class="text">Medical constraints</th>
			<th class="text">Total Price</th>
			<th></th>
		</tr>
	
		<% @bookings.each do |booking| %>
		  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="number">
					<%= booking.id %>
				</td>
		    <td class="text">
					<span class="nowrap"><%= booking.trip.guest_name %></span><br/>
		    	<span class="nowrap"><%= booking.trip.guest_phone_number %></span>
				</td>
		    <td class="text">
		    	<%= booking.property.name %></br>
		    	<span class="nowrap"><%= l booking.check_in_date, :format => :short %> to <%= l booking.check_out_date, :format => :short %></span><br/>
					(<%= booking.number_of_nights %> nights)
				</td>
		    <td class="text">
					<% booking.rooms.each do |room| %>
            <% if room.cancelled == 0 %>
						  <span class="nowrap"><%= pluralize(room.number_of_rooms, room.room_type.room_type) %> @ 
						  <%= room.all_guests_per_room %> / room<br/></span>
            <% else %>
						  <span class="strikethrough"><%= pluralize(room.number_of_rooms, room.room_type.room_type) %> @ 
						  <%= room.all_guests_per_room %> / room<br/></span>
            <% end %>
					<% end %>
					<span class="nowrap">Meal plan: <%= booking.meal_plan %></span>
				</td>
		    <td class="text">
		    	<%= booking.guests_arriving_from %><br/>
					<% if booking.guests_arrival_time %>
						@ <%= l booking.guests_arrival_time, :format => :short %>
					<% end %>
				</td>
		    <td class="text"><%= booking.medical_constraints %></td>
				<td><span class="nowrap">Price: <%= number_to_currency(booking.total_price) %></span></td>
		
		    <td class='link'>
					<%= link_to 'Show details', booking %><br/>
		    	<%= link_to 'Edit', edit_booking_path(booking) %><br/>
					<% if booking.trip.payment_status == Trip::NOT_PAID %>
		    		<%= link_to 'Destroy', booking, confirm: 'Are you sure?', 
									method: :delete %>
					<% end %>
				</td>
		  </tr>
		<% end %>
	</table>
<% end %>

<% if session[:customer_id] %>
	<div class="action_container">
		<%= link_to 'New Room Booking', new_booking_path %>
	</div>
<% end %>
<p><%= will_paginate @bookings %></p>
