<h1>Booking details</h1>

<div class="show_saved_record">
<p>
  <b>Voucher No:</b>
  <span class="saved_value"><%= @booking.voucher_number %></span>
</p>

<p>
  <b>Customer:</b>
  <span class="saved_value"><%= @booking.trip.customer.name %></span>
</p>

<p>
  <b>Trip:</b>
  <span class="saved_value"><%= @booking.trip.name %></span>
</p>

<p>
	<b>Property:</b>
  <span class="saved_value"><%= @booking.property.name %></span>
</p>

<p>
  <b>Check in:</b>
  <span class="saved_value"><%= l @booking.check_in_date %></span>
</p>

<p>
  <b>Check out:</b>
  <span class="saved_value"><%= l @booking.check_out_date %></span>
</p>

<p>
  <b>Nights:</b>
  <span class="saved_value"><%= @booking.number_of_nights %></span>
</p>

	<b>Rooms:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Occupancy</th>
			<th class="nowrap">Room type</th>
			<th class="number"># rooms</th>
			<th class="number">Adults / room</th>
			<th class="currency">Room rate</th>
			<th class="currency">Value</th>
			<th class="number">Discount</th>
			<th class="currency">Taxable value</th>
			<th class="currency">CGST</th>
			<th class="currency">SGST</th>
			<th class="currency">Total</th>
			<th class="text">Cancelled?</th>
			<th class="currency">Cancellation fee</th>
		</tr>

		<% @booking.rooms.each do |room| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= room.occupancy %></td>
				<td class="nowrap"><%= room.room_type.room_type %></td>
				<td class="number"><%= room.number_of_rooms %></td>
				<td class="number"><%= room.number_of_adults %></td>
				<td class="currency"><%= number_to_currency(room.room_rate) %></td>
				<td class="currency"><%= number_to_currency(room.value) %></td>
				<td class="number"><%= number_to_currency(room.discount) %></td>
				<td class="currency"><%= number_to_currency(room.taxable_value) %></td>
				<td class="currency"><%= number_to_currency(room.cgst) %></td>
				<td class="currency"><%= number_to_currency(room.sgst) %></td>
				<td class="currency"><%= number_to_currency(room.total_price) %></td>
				<td class="text"><%= room.cancelled.to_english %></td>
				<td class="currency"><%= number_to_currency(room.cancellation_charge) %></td>
			</tr>
		<% end %>
	</table>

<p>
  <b>Meal Plan:</b>
  <span class="saved_value"><%= @booking.meal_plan %></span>
</p>

<% if @booking.vas_bookings.any? %>
	<b>Other Services:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Name</th>
			<th class="number">Unit price</th>
			<th class="number">#</th>
			<th class="text">All days</th>
			<th class="number">Value</th>
			<th class="number">Discount</th>
			<th class="number">Taxable value</th>
			<th class="number">CGST</th>
			<th class="number">SGST</th>
			<th class="number">Total</th>
		</tr>
	
		<% @booking.vas_bookings.each do |vas_booking| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= vas_booking.value_added_service %></td>
				<td class="number"><%= number_to_currency(vas_booking.unit_price) %></td>
				<td class="number"><%= vas_booking.number_of_units %></td>
				<td class="text"><%= vas_booking.every_day.to_english %></td>
				<td class="number"><%= number_to_currency(vas_booking.value) %></td>
				<td class="number"><%= number_to_currency(vas_booking.discount) %></td>
				<td class="number"><%= number_to_currency(vas_booking.taxable_value) %></td>
				<td class="number"><%= number_to_currency(vas_booking.cgst) %></td>
				<td class="number"><%= number_to_currency(vas_booking.sgst) %></td>
				<td class="number"><%= number_to_currency(vas_booking.total_price) %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<p>
  <b>Arriving from:</b>
  <span class="saved_value"><%= @booking.guests_arriving_from %></span>
</p>

<%= hidden_p_unless(@booking.guests_arriving_from != "") do %>
  <b>Aarrival time:</b>
  <span class="saved_value"><%= l @booking.guests_arrival_time, :format => :short if @booking.guests_arrival_time %></span>
<% end %>

<p>
  <b>Departure to:</b>
  <span class="saved_value"><%= @booking.departure_destination %></span>
</p>

<p>
  <b>Value:</b>
  <span class="saved_value"><%= number_to_currency(@booking.discount + @booking.taxable_value) if @booking.taxable_value %></span>
</p>

<p>
  <b>Discount:</b>
  <span class="saved_value"><%= number_to_currency(@booking.discount) if @booking.discount %></span>
</p>

<p>
  <b>Taxable value:</b>
  <span class="saved_value"><%= number_to_currency(@booking.taxable_value) if @booking.taxable_value %></span>
</p>

<p>
  <b>CGST:</b>
  <span class="saved_value"><%= number_to_currency(@booking.cgst) if @booking.cgst %></span>
</p>

<p>
  <b>SGST:</b>
  <span class="saved_value"><%= number_to_currency(@booking.sgst) if @booking.sgst %></span>
</p>

<p>
  <b>Total price:</b>
  <span class="saved_value"><%= number_to_currency(@booking.total_price) if @booking.total_price %></span>
</p>

<b>Billing instructions:</b>
<table class="nested_table">
	<tr>
  	<td>Collect for all extras</td>
		<td><%= @booking.collect_for_all_extras.to_english %></td>
	</tr>
	<tr>
  	<td>Collect for children</td>
		<td><%= @booking.collect_for_children.to_english %></td>
	</tr>
	<tr>
  	<td>Collect for driver and help</td>
		<td><%= @booking.collect_for_driver_and_help.to_english %></td>
	</tr>
	<tr>
    <td>Bill us on EPAI / CPAI / MAPAI / APAI</td>
		<td><%= @booking.bill_agent_on_chosen_plan.to_english %></td>
	</tr>
</table>

<p>
  <b>Reservation Reference:</b>
  <span class="saved_value"><%= @booking.reservation_reference %></span>
</p>

<p>
  <b>Notes:</b>
  <span class="saved_value"><%= @booking.remarks %></span>
</p>

<div class="action_container">
	<%= link_to 'Edit', edit_booking_path(@booking) %>
</div>

<%= link_to 'Back to Booking Listing', bookings_path, :class => "back_link" %>
