<p id="notice"><%= notice %></p>

<p>
  <b>Trip id:</b>
  <%= @booking.trip_id %>
</p>
<p>
  <b>Guest name:</b>
  <%= @booking.trip.guest.name %>
</p>

<p>
  <b>Guest phone number:</b>
  <%= @booking.trip.guest.phone_number %>
</p>

<p>
	<b>Property:</b>
	<%= @booking.room_type.property.name %>
</p>

<p>
	<b>Room type:</b>
	<%= @booking.room_type.room_type %>
</p>

<p>
  <b>Number of rooms:</b>
  <%= @booking.number_of_rooms %>
</p>

<p>
  <b>Check in date:</b>
  <%= l @booking.check_in_date if @booking.check_in_date %>
</p>

<p>
  <b>Check out date:</b>
  <%= l @booking.check_out_date if @booking.check_out_date %>
</p>

<p>
  <b>Number of adults:</b>
  <%= @booking.number_of_adults %>
</p>

<p>
  <b>Number of children btw 5 & 12:</b>
  <%= @booking.number_of_children_between_5_and_12_years %>
</p>

<p>
  <b>Number of children below 5:</b>
  <%= @booking.number_of_children_below_5_years %>
</p>

<p>
  <b>Number of drivers:</b>
  <%= @booking.number_of_drivers %>
</p>

<p>
  <b>Guests arrival time:</b>
  <%= l @booking.guests_arrival_time, :format => :short if @booking.guests_arrival_time %>
</p>

<p>
  <b>Guests arriving from:</b>
  <%= @booking.guests_arriving_from %>
</p>

<p>
  <b>Guests food preferences:</b>
  <%= @booking.guests_food_preferences %>
</p>

<p>
  <b>Total price:</b>
  <%= @booking.total_price %>
</p>

<p>
  <b>Comments:</b>
  <%= @booking.comments %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %> |
Version <%= @booking.version %> |
<% if params[:version] %>
	<%= link_to 'Latest Version', :version => nil %> |
<% end %>
<% if @booking.version > 1 %>
	<%= link_to 'Previous Version', :version => @booking.version-1 %>
<% end %>
