<h1>Booking details</h1>

<div class="show_saved_record">
<p>
  <b>Voucher No:</b>
  <span class="saved_value"><%= @booking.voucher_number %></span>
</p>

<p>
  <b>Customer:</b>
  <span class="saved_value"><%= @booking.trip.customer.name %></span>
</p>

<p>
  <b>Trip:</b>
  <span class="saved_value"><%= @booking.trip.name %></span>
</p>

<p>
	<b>Property:</b>
  <span class="saved_value"><%= @booking.property.name %></span>
</p>

<p>
  <b>Check in:</b>
  <span class="saved_value"><%= l @booking.check_in_date %></span>
</p>

<p>
  <b>Check out:</b>
  <span class="saved_value"><%= l @booking.check_out_date %></span>
</p>

<p>
  <b>Nights:</b>
  <span class="saved_value"><%= @booking.number_of_nights %></span>
</p>

	<b>Rooms:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Occupancy</th>
			<th class="nowrap">Room type</th>
			<th class="number"># rooms</th>
			<th class="number">Adults / room</th>
			<th class="number">Children / room</th>
			<th class="number">Infants / room</th>
			<th class="currency">Room rate</th>
			<th class="currency">Total Price</th>
			<th class="currency">Food</th>
			<th class="currency">Transport & Guide</th>
			<th class="currency">Lodging</th>
			<th class="currency">VAT</th>
			<th class="currency">Service Tax</th>
			<th class="currency">Luxury Tax</th>
      <th class="text">Cancelled?</th>
			<th class="currency">Cancellation fee</th>
		</tr>

		<% @booking.rooms.each do |room| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= room.occupancy %></td>
				<td class="nowrap"><%= room.room_type.room_type %></td>
				<td class="number"><%= room.number_of_rooms %></td>
				<td class="number"><%= room.number_of_adults %></td>
				<td class="number"><%= room.number_of_children_between_5_and_12_years %></td>
				<td class="number"><%= room.number_of_children_below_5_years %></td>
				<td class="currency"><%= number_to_currency(room.room_rate) %></td>
				<td class="currency"><%= number_to_currency(room.total_price) %></td>
				<td class="currency"><%= number_to_currency(room.food_charges) %></td>
				<td class="currency"><%= number_to_currency(room.transportation_and_guide_charges) %></td>
				<td class="currency"><%= number_to_currency(room.lodging_charges) %></td>
				<td class="currency"><%= number_to_currency(room.vat) %></td>
				<td class="currency"><%= number_to_currency(room.service_tax) %></td>
				<td class="currency"><%= number_to_currency(room.luxury_tax) %></td>
				<td class="text"><%= room.cancelled.to_english %></td>
				<td class="currency"><%= number_to_currency(room.cancellation_charge) %></td>
			</tr>
		<% end %>
	</table>

<p>
  <b>Meal Plan:</b>
  <span class="saved_value"><%= @booking.meal_plan %></span>
</p>

<% if @booking.vas_bookings.any? %>
	<b>Other Services:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Tax Type</th>
			<th class="text">Name</th>
			<th class="text">All days</th>
			<th class="number">Unit price</th>
			<th class="number">#</th>
			<th class="number">Total price</th>
			<th class="number">VAT</th>
			<th class="number">Service Tax</th>
		</tr>
	
		<% @booking.vas_bookings.each do |vas_booking| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= vas_booking.tax_type %></td>
				<td class="text"><%= vas_booking.value_added_service %></td>
				<td class="text"><%= vas_booking.every_day.to_english %></td>
				<td class="number"><%= number_to_currency(vas_booking.unit_price) %></td>
				<td class="number"><%= vas_booking.number_of_units %></td>
				<td class="number"><%= number_to_currency(vas_booking.total_price) %></td>
				<td class="number"><%= number_to_currency(vas_booking.vat) %></td>
				<td class="number"><%= number_to_currency(vas_booking.service_tax) %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<p>
  <b>Arriving from:</b>
  <span class="saved_value"><%= @booking.guests_arriving_from %></span>
</p>

<%= hidden_p_unless(@booking.guests_arriving_from != "") do %>
  <b>Aarrival time:</b>
  <span class="saved_value"><%= l @booking.guests_arrival_time, :format => :short if @booking.guests_arrival_time %></span>
<% end %>

<p>
  <b>Departure to:</b>
  <span class="saved_value"><%= @booking.departure_destination %></span>
</p>

<p>
  <b>Total price:</b>
  <span class="saved_value"><%= number_to_currency(@booking.total_price) if @booking.total_price %></span>
</p>

<p>
  <b>Price for rooms:</b>
  <span class="saved_value"><%= number_to_currency(@booking.price_for_rooms) if @booking.price_for_rooms %></span>
</p>

<p>
  <b>Price for VAS:</b>
  <span class="saved_value"><%= number_to_currency(@booking.price_for_vas) if @booking.price_for_vas %></span>
</p>

<p>
  <b>VAT for Rooms:</b>
  <span class="saved_value"><%= number_to_currency(@booking.vat) if @booking.vat %></span>
</p>

<p>
  <b>Service tax for Rooms:</b>
  <span class="saved_value"><%= number_to_currency(@booking.service_tax) if @booking.service_tax %></span>
</p>

<p>
  <b>Luxury tax for Rooms:</b>
  <span class="saved_value"><%= number_to_currency(@booking.luxury_tax) if @booking.luxury_tax %></span>
</p>

<p>
  <b>VAT for Value Added Services:</b>
  <span class="saved_value"><%= number_to_currency(@booking.vat_vas) if @booking.vat_vas %></span>
</p>

<p>
  <b>Service tax for Value Added Services:</b>
  <span class="saved_value"><%= number_to_currency(@booking.service_tax_vas) if @booking.service_tax_vas %></span>
</p>

<b>Billing instructions:</b>
<table class="nested_table">
	<tr>
  	<td>Collect for all extras</td>
		<td><%= @booking.collect_for_all_extras.to_english %></td>
	</tr>
	<tr>
  	<td>Collect for children</td>
		<td><%= @booking.collect_for_children.to_english %></td>
	</tr>
	<tr>
  	<td>Collect for driver and help</td>
		<td><%= @booking.collect_for_driver_and_help.to_english %></td>
	</tr>
	<tr>
    <td>Bill us on EPAI / CPAI / MAPAI / APAI</td>
		<td><%= @booking.bill_agent_on_chosen_plan.to_english %></td>
	</tr>
</table>

<p>
  <b>Reservation Reference:</b>
  <span class="saved_value"><%= @booking.reservation_reference %></span>
</p>

<p>
  <b>Notes:</b>
  <span class="saved_value"><%= @booking.remarks %></span>
</p>

<div class="action_container">
	<%= link_to 'Edit', edit_booking_path(@booking) %>
</div>

<%= link_to 'Back to Booking Listing', bookings_path, :class => "back_link" %>
