<p id="notice"><%= notice %></p>
<h1>Booking details</h1>

<div class="show_saved_record">
<p>
  <b>Guest:</b>
  <span class="saved_value"><%= @booking.trip.guest.name %>
</p>

<p>
  <b>Trip name:</b>
  <span class="saved_value"><%= @booking.trip.name %>
</p>

<p>
	<b>Property:</b>
	<span class="saved_value"><%= @booking.room_type.property.name %>
</p>

<p>
	<b>Room type:</b>
	<span class="saved_value"><%= @booking.room_type.room_type %>
</p>

<p>
  <b>Check in date:</b>
  <span class="saved_value"><%= l @booking.check_in_date %>
</p>

<p>
  <b>Nights:</b>
  <span class="saved_value"><%= @booking.number_of_nights %>
</p>

<p>
  <b>Check out date:</b>
  <span class="saved_value"><%= l @booking.check_out_date %>
</p>

	<b>Rooms:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Single / Double</th>
			<th class="number">Adults / room</th>
			<th class="number">Children / room</th>
			<th class="number">Number of rooms</th>
			<th class="number">Room rate / night</th>
		</tr>

		<% @booking.rooms.each do |room| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= room.occupancy %></td>
				<td class="number"><%= room.number_of_adults %></td>
				<td class="number"><%= room.number_of_children_between_5_and_12_years %></td>
				<td class="number"><%= room.number_of_rooms %></td>
				<td class="number"><%= room.room_rate %></td>
			</tr>
		<% end %>
	</table>

<p>
  <b>Drivers:</b>
  <span class="saved_value"><%= @booking.number_of_drivers %>
</p>

<%= hidden_p_unless(@booking.guests_arrival_time) do %>
  <b>Guests arrival time:</b>
  <span class="saved_value"><%= l @booking.guests_arrival_time, :format => :short if @booking.guests_arrival_time %>
<% end %>

<%= hidden_p_unless(@booking.guests_arriving_from != "") do %>
  <b>Guests arriving from:</b>
  <span class="saved_value"><%= @booking.guests_arriving_from %>
<% end %>

<% if @booking.vas_bookings.any? %>
	<b>Value Added Services:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Name</th>
			<th class="number">#</th>
			<th class="number">Days</th>
			<th class="number">Unit price</th>
			<th class="text">Description</th>
		</tr>
	
		<% @booking.vas_bookings.each do |vas_booking| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= vas_booking.value_added_service.name %></td>
				<td class="number"><%= vas_booking.number_of_people %></td>
				<td class="number"><%= vas_booking.number_of_days %></td>
				<td class="number"><%= vas_booking.unit_price %></td>
				<td class="text"><%= vas_booking.description %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<p>
  <b>Total price:</b>
  <span class="saved_value"><%= number_to_currency(@booking.total_price) if @booking.total_price %>
</p>

<p>
  <b>Comments:</b>
  <span class="saved_value"><%= @booking.comments %>
</p>


<div class="action_container">
	<%= link_to 'Edit', edit_booking_path(@booking) %>
	<%= link_to 'Check Availability', availability_chart_path %>
</div>

<%= link_to 'Back to Booking Listing', bookings_path, :class => "back_link" %>
