<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% if current_user.is? "Super admin" %>
		<div class="field">
		  <%= f.label :account %><br />
			<%= f.collection_select(:account_id, Account.find_all_by_id(@user.account_id), :id, :subdomain) %>
		</div>
	<% end %>
  <div class="field">
    <%= f.label :advisor_id %><br />
		<%= f.collection_select(:advisor_id, Advisor.find_all_by_id(@user.advisor_id), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :readonly => true %>
  </div>
	<% if current_user.is? "Super admin" %>
  	<div class="field">
    	<%= f.label :role %><br />
			<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  	</div>
	<% end %>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
