<h1>Listing Users</h1>

<% if @users.count > 0 %>
	<table class="index_table" border="1">
	  <tr>
		<% if current_user.is? "Super admin" %>
			<th>Account</th>
		<% end %>
	    <th>Advisor</th>
	    <th>Email</th>
	    <th>Role</th>
	    <th></th>
	  </tr>
	
		<% @users.each do |user| %>
		  <tr>
				<% if current_user.is? "Super admin" %>
    			<td><%= user.account.subdomain if user.account_id %></td>
				<% end %>
		    <td><%= user.advisor.name if user.advisor_id %></td>
		    <td><%= user.email %></td>
		    <td><%= user.role.humanize if user.role %></td>
		    <td>
					<% if user != current_user %>
		    		<%= link_to 'Deactivate', user, confirm: 'Are you sure?',
									method: :delete %>
					<% end %>
				</td>
		  </tr>
		<% end %>
	</table>
<% else %>
	<div id="error_explanation">
		<h2>Users have not yet been activated</h2>
		<ul>
			<li>Activate Users from Advisor Mgmt</li>
		</ul>
	</div>
<% end %>
