<h1>Listing Users</h1>

<% if notice %>
	<%= notice %>
<% end %>

<% if @users.count > 0 %>
	<table class="index_table" border="1">
	  <tr>
	    <th>Advisor</th>
	    <th>Agency</th>
	    <th>Username</th>
	    <th></th>
	  </tr>
	
		<% @users.each do |user| %>
		  <tr>
		    <td><%= user.advisor.name %></td>
		    <td><%= user.advisor.agency.name %></td>
		    <td><%= user.name %></td>
		    <td>
					<%= link_to 'Show', user %><br />
		    	<%= link_to 'Edit', edit_user_path(user) %><br />
		    	<%= link_to 'Destroy', user, confirm: 'Are you sure?',
								method: :delete %>
				</td>
		  </tr>
		<% end %>
	</table>
<% end %>

<div class="action_container">
	<%= link_to 'New User', new_user_path %>
</div>
