<% if session[:agency_id] %>
	<h1>
		Listing Users for '<%= Agency.find(session[:agency_id]).name %>'
	</h1>
	<%= link_to 'Show all Users', users_path(:agency_id => 'All') %>
<% else %>
	<h1>Listing all Users</h1>
<% end %>

<% if notice %>
	<p><span class="highlight"><%= notice %></span></p>
<% end %>

<% if @users.count > 0 %>
	<table class="index_table" border="1">
	  <tr>
	    <th>Advisor</th>
	    <th>Agency</th>
	    <th>Email</th>
	    <th>Username</th>
	    <th></th>
	  </tr>
	
		<% @users.each do |user| %>
		  <tr>
		    <td><%= user.advisor.name if user.advisor_id %></td>
		    <td><%= user.agency.name if user.agency_id %></td>
		    <td><%= user.email %></td>
		    <td><%= user.name %></td>
		    <td>
		    	<%= link_to 'Edit', edit_user_path(user) %><br />
					<% if user != current_user %>
		    		<%= link_to 'Deactivate', user, confirm: 'Are you sure?',
									method: :delete %>
					<% end %>
				</td>
		  </tr>
		<% end %>
	</table>
<% else %>
	<div id="error_explanation">
		<h2>Users have not yet been activated</h2>
		<ul>
			<li>Activate Users from Advisor Mgmt</li>
		</ul>
	</div>
<% end %>
