<%= form_tag check_availability_property_path, :method => "get" do %>
  <div class="field">
    <%= label_tag :check_in, "Check-in" %>
    <%= text_field_tag :check_in, (@check_in.to_s(:ddmonyyyy) if @check_in),
      :required => true, size: 10 %><br/>
  </div>
  <div class="field">
    <%= label_tag :nights, "Nights" %>
    <%= number_field_tag :nights, @nights, min: 1, max: 9, :required => true %><br/>
  </div>
  <div class="field">
    <%= label_tag :rooms, "Rooms" %>
    <%= number_field_tag :rooms, @rooms, min: 1, max: 3, :required => true %><br/>
  </div>
  <%= submit_tag "Go", :name => nil %>
<% end %>
