<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this Property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price_for_children_below_5_years %><br />
    <%= f.number_field :price_for_children_below_5_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_children_between_5_and_12_years %><br />
    <%= f.number_field :price_for_children_between_5_and_12_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_triple_occupancy %><br />
    <%= f.number_field :price_for_triple_occupancy, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_driver %><br />
    <%= f.number_field :price_for_driver, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :ensure_availability_before_booking, 
					'Ensure availability' %><br />
    <%= f.check_box :ensure_availability_before_booking %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
