<h1>Listing properties</h1>

<table>
  <tr>
    <th>Name</th>
    <th class="price">Price for children below 5</th>
    <th class="price">Price for children btw 5 & 12</th>
    <th class="price">Price for triple occupancy</th>
    <th class="price">Price for driver</th>
    <th>Description</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.name %></td>
    <td class="price">
			<% if property.price_for_children_below_5_years && property.price_for_children_below_5_years != 0 %>
				<%= number_to_currency(property.price_for_children_below_5_years) %>
			<% else %>
				<%= "Complimentary" %>
			<% end %>
		</td>
    <td class="price"><%= number_to_currency(property.price_for_children_between_5_and_12_years) %></td>
    <td class="price"><%= number_to_currency(property.price_for_triple_occupancy) %></td>
    <td class="price"><%= number_to_currency(property.price_for_driver) %></td>
    <td><%= property.description %></td>
    <td>
			<%= link_to 'Show', property %></br>
    	<%= link_to 'Edit', edit_property_path(property) %></br>
    	<%= link_to 'Destroy', property, confirm: 'Are you sure?', 
					method: :delete %></br>
			<%= link_to 'Room Types', room_types_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
