<h1>Listing Properties</h1>

<% if @properties.count > 0 %>
<table class="index_table" border="1">
  <tr>
   	<th class="text">Name</th>
   	<th class="text">Agency</th>
   	<th class="text">Phone Numbers</th>
   	<th class="number">Driver</th>
		<th class="number">Ensure availability</th>
		<th></th>
  </tr>

<% @properties.each do |property| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="text"><%= property.name %></td>
    <td class="text"><%= property.agency.name %></td>
    <td class="nowrap">
			<%= property.phone_number %><br/>
			<%= property.phone_number_2 %>
		</td>
    <td class="currency"><%= number_to_currency(property.price_for_driver) %></td>
    <td class="text"><%= property.ensure_availability_before_booking.to_english %></td>
    <td>
    	<%= link_to 'Show details', property %></br>
    	<%= link_to 'Edit', edit_property_path(property) %></br>
    	<%= link_to 'Destroy', property, confirm: 'Are you sure?', 
						method: :delete %></br>
			<%= link_to 'Room Types', room_types_path(:property_id => property.id) %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
  <div id="error_explanation">
		<h2>Properties have not yet been created</h2>
		<ul>
			<li>Click below to create a new property</li>
		</ul>
  </div>
<% end %>

<div class="action_container">
	<%= link_to 'New Property', new_property_path %>
</div>
<p><%= will_paginate @properties %></p>
