<h1>Listing Properties</h1>

<% if notice %>
	<div id="error_explanation">
		<h2>Unable to destroy</h2>
		<ul>
			<li><%= notice %></li>
		</ul>
	</div>
<% end %>

<% if @properties.count > 0 %>
<table class="index_table" border="1">
  <tr>
   	<th class="text">Name</th>
   	<th class="text">Belongs to</th>
   	<th class="text">Phone Numbers</th>
   	<th class="number">Children below 5</th>
   	<th class="number">Children btw 5 & 12</th>
   	<th class="number">Triple occupancy</th>
   	<th class="number">Driver</th>
		<th class="number">Ensure availability</th>
		<th></th>
  </tr>


<% @properties.each do |property| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="text"><%= property.name %></td>
    <td class="text"><%= property.agency.name %></td>
    <td class="nowrap">
			<%= property.phone_number %><br/>
			<%= property.phone_number_2 %>
		</td>
    <td class="currency">
			<% if property.price_for_children_below_5_years && property.price_for_children_below_5_years != 0 %>
				<%= number_to_currency(property.price_for_children_below_5_years) %>
			<% else %>
				<%= "Complimentary" %>
			<% end %>
		</td>
    <td class="currency"><%= number_to_currency(property.price_for_children_between_5_and_12_years) %></td>
    <td class="currency"><%= number_to_currency(property.price_for_triple_occupancy) %></td>
    <td class="currency"><%= number_to_currency(property.price_for_driver) %></td>
    <td class="text">
			<% if property.ensure_availability_before_booking == 1 %>
				Yes
			<% else %>
				No
			<% end %>
		</td>
    <td>
    	<%= link_to 'Show details', property %></br>
    	<%= link_to 'Edit', edit_property_path(property) %></br>
    	<%= link_to 'Destroy', property, confirm: 'Are you sure?', 
						method: :delete %></br>
			<%= link_to 'Room Types', room_types_path(:property_id => property.id) %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
  <div id="error_explanation">
		<h2>Properties have not yet been created</h2>
		<ul>
			<li>Please contact the administrator</li>
		</ul>
  </div>
<% end %>
