<h1>Listing Properties</h1>

<% if notice %>
	<div id="error_explanation">
		<h2>Unable to destroy</h2>
		<ul>
			<li><%= notice %></li>
		</ul>
	</div>
<% end %>

<% if @properties.count > 0 %>
<table class="index_table" border="1">
  <tr>
   	<th class="text">Name</th>
   	<th class="number">Price for children below 5</th>
   	<th class="number">Price for children btw 5 & 12</th>
   	<th class="number">Price for triple occupancy</th>
   	<th class="number">Price for driver</th>
		<th class="number">Ensure availability</th>
		<th class="number">Blocked rooms > Booked?</th>
   	<th class="text">Description</th>
		<th></th>
  </tr>


<% @properties.each do |property| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="text"><%= property.name %></td>
    <td class="number">
			<% if property.price_for_children_below_5_years && property.price_for_children_below_5_years != 0 %>
				<%= number_to_currency(property.price_for_children_below_5_years) %>
			<% else %>
				<%= "Complimentary" %>
			<% end %>
		</td>
    <td class="number"><%= number_to_currency(property.price_for_children_between_5_and_12_years) %></td>
    <td class="number"><%= number_to_currency(property.price_for_triple_occupancy) %></td>
    <td class="number"><%= number_to_currency(property.price_for_driver) %></td>
    <td class="text">
			<% if property.ensure_availability_before_booking == 1 %>
				Yes
			<% else %>
				No
			<% end %>
		</td>
    <td class="text">
			<% if property.consider_blocked_rooms_as_booked == 1 %>
				Yes
			<% else %>
				No
			<% end %>
		</td>
    <td class="comment"><%= property.description %></td>
    <td>
			<%= link_to 'Show details', property %></br>
    	<%= link_to 'Edit', edit_property_path(property) %></br>
    	<%= link_to 'Destroy', property, confirm: 'Are you sure?', 
						method: :delete %></br>
			<%= link_to 'Room Types', room_types_path(:property_id => property.id) %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
  <div id="error_explanation">
		<h2>Properties have not yet been created</h2>
		<ul>
			<li>Click below for creating new Properties</li>
		</ul>
  </div>
<% end %>

<div class="action_container">
	<%= link_to 'New Property', new_property_path %>
</div>
