<span class="search_title">Show</span>
<div class="search_container">
	<%= render 'search' %>
</div>
<hr>
<h2>
  Properties > <%= @property_name || "All" %>
  <% if @property_name %>
    <%= link_to "x", properties_path, :class => "x_link" %>
  <% end %>
</h2>

<% if @properties.count > 0 %>
<table class="index_table" border="1">
  <tr>
   	<th class="text">Property</th>
   	<th class="text">Location</th>
		<th class="text">Own property?</th>
		<th class="text">Allow online avl check</th>
   	<th class="number">GST rates for Food</th>
   	<th class="number">GST rates for Tour Operator Services</th>
   	<th class="number">Driver price</th>
   	<th class="text">Email</th>
		<th></th>
  </tr>

<% @properties.each do |property| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="nowrap">
    	<%= property.name %><br/>
			<%= property.phone_number %><br/>
			<%= property.phone_number_2 %>
		</td>
    <td class="text"><%= property.city %></td>
    <td class="text"><%= property.ensure_availability_before_booking.to_english %></td>
    <td class="text"><%= property.allow_online_availability_check.to_english %></td>
    <td class="number">
		CGST rate: <%= number_to_percentage(property.cgst_rate_for_food, :strip_insignificant_zeros => true) %><br/>
		SGST rate: <%= number_to_percentage(property.sgst_rate_for_food, :strip_insignificant_zeros => true) %>
	</td>
    <td class="number">
		CGST rate: <%= number_to_percentage(property.cgst_rate_for_tour_operator_services, :strip_insignificant_zeros => true) %><br/>
		SGST rate: <%= number_to_percentage(property.sgst_rate_for_tour_operator_services, :strip_insignificant_zeros => true) %>
	</td>
    <td class="currency"><%= number_to_currency(property.price_for_driver) %></td>
    <td class="text"><%= property.email %></td>
    <td>
    	<%= link_to 'Show details', property %></br>
    	<%= link_to 'Edit', edit_property_path(property) %></br>
    	<%= link_to 'Destroy', property, confirm: 'Are you sure?', 
						method: :delete %></br>
			<%= link_to 'Room Types', room_types_path(:property_id => property.id) %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
  <div id="error_explanation">
		<h2>Properties not found</h2>
		<ul>
			<li>Click 'New Property' link to create a property</li>
		</ul>
  </div>
<% end %>

<p><%= will_paginate @properties %></p>

<div class="action_container">
  <%= link_to 'New Property', new_property_path %>
</div>
