<p id="notice"><span class="saved_value"><%= notice %></p>
<h1>Property details</h1>

<div class="show_saved_record">
<p>
  <b>Name:</b>
  <span class="saved_value"><%= @property.name %></span>
</p>

<p>
  <b>Price for children below 5 years:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_children_below_5_years) %></span>
</p>

<p>
  <b>Price for children btw 5 & 12:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_children_between_5_and_12_years) %></span>
</p>

<p>
  <b>Price for triple occupancy:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_triple_occupancy) %></span>
</p>

<p>
  <b>Price for driver:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_driver) %></span>
</p>

<p>
  <b>Ensure availability:</b>
  <span class="saved_value"><%= @property.ensure_availability_before_booking %></span>
</p>

<p>
  <b>Description:</b>
  <span class="saved_value"><%= @property.description %></span>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_property_path(@property) %> | 
	<%= link_to 'Back to Property Listing', properties_path %>
</div>
