<p id="notice"><span class="saved_value"><%= notice %></span></p>
<h1>Property details</h1>

<div class="show_saved_record">
<p>
  <b>Name:</b>
  <span class="saved_value"><%= @property.name %></span>
</p>
<p>
  <b>Agency:</b>
  <span class="saved_value"><%= @property.agency.name %></span>
</p>
<p>
  <b>Phone number:</b>
  <span class="saved_value"><%= @property.phone_number %></span>
</p>
<p>
  <b>Alt. Phone number:</b>
  <span class="saved_value"><%= @property.phone_number_2 %></span>
</p>

<p>
  <b>Price for children below 5:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_children_below_5_years) %></span>
</p>

<p>
  <b>Price for children btw 5 and 12:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_children_between_5_and_12_years) %></span>
</p>

<p>
  <b>Price for third adult:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_triple_occupancy) %></span>
</p>

<p>
  <b>Price for driver:</b>
  <span class="saved_value"><%= number_to_currency(@property.price_for_driver) %></span>
</p>

<p>
  <b>Ensure availability before booking:</b>
  <span class="saved_value"><%= @property.ensure_availability_before_booking %></span>
</p>

<p>
  <b>Consider blocked rooms as booked:</b>
  <span class="saved_value"><%= @property.consider_blocked_rooms_as_booked %></span>
</p>

<p>
  <b>Address:</b>
  <span class="saved_value"><%= @property.address %></span>
</p>
<p>
  <b>Activities:</b>
  <span class="saved_value"><%= @property.suggested_activities %></span>
</p>
<p>
  <b>Description:</b>
  <span class="saved_value"><%= @property.description %></span>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_property_path(@property) %>
</div>

<%= link_to 'Back to Property Listing', properties_path, 
			:class => "back_link" %>
