<h1>Listing Agencies</h1>

<div class="action_container">
	<%= render 'search' %>
</div>

<%= link_to 'New Agency', new_agency_path, :class => "back_link" %>

<% if @agencies.count > 0 %>
<table class="index_table" border="1">
  <tr>
    <th>Agency</th>
    <th>Travel agency</th>
    <th>Taxi operator</th>
    <th>City</th>
    <th>Email</th>
    <th>Url</th>
    <th></th>
  </tr>

<% @agencies.each do |agency| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
			<span class="nowrap"><%= agency.name %></span><br />
    	<span class="nowrap"><%= agency.phone_number %></span>
		</td>
    <td class="text"><%= agency.is_travel_agency.to_english %></td>
    <td class="nowrap"><%= agency.operates_taxis.to_english %></td>
    <td class="nowrap"><%= agency.city %></td>
    <td class="text"><%= agency.email_id %></td>
    <td class="nowrap"><%= agency.url %></td>
    <td>
    	<%= link_to 'Show details', agency %><br />
    	<%= link_to 'Edit', edit_agency_path(agency) %><br />
    	<%= link_to 'Destroy', agency, confirm: 'Are you sure?',
						method: :delete %><br />
		</td>
  </tr>
<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Agencies not found</h2>
		<ul>
			<li>Click 'New Agency' link to create an agency</li>
		</ul>
	</div>
<% end %>

<p><%= will_paginate @agencies %></p>
