<h1>Listing Agencies</h1>

<% if notice %>
	<p id="error"><%= notice %></p>
<% end %>

<% if @agencies.count > 0 %>
<table class="index_table" border="1">
  <tr>
    <th>Agency</th>
    <th>Short name</th>
    <th>Email</th>
    <th>Url</th>
    <th>City</th>
    <th></th>
  </tr>

<% @agencies.each do |agency| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
			<span class="nowrap"><%= agency.name %></span><br />
    	<span class="nowrap"><%= agency.phone_number %></span>
		</td>
    <td class="text"><%= agency.short_name %></td>
    <td class="text"><%= agency.email_id %></td>
    <td class="nowrap"><%= agency.url %></td>
    <td class="nowrap"><%= agency.city %></td>
    <td>
    	<%= link_to 'Show details', agency %><br />
    	<%= link_to 'Edit', edit_agency_path(agency) %><br />
    	<%= link_to 'Destroy', agency, confirm: 'Are you sure?',
						method: :delete %><br />
			<% if current_user.agency.name == 'EZBook' %>
				<%= link_to 'Advisors', advisors_path(:agency_id => agency.id) %><br />
				<%= link_to 'Users', users_path(:agency_id => agency.id) %>
			<% end %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Agencies have not yet been created</h2>
		<ul>
			<li>Click below to create a new Agency</li>
		</ul>
	</div>
<% end %>

<div class="action_container">
	<%= link_to 'New Agency', new_agency_path %>
</div>
