<span class="search_title">Show</span>
<div class="search_container">
  <%= render 'search' %>
</div>
<hr>
<h2>
  Agencies > <%= @agency_name || "All" %>
  <% if @agency_name %>
    <%= link_to "x", agencies_path, :class => "x_link" %>
  <% end %>
</h2>

<% if @records_returned == 0 %>
  <div id="error_explanation">
    <h2>Agencies not found</h2>
    <ul>
      <li>Check your search conditions or create a new Agency</li>
    </ul>
  </div>
<% else %>
  <table class="index_table" border="1">
    <tr>
      <th>Agency</th>
      <th>City</th>
      <th>Phone numbers</th>
      <th>Email</th>
      <th>PAN</th>
      <th>GSTIN</th>
      <th>Url</th>
      <th></th>
    </tr>
    <% @agencies.each do |agency| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <span class="nowrap"><%= agency.name %></span>
        </td>
        <td class="nowrap"><%= agency.city %></td>
        <td>
          <span class="nowrap"><%= agency.phone_number %></span><br />
          <span class="nowrap"><%= agency.phone_number_2 %></span>
        </td>
        <td class="text">
          <%= agency.email_id %><br />
          <%= agency.email_id_2 %>
        </td>
        <td class="nowrap"><%= agency.pan_number %></td>
        <td class="nowrap"><%= agency.gstin %></td>
        <td class="nowrap"><%= agency.url %></td>
        <td>
          <%= link_to 'Show details', agency %><br />
          <%= link_to 'Edit', edit_agency_path(agency) %><br />
          <%= link_to 'Destroy', agency, confirm: 'Are you sure?',
                method: :delete %><br />
          <%= link_to 'Select Agency', trips_path(:agency_id => agency.id) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p><%= will_paginate @agencies %></p>

<div class="action_container">
  <%= link_to 'New Agency', new_agency_path %>
</div>
