<h1>Agency details</h1>

<div class="show_saved_record">
<p>
  <b>Registered Name:</b>
  <span class="saved_value"><%= @agency.registered_name %></span>
</p>

<p>
  <b>Display Name:</b>
  <span class="saved_value"><%= @agency.name %></span>
</p>

<p>
  <b>Phone number:</b>
  <span class="saved_value"><%= @agency.phone_number %></span>
</p>

<p>
  <b>Alt. Phone number:</b>
  <span class="saved_value"><%= @agency.phone_number_2 %></span>
</p>

<p>
  <b>Email ID:</b>
  <span class="saved_value"><%= @agency.email_id %></span>
</p>

<p>
  <b>Alt Email ID:</b>
  <span class="saved_value"><%= @agency.email_id_2 %></span>
</p>

<p>
  <b>Url:</b>
  <span class="saved_value"><%= @agency.url %></span>
</p>

<p>
  <b>PAN number:</b>
  <span class="saved_value"><%= @agency.pan_number %></span>
</p>

<p>
  <b>GSTIN:</b>
  <span class="saved_value"><%= @agency.gstin %></span>
</p>

<p>
  <b>CGST rate for Tour Operator:</b>
	<span class="saved_value"><%= number_to_percentage(@agency.cgst_rate_for_tour_operator, :precision => 1) %></span>
</p>

<p>
  <b>SGST rate for Tour Operator:</b>
	<span class="saved_value"><%= number_to_percentage(@agency.sgst_rate_for_tour_operator, :precision => 1) %></span>
</p>

<p>
  <b>IGST rate for Tour Operator:</b>
	<span class="saved_value"><%= number_to_percentage(@agency.igst_rate_for_tour_operator, :precision => 1) %></span>
</p>

<p>
  <b>City:</b>
  <span class="saved_value"><%= @agency.city %></span>
</p>

<p>
  <b>Postal address:</b>
  <span class="saved_value"><%= @agency.postal_address %></span>
</p>

<div class="action_container">
	<%= link_to 'Edit', edit_agency_path(@agency) %>
  <%= link_to 'Create Trip', new_trip_path(:agency_id => @agency.id) %>
</div>

<%= link_to 'Back to Agency Listing', agencies_path, :class => "back_link" %>
