<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agency.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @agency.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @agency.email_id %>
</p>

<p>
  <b>Postal address:</b>
  <%= @agency.postal_address %>
</p>

<p>
  <b>City:</b>
  <%= @agency.city %>
</p>

<p>
  <b>Url:</b>
  <%= @agency.url %>
</p>

<p>
  <b>Other information:</b>
  <%= @agency.other_information %>
</p>


<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
