<p id="notice"><span class="saved_value"><%= notice %></span></p>
<h1>Agency details</h1>

<div class="show_saved_record">
<p>
  <b>Name:</b>
  <span class="saved_value"><%= @agency.name %></span>
</p>

<p>
  <b>Phone number:</b>
  <span class="saved_value"><%= @agency.phone_number %></span>
</p>

<p>
  <b>Email:</b>
  <span class="saved_value"><%= @agency.email_id %></span>
</p>

<p>
  <b>Url:</b>
  <span class="saved_value"><%= @agency.url %></span>
</p>

<p>
  <b>Logo filename:</b>
  <span class="saved_value"><%= @agency.logo_file_name %></span>
</p>

<p>
  <b>City:</b>
  <span class="saved_value"><%= @agency.city %></span>
</p>

<p>
  <b>Postal address:</b>
  <span class="saved_value"><%= @agency.postal_address %></span>
</p>

<div class="action_container">
	<%= link_to 'Edit', edit_agency_path(@agency) %>
</div>

<%= link_to 'Back to Agency Listing', agencies_path, :class => "back_link" %>
