<%= form_for(@room_type) do |f| %>
  <% if @room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_type.errors.count, "error") %> prohibited this Room Type from being saved:</h2>

      <ul>
      <% @room_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %><br />
		<% if @room_type.property_id %>
    	<%= f.collection_select(:property_id,
						Property.scoped_by_account_id(current_user.account_id).
							find_all_by_id(@room_type.property_id), :id, :name) %>
		<% else %>
    	<%= f.collection_select(:property_id,
						Property.scoped_by_account_id(current_user.account_id).
							order('name').find_all, :id, :name) %>
		<% end %>
  </div>
  <div class="field">
    <%= f.label :room_type %><br />
    <%= f.text_field :room_type %>
  </div>
  <div class="field">
    <%= f.label :number_of_rooms %><br />
    <%= f.number_field :number_of_rooms, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_single_occupancy, "Single Occupancy" %><br />
    <%= f.number_field :price_for_single_occupancy, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_double_occupancy, "Double Occupancy" %><br />
    <%= f.number_field :price_for_double_occupancy, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_triple_occupancy, "Third Adult" %><br />
    <%= f.number_field :price_for_triple_occupancy, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_children_between_5_and_12_years, "Price for children btw 5 and 12" %><br />
    <%= f.number_field :price_for_children_between_5_and_12_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_children_below_5_years, "Price for children below 5" %><br />
    <%= f.number_field :price_for_children_below_5_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_lodging, "Lodging Price" %><br />
    <%= f.number_field :price_for_lodging, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
