<%= form_for(@room_type, :validate => true) do |f| %>
  <% if @room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_type.errors.count, "error") %> prohibited this Room Type from being saved:</h2>

      <ul>
      <% @room_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %><br />
		<% if @room_type.property_id %>
		  <p><span class="highlight">
			  <%= @room_type.property.name %>
		  </span></p>
		<% else %>
      <%= autocomplete_field_tag 'property', '', autocomplete_property_name_properties_path,
        :id_element => "#room_type_property_id" %>
		<% end %>
    <%= f.text_field :property_id, :hidden => true %>
  </div>
  <div class="field">
    <%= f.label :room_type, "Name" %><br />
    <%= f.text_field :room_type %>
  </div>
  <div class="field">
    <%= f.label :number_of_rooms %><br />
    <%= f.number_field :number_of_rooms, :min => 0 %>
    <%= tooltip('Number of rooms', :hover) %>
  </div>
  <div class="field">
    <%= f.label :price_for_single_occupancy, "Single Occupancy" %><br />
    <%= f.number_field :price_for_single_occupancy, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_lodging_on_single, "Price for lodging - Single" %><br />
    <%= f.number_field :price_for_lodging_on_single, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_food_on_single, "Price for food - Single" %><br />
    <%= f.number_field :price_for_food_on_single, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_double_occupancy, "Double Occupancy" %><br />
    <%= f.number_field :price_for_double_occupancy, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_lodging_on_double, "Price for lodging - Double" %><br />
    <%= f.number_field :price_for_lodging_on_double, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_food_on_double, "Price for food - Double" %><br />
    <%= f.number_field :price_for_food_on_double, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_triple_occupancy, "Price for extra adults" %><br />
    <%= f.number_field :price_for_triple_occupancy, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_children_between_5_and_12_years, "Price for children" %><br />
    <%= f.number_field :price_for_children_between_5_and_12_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :price_for_children_below_5_years, "Price for infants" %><br />
    <%= f.number_field :price_for_children_below_5_years, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :cgst_rate_for_lodging %><br />
    <%= f.number_field :cgst_rate %>
    <%= tooltip('CGST rate for Lodging', :hover) %>
  </div>
  <div class="field">
    <%= f.label :sgst_rate_for_lodging %><br />
    <%= f.number_field :sgst_rate %>
    <%= tooltip('SGST rate for Lodging', :hover) %>
  </div>
  <div class="field">
    <%= f.label :order_for_booking_chart, "Order for Booking Chart" %><br />
    <%= f.number_field :order_for_booking_chart, :min => 0 %>
    <%= tooltip('Booking chart Order', :hover) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 6 %>
  </div>
  <%= hidden_div_if(@room_type.new_record?, class: "field") do %>
		<%= f.label :deleted %>
		<%= f.check_box :deleted %>
  <% end %>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
