<span class="search_title">Show room types</span>
<div class="search_container">
  <%= render 'search' %>
</div>
<hr>
<% if session[:property_id] %>
  <h2>
    <%= "Room Types > #{@property_name}" %>
    <%= link_to 'x', room_types_path(:property_id => 'All'), :class => "x_link" %>
  </h2>
<% else %>
  <h2>Room Types > All Properties</h2>
<% end %>

<% if @room_types.count > 0 %>
<table class="index_table" border="1">
  <tr>
    <th class="text">Property</th>
    <th class="text">Name</th>
		<th class="number">Rooms</th>
    <th class="number">Single occupancy</th>
    <th class="number">Double occupancy</th>
    <th class="number">Extra adults</th>
    <th class="number">Children</th>
    <th class="number">Infants</th>
    <th class="number">Price for food</th>
    <th class="number">Transportation and Guide</th>
    <th class="number">Lodging</th>
    <th class="number">Service tax</th>
    <th class="text">Deleted</th>
		<th></th>
  </tr>

<% @room_types.each do |room_type| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="text"><%= room_type.property.name %></td>
    <td class="text"><%= room_type.room_type %></td>
    <td class="number"><%= room_type.number_of_rooms %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_single_occupancy) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_double_occupancy) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_triple_occupancy) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_children_between_5_and_12_years) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_children_below_5_years) %></td>
    <td class="currency">
	Single - <%= number_to_currency(room_type.price_for_food_on_single) %><br/>
	Double - <%= number_to_currency(room_type.price_for_food_on_double) %>
    </td>
    <td class="currency"><%= number_to_currency(room_type.price_for_transportation_and_guide) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_lodging) %></td>
    <td class="currency"><%= number_to_currency(room_type.service_tax) %></td>
    <td class="text"><%= room_type.deleted.to_english %></td>
    <td>
    	<%= link_to 'Show details', room_type %></br>
    	<%= link_to 'Edit', edit_room_type_path(room_type) %></br>
    	<%= link_to 'Destroy', room_type, confirm: 'Are you sure?', method: :delete %></br>
      <%= link_to 'Price List', price_lists_path(:room_type_id => room_type.id) %></br>
		</td>
  </tr>
<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Room types not found</h2>
		<ul>
			<li>Click 'New Room type' link to create a room type</li>
		</ul>
	</div>
<% end %>

<p><%= will_paginate @room_types %></p>

<div class="action_container">
  <%= link_to 'New Room type', new_room_type_path %>
</div>
