<% if session[:property_id] %>
	<h1>Listing Room Types for '<%= Property.find(session[:property_id]).name %>'</h1>
	<%= link_to 'Show Room Types for all Properties', 
				room_types_path(:property_id => 'All') %>
<% else %>
	<h1>Listing Room Types for all Properties</h1>
<% end %>

<% if notice %>
	<p id="error"><%= notice %></p>
<% end %>

<% if @room_types.count > 0 %>
<table class="index_table" border="1">
  <tr>
    <th class="text">Property</th>
    <th class="text">Room type</th>
    <th class="number">Single occupancy</th>
    <th class="number">Double occupancy</th>
    <th class="number">Third adult</th>
    <th class="number">Children btw 5 & 12</th>
    <th class="number">Children below 5</th>
    <th class="number">Room price</th>
    <th class="number">Service tax</th>
		<th class="number">Rooms</th>
		<th></th>
  </tr>

<% @room_types.each do |room_type| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="text"><%= room_type.property.name %></td>
    <td class="text"><%= room_type.room_type %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_single_occupancy) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_double_occupancy) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_triple_occupancy) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_children_between_5_and_12_years) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_children_below_5_years) %></td>
    <td class="currency"><%= number_to_currency(room_type.price_for_room) %></td>
    <td class="currency"><%= number_to_currency(room_type.service_tax) %></td>
    <td class="number"><%= room_type.number_of_rooms %></td>

    <td>
    	<%= link_to 'Edit', edit_room_type_path(room_type) %></br>
    	<%= link_to 'Destroy', room_type, confirm: 'Are you sure?', 
				method: :delete %></br>
		</td>
  </tr>
<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Room Types have not been created</h2>
		<ul>
			<li>Click below for creating new Room Types</li>
		</ul>
	</div>
<% end %>

<div class="action_container">
	<%= link_to 'New Room type', new_room_type_path %>
</div>
