<h1>Room Type Details</h1>

<div class="show_saved_record">
<p>
  <b>Property:</b>
  <span class="saved_value"><%= @room_type.property.name %>
</p>

<p>
  <b>Name:</b>
  <span class="saved_value"><%= @room_type.room_type %>
</p>

<p>
  <b>Number of rooms:</b>
  <span class="saved_value"><%= @room_type.number_of_rooms %>
</p>

<p>
  <b>Single occupancy:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_single_occupancy) %>
</p>

<p>
  <b>Double occupancy:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_double_occupancy) %>
</p>

<p>
  <b>Price for extra adults:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_triple_occupancy) %>
</p>

<p>
  <b>Price for children:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_children_between_5_and_12_years) %>
</p>

<p>
  <b>Price for infants:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_children_below_5_years) %>
</p>

<p>
  <b>Price for food - Single:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_food_on_single) %>
</p>

<p>
  <b>Price for food - Double:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_food_on_double) %>
</p>

<p>
  <b>Price for transportation and guide services:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_transportation_and_guide) %>
</p>

<p>
  <b>Price for lodging:</b>
  <span class="saved_value"><%= number_to_currency(@room_type.price_for_lodging) %>
</p>

<p>
  <b>Order for Booking chart:</b>
  <span class="saved_value"><%= @room_type.order_for_booking_chart) %>
</p>

<p>
  <b>Description:</b>
  <span class="saved_value"><%= @room_type.description %>
</p>

<p>
  <b>Deleted:</b>
  <span class="saved_value"><%= @room_type.deleted.to_english %>
</p>
</div>

<div class="action_container">
	<%= link_to 'Edit', edit_room_type_path(@room_type) %>
</div>

<%= link_to 'Back to Room Type Listing', room_types_path(:property_name => session[:property_name]), :class => "back_link" %>
