<h1>Booking Chart</h1>

<div id="search">
	<%= render 'search' %>
</div>

<% if @booking_chart.count > 0 %>
	<table class="chart" border="1">
		<col width="130px" />
		<% @chart_date_range_short.each do |date| %>
			<col width="80px" />
		<% end %>
		<tr>
			<th class="text">Room Type</th>
			<% @chart_date_range_short.each do |date| %>
				<th><%= date %></th>
			<% end %>
	  </tr>

		<% @room_types.each do |room_type| %>	
			<% tr_class = cycle('list_line_odd', 'list_line_even') %>
			<% (1..room_type.number_of_rooms).each do |room_number| %>
	  		<tr class=<%= tr_class %>>
	    		<td class="nowrap"><%= room_type.room_type %></td>
					<% @chart_date_range.each do |date| %>
						<%= show_allocation_with_color_code(@booking_chart[[room_type.id, room_number, date]][1], class: "text") do %>
							<% @booking_chart[[room_type.id, room_number, date]][0] %>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</table>
<% else %>
	<div id="error_explanation">
		<h2>There are no bookings for the date chosen</h2>
		<ul>
			<li>Please choose another date</li>
		</ul>
	</div>
<% end %>
