<div id="booking_chart">
</div>

<span class="search_title">Show chart</span>
<div class="search_container">
	<%= render 'search' %>
</div>
<hr>
<h2>
  <%= "Booking Chart > #{@chart_start_date.to_s(:ddmonyy)} to #{@chart_end_date.to_s(:ddmonyy)} > #{@property_name}" %>
</h2>

<% if @booking_chart.count > 0 %>
	<table class="chart">
		<col width="80px" />
		<% @room_types.each do |room_type| %>
      <% (1..room_type.number_of_rooms).each do |room_number| %>
			  <col width="80px" />
      <% end %>
		<% end %>
		<tr>
			<th class="text"></th>
			<% @room_types.each do |room_type| %>
        <th colspan=<%= room_type.number_of_rooms %>><%= room_type.room_type %></th>
			<% end %>
	  </tr>
		<tr>
			<th class="text">Date</th>
			<% @room_types.each do |room_type| %>
        <% (1..room_type.number_of_rooms).each do |room_number| %>
          <th><%= room_number %></th>
        <% end %>
			<% end %>
	  </tr>

		<% @chart_date_range.each do |date| %>	
			<% tr_class = cycle('list_line_odd', 'list_line_even') %>
	  	<tr class=<%= tr_class %>>
	 		  <td class="nowrap"><%= date.to_s(:ddmonyy) %></td>
			  <% @room_types.each do |room_type| %>
			    <% (1..room_type.number_of_rooms).each do |room_number| %>
            <%= show_allocation_with_color_code(@booking_chart[[room_type.id, room_number, date]][2], 
                 title: @booking_chart[[room_type.id, room_number, date]][0],
                 booking_id: @booking_chart[[room_type.id, room_number, date]][3], 
                 room_type_id: room_type.id,
                 date: date) do %>
							<% @booking_chart[[room_type.id, room_number, date]][1] %>
						<% end %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
<% else %>
	<div id="error_explanation">
		<h2>Bookings not found</h2>
		<ul>
			<li>Please change your search conditions</li>
		</ul>
	</div>
<% end %>
