<%= nested_form_for(@trek) do |f| %>
  <% if @trek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trek.errors.count, "error") %> prohibited this trek from being saved:</h2>
      <ul>
      <% @trek.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :difficulty %>
		<%= f.select :difficulty, Trek::DIFFICULTY,
				          prompt: 'Select a difficulty level' %>

  </div>
  <div class="field">
    <%= f.label :number_of_days %>
    <%= f.number_field :number_of_days %>
  </div>

  <div class="field">
    <%= f.label :itinerary %>
    <%= f.text_area :itinerary, rows: 6 %>
  </div>

	<div class="field">
		<%= f.label :pricing %>
	</div>
	<div class="nested_form">
		<%= f.fields_for :trek_prices %>
		<%= f.link_to_add "Add new", :trek_prices %><br/>
	</div>

  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
