<h1>Trek details</h1>

<div class="show_saved_record">
<p>
  <b>Name:</b>
  <span class="saved_value"><%= @trek.name %></span>
</p>

<p>
  <b>Difficulty:</b>
  <span class="saved_value"><%= @trek.difficulty %></span>
</p>

<p>
  <b>Number of days:</b>
  <span class="saved_value"><%= @trek.number_of_days %></span>
</p>

<p>
  <b>Itinerary:</b>
  <span class="saved_value"><%= @trek.itinerary %></span>
</p>

<% if @trek.trek_prices.any? %>
	<b>Pricing:</b>
	<table class="nested_table">
		<tr>
			<th class="number">Unit Price</th>
			<th class="number">Min group size</th>
			<th class="number">Max group size</th>
		</tr>

		<% @trek.trek_prices.each do |trek_price| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="number"><%= number_to_currency(trek_price.unit_price) %></td>
				<td class="number"><%= trek_price.min_group_size %></td>
				<td class="number"><%= trek_price.max_group_size %></td>
			</tr>
		<% end %>
	</table>
<% end %>

</div>

<div class="action_container">
	<%= link_to 'Edit', edit_trek_path(@trek) %>
</div>

<%= link_to 'Back to Trek Listing', treks_path, :class => "back_link" %>
