<h2>Sign in</h2>
<%= form_for("user", :url => user_session_path) do |f| %>
	<div>
		<%= f.label :username %><br />
		<%= f.email_field :email %>
	</div>
  <div>
		<%= f.label :password %><br />
  	<%= f.password_field :password %>
	</div>
	<br />
  <%= f.submit 'Sign in' %>
<% end %>
<%= link_to "Forgot your password?", new_user_password_path %>
