<h1>Listing taxi_details</h1>

<table>
  <tr>
    <th>Taxi booking</th>
    <th>Registration number</th>
    <th>Driver name</th>
    <th>Driver phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxi_details.each do |taxi_detail| %>
  <tr>
    <td><%= taxi_detail.taxi_booking_id %></td>
    <td><%= taxi_detail.registration_number %></td>
    <td><%= taxi_detail.driver_name %></td>
    <td><%= taxi_detail.driver_phone_number %></td>
    <td><%= link_to 'Show', taxi_detail %></td>
    <td><%= link_to 'Edit', edit_taxi_detail_path(taxi_detail) %></td>
    <td><%= link_to 'Destroy', taxi_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxi detail', new_taxi_detail_path %>
