<p>
  <b>Taxi booking:</b>
  <%= @taxi_detail.taxi_booking_id %>
</p>

<p>
  <b>Registration number:</b>
  <%= @taxi_detail.registration_number %>
</p>

<p>
  <b>Driver name:</b>
  <%= @taxi_detail.driver_name %>
</p>

<p>
  <b>Driver phone number:</b>
  <%= @taxi_detail.driver_phone_number %>
</p>

<%= link_to 'Edit', edit_taxi_detail_path(@taxi_detail) %> |
<%= link_to 'Back', taxi_details_path %>
