<h1>Listing vas_prices</h1>

<table>
  <tr>
    <th>Value added service</th>
    <th>Unit price</th>
    <th>Min group size</th>
    <th>Max group size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vas_prices.each do |vas_price| %>
  <tr>
    <td><%= vas_price.value_added_service_id %></td>
    <td><%= vas_price.unit_price %></td>
    <td><%= vas_price.min_group_size %></td>
    <td><%= vas_price.max_group_size %></td>
    <td><%= link_to 'Show', vas_price %></td>
    <td><%= link_to 'Edit', edit_vas_price_path(vas_price) %></td>
    <td><%= link_to 'Destroy', vas_price, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vas price', new_vas_price_path %>
