<p id="notice"><%= notice %></p>

<p>
  <b>Value added service:</b>
  <%= @vas_price.value_added_service_id %>
</p>

<p>
  <b>Unit price:</b>
  <%= @vas_price.unit_price %>
</p>

<p>
  <b>Min group size:</b>
  <%= @vas_price.min_group_size %>
</p>

<p>
  <b>Max group size:</b>
  <%= @vas_price.max_group_size %>
</p>


<%= link_to 'Edit', edit_vas_price_path(@vas_price) %> |
<%= link_to 'Back', vas_prices_path %>
