<!DOCTYPe html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<style>
			body {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 16px;
			  	width: 100%;
			}
			.amount {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
			}	
			.footnote {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
			}	
			.footnote_bold {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
				font-weight: bold;
			}	
			.signature {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
				text-align: right;
			}	
			img {
				float: left;
				height: 80px;
				vertical-align: top;
			}
			.address {
				text-align: right;
				font-weight: bold;
				white-space: pre-wrap;
			}
			.address_left {
				text-align: left;
				white-space: pre-wrap;
			}
			.address_not_bold {
				text-align: right;
				white-space: pre-wrap;
			}
			.client {
				text-align: left;
				white-space: pre-wrap;
			}
			.other_info {
				text-align: right;
				white-space: pre-wrap;
			}
			.table {
				margin-top: 1em;
				border-spacing: 0;
				border-collapse: collapse;
				border-color: #CFCCCA;
				font-size: 16px;
				width: 100%;
				tr {
					padding: 5px 5px;
				}
				th {
					background: #605C59;
					color: #FFF;
				}
				td {
					vertical-align: top;
				}
			}
			.table_with_border {
				margin-top: 1em;
				font-size: 11px;
				width: 100%;
				tr {
					padding: 5px 5px;
				}
				th {
					background: #605C59;
					color: #FFF;
				}
				td {
					vertical-align: top;
				}
			}
			.number {
				text-align: right;
				vertical-align: middle;
				white-space: nowrap;
			}
			.text {
				text-align: left;
			}
			.bold {
				font-weight: bold;
			}
			.red_text {
				font-weight: bold;
				color: red;
			}
			.sno {
				text-align: left;
				vertical-align: top;
				white-space: nowrap;
			}
			.title {
				text-align: center;
				font-weight: bold;
				font-size: 20px;
			}
			.gst {
				text-align: center;
				vertical-align: top;
				white-space: nowrap;
			}
		</style>
	</head>
	<body>
		<div id="content">
			<% if @trip.checked_out == 1 %>
				<p class="title">Tax Invoice</p>
				<% if @invoice_type == "invoice" %>
					<p class="gst">Original for Recipient</p>
				<% else %>
					<p class="gst">Duplicate for Supplier</p>
				<% end %>
			<% else %>
				<p class="title">Pro-forma Invoice</p>
			<% end %>

			<table class="table">
				<tr>
					<td colspan=3>
						<% if @trip.for_own_properties == 1 %>
							GSTIN: <%= @account_setting.own_property_gstin %><br/>
						<% else %>
							GSTIN: <%= @account_setting.tour_operator_gstin %><br/>
						<% end %>
						<%= @account_setting.name %><br/>
						<% if @trip.checked_out == 0 %>
							Pro-forma Invoice No.: <%= @trip.invoice_number %><br/>
						<% else %>
							Serial No. of Tax Invoice: <%= @trip.invoice_number %><br/>
						<% end %>
						Date of Invoice: <%= l @trip.invoice_date %><br/>
						Ref: <%= @trip.name %>
					</td>
					<td colspan=3 class="address_not_bold">
						<% if @trip.for_own_properties == 1 %>
							<%= @account_setting.own_property_postal_address %>
						<% else %>
							<%= @account_setting.tour_operator_postal_address %>
						<% end %>
						<%= @account_setting.email %>
						<%= @account_setting.phone_number_1 %>
					</td>
				</tr>
			</table>

			<table class="table">
				<tr>
           				<td>
						<b>Details of Receiver (Billed to)</b><br/>
						<%= @trip.customer.name_with_title %><br/>
						<span class="address_left"><%= @trip.customer.postal_address %></span><br/>
						Phone: <%= @trip.customer.phone_number %><br/>
						<%= "GSTIN: #{@trip.customer.gstin}" if @trip.customer.gstin != "" %>
					</td>
				</tr>
			</table>

			<table class="table_with_border">
				<tr>
					<th class="text">SNo</th>
					<th class="text">Description of Services</th>
					<th class="text">HSN</th>
					<th class="number">Qty.</th>
					<th class="number">Nights</th>
					<th class="number">Rate</th>
					<th class="number">Value</th>
					<th class="number">Discount</th>
					<th class="number">Taxable</th>
					<th class="gst" colspan=2>CGST</th>
					<th class="gst" colspan=2>SGST</th>
					<th class="gst" colspan=2>IGST</th>
					<th class="gst">Total</th>
				</tr>
				<tr>
					<td colspan=7></td>
					<td class="number"><b></b></td>
					<td class="number"><b>Value</b></td>
					<td class="number"><b>Rate</b></td>
					<td class="number"><b>Amt.</b></td>
					<td class="number"><b>Rate</b></td>
					<td class="number"><b>Amt.</b></td>
					<td class="number"><b>Rate</b></td>
					<td class="number"><b>Amt.</b></td>
					<td colspan=1></td>
				</tr>
				<% serial_number = 1 %>
				<% @trip.bookings.order(:check_in_date).each do |booking| %>
					<tr>
						<td class="sno"><%= serial_number %></td>
						<td colspan=5 class="text"><%= booking.property.name %><br/>(from <%= l booking.check_in_date %> to <%= l booking.check_out_date %>)</td>
					</tr>
	<% booking.rooms.order(:cancelled).each do |room| %>
		<% if room.total_price > 0 %>
			<% if room.cancelled == 1 %>
				<tr>
					<td></td>
					<td class="text"><li>Cancellation fee: <%= room.room_type.room_type %></li></td>
					<td class="text"><%= @account_setting.hsn_for_lodging %></td>
					<td class="number"><%= room.number_of_rooms %></td>
					<td class="number"><%= room.number_of_nights %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.room_rate) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.value) %></td>
					<td class="number"> <%= number_to_percentage(room.discount_percentage, precision: 2) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.taxable_value) %></td>
					<td class="number"> <%= number_to_percentage(room.cgst_rate, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.cgst.round) %></td>
					<td class="number"> <%= number_to_percentage(room.sgst_rate, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.sgst.round) %></td>
					<td class="number"> <%= number_to_percentage(room.igst_rate, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.igst.round) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.total_price) %></td>
				</tr>
			<% else %>
				<% if @trip.for_own_properties == 0 %>
					<tr>
						<td></td>
						<td class="text"><%= room.room_type.room_type %></td>
						<td class="text"><%= @account_setting.hsn_for_lodging %></td>
						<td class="number"><%= room.number_of_rooms %></td>
						<td class="number"><%= room.number_of_nights %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(room.room_rate) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(room.value) %></td>
						<td class="number"> <%= number_to_percentage(room.discount_percentage, precision: 2) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(room.taxable_value) %></td>
						<td class="number"> <%= number_to_percentage(room.cgst_rate, precision: 1) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(room.cgst.round) %></td>
						<td class="number"> <%= number_to_percentage(room.sgst_rate, precision: 1) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(room.sgst.round) %></td>
						<td class="number"> <%= number_to_percentage(room.igst_rate, precision: 1) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(room.igst.round) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(room.total_price) %></td>
					</tr>
				<% end %>
				<% if @trip.for_own_properties == 1 %>
				<tr>
					<td></td>
					<td class="text"><%= room.room_type.room_type %></td>
					<td class="text"><%= @account_setting.hsn_for_lodging %></td>
					<td class="number"><%= room.number_of_rooms %></td>
					<td class="number"><%= room.number_of_nights %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.lodging_rate) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.lodging_value) %></td>
					<td class="number"> <%= number_to_percentage(room.discount_percentage, precision: 2) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.lodging_taxable_value) %></td>
					<td class="number"> <%= number_to_percentage(room.cgst_rate, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.lodging_cgst) %></td>
					<td class="number"> <%= number_to_percentage(room.sgst_rate, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.lodging_sgst) %></td>
					<td class="number"> <%= number_to_percentage(room.igst_rate, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.lodging_igst) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.lodging_total_price) %></td>
				</tr>
				<% if booking.check_in_date <= "31-03-2019".to_date %>
				<tr>
					<td></td>
					<td class="text"><li>Food charges - <%= room.occupancy %></li></td>
					<td class="text"><%= @account_setting.hsn_for_food %></td>
					<td class="number"><%= room.number_of_rooms %></td>
					<td class="number"><%= room.number_of_nights %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.food_rate) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.food_value) %></td>
					<td class="number"> <%= number_to_percentage(room.discount_percentage, precision: 2) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.food_taxable_value) %></td>
					<td class="number"> <%= number_to_percentage(room.cgst_rate_for_food, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.food_cgst) %></td>
					<td class="number"> <%= number_to_percentage(room.sgst_rate_for_food, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.food_sgst) %></td>
					<td class="number"> <%= number_to_percentage(room.igst_rate_for_food, precision: 1) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.food_igst) %></td>
					<td class="number"> <%= number_to_currency_wo_symbol(room.food_total_price) %></td>
				</tr>
				<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	<% booking.vas_bookings.each do |vas_booking| %>
		<tr>
			<td></td>
			<td class="text"><%= vas_booking.value_added_service %></td>
			<td class="text"><%= vas_booking.hsn is null ? @account_setting.hsn_for_food : vas_booking.hsn %></td>
			<td class="number"><%= vas_booking.number_of_units %></td>
			<td class="number"><%= vas_booking.every_day == 0 ? 1 : vas_booking.number_of_days %></td>
			<td class="number"><%= number_to_currency_wo_symbol(vas_booking.unit_price) %></td>
			<td class="number"><%= number_to_currency_wo_symbol(vas_booking.value) %></td>
			<td class="number"><%= number_to_percentage(vas_booking.discount_percentage, precision: 2) %></td>
			<td class="number"><%= number_to_currency_wo_symbol(vas_booking.taxable_value) %></td>
			<td class="number"><%= number_to_percentage(vas_booking.cgst_rate, precision: 1) %></td>
			<td class="number"><%= number_to_currency_wo_symbol(vas_booking.cgst.round) %></td>
			<td class="number"><%= number_to_percentage(vas_booking.sgst_rate, precision: 1) %></td>
			<td class="number"><%= number_to_currency_wo_symbol(vas_booking.sgst.round) %></td>
			<td></td>
			<td></td>
			<td class="number"><%= number_to_currency_wo_symbol(vas_booking.total_price) %></td>
		</tr>
	<% end %>
	<% serial_number += 1 %>
<% end %>
<% @trip.vas_bookings.each do |vas_booking| %>
	<tr>
		<td class="sno"><%= serial_number %></td>
		<td class="text"><%= vas_booking.value_added_service %></td>
		<td class="text"><%= vas_booking.hsn is null ? @account_setting.hsn_for_food : vas_booking.hsn %></td>
		<td class="number"><%= vas_booking.number_of_units %></td>
		<td class="number"><%= vas_booking.every_day == 0 ? 1 : vas_booking.number_of_days %></td>
		<td class="number"><%= number_to_currency_wo_symbol(vas_booking.unit_price) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(vas_booking.value) %></td>
		<td class="number"><%= number_to_percentage(vas_booking.discount_percentage, precision: 2) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(vas_booking.taxable_value) %></td>
		<td class="number"><%= number_to_percentage(vas_booking.cgst_rate, precision: 1) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(vas_booking.cgst.round) %></td>
		<td class="number"><%= number_to_percentage(vas_booking.sgst_rate, precision: 1) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(vas_booking.sgst.round) %></td>
		<td></td>
		<td></td>
		<td class="number"><%= number_to_currency_wo_symbol(vas_booking.total_price) %></td>
	</tr>
	<% serial_number += 1 %>
<% end %>
<% @trip.taxi_bookings.each do |taxi_booking| %>
	<tr>
		<td class="sno"><%= serial_number %></td>
		<td class="text">Taxi: <%= taxi_booking.taxi.model %></td>
		<td class="text"><%= @account_setting.hsn_for_transportation %></td>
		<td class="number"><%= taxi_booking.number_of_vehicles %></td>
		<td class="number"><%= taxi_booking.number_of_days %></td>
		<td class="number"><%= number_to_currency_wo_symbol(taxi_booking.unit_price) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(taxi_booking.taxable_value) %></td>
		<td class="number"><%= number_to_percentage(0, precision: 2) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(taxi_booking.taxable_value) %></td>
		<td class="number"><%= number_to_percentage(taxi_booking.cgst_rate, precision: 1) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(taxi_booking.cgst.round) %></td>
		<td class="number"><%= number_to_percentage(taxi_booking.sgst_rate, precision: 1) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(taxi_booking.sgst.round) %></td>
		<td class="number"><%= number_to_percentage(taxi_booking.igst_rate, precision: 1) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(taxi_booking.igst.round) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(taxi_booking.total_price) %></td>
	</tr>
	<% serial_number += 1 %>
<% end %>

	<tr class="bold">
		<td class="sno"></td>
		<td class="text">Total</td>
		<td class="number"></td>
		<td class="number"></td>
		<td class="number"></td>
		<td class="number"></td>
		<td class="number"><%= number_to_currency_wo_symbol(@trip.discount + @trip.tac + @trip.taxable_value) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(@trip.discount + @trip.tac) %></td>
		<td class="number"><%= number_to_currency_wo_symbol(@trip.taxable_value) %></td>
		<td class="number"></td>
		<td class="number"> <%= number_to_currency_wo_symbol(@trip.cgst.round) %></td>
		<td class="number"></td>
		<td class="number"> <%= number_to_currency_wo_symbol(@trip.sgst.round) %></td>
		<td class="number"></td>
		<td class="number"> <%= number_to_currency_wo_symbol(@trip.igst.round) %></td>
		<td class="number"> <%= number_to_currency_wo_symbol(@trip.total_price) %></td>
	</tr>

	<% if @trip.tds > 0 %>
		<tr>
			<td></td>
			<td class="bold">TDS</td>
			<td colspan=13></td>
			<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.tds) %></span></td>
		</tr>
	<% end %>
	<% if @trip.round_off != 0 %>
		<tr>
			<td></td>
			<td class="bold">Round-off</td>
			<td colspan=13></td>
			<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.round_off) %></span></td>
		</tr>
	<% end %>
	<tr>
		<td></td>
		<td class="bold">Total Payable</td>
		<td colspan=13></td>
		<td class="number" style="border-top: 1px solid #000;"><span class="bold"><%= number_to_currency_wo_symbol(@trip.total_payable) %></span></td>
	</tr>
	<tr>
		<td></td>
		<td class="bold">Advance / Credit</td>
		<td colspan=13></td>
		<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.paid) %></span></td>
	</tr>
	<tr>
		<td></td>
		<td class="bold">Balance</td>
		<td colspan=13></td>
		<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.balance_payment) %></span></td>
	</tr>
	<tr>
		<td></td>
		<td class="bold">Amount of Tax subject to Reverse Charges</td>
	</tr>
</table>
			<br/>
			<p class="amount">
				Total Invoice Value (in figures): Rupees <%= number_to_currency_wo_symbol(@trip.total_payable) %> only.
			</p>
			<p class="amount">
				Total Invoice Value (in words): Rupees <%= @trip.total_payable.to_words %> only.
			</p>

		<% if @trip.checked_out == 0 %>
			<% if @trip.tds > 0 %>
				<p class="footnote">
					<span class="bold">PAN NUMBER is mandatory under section 139A (5B) of income tax Act 1961. It is obligatory for all persons responsible for deducting tax at source. </span><span class="red_text">If PAN has not provided by deductees, then TDS rate should be deducted at 20% or actual, whichever is higher.</span> 
				</p>
				<p class="footnote">
					Therefore you are requested to please send us your PAN NUMBER along with Name & complete address of your company/agency at the earliest for depositing/ issuing of TDS certificate and fulfilling the statutory requirements.
				</p>
			<% end %>	

			<p class="footnote_bold">
				<%= "Note: #{@account_setting.name} has introduced a #{@account_setting.service_charge}% service charge on its own properties. This is payable directly on site." if @account_setting.service_charge != 0 %>
			</p>

			<% if @account_setting.id == 3 %>
				<p class="footnote_bold">Payment Schedule</p>
				<p class="footnote">For confirmation: 50% of the invoice amount</p>
				<p class="footnote">One (1) week before arrival: 50% of the invoice amount</p>
				<p class="footnote">All and full payment for food should be made at least one (1) week before arrival directly to our banks (by online transfer, cheque or cash deposit). We do not accept any payments upon arrival at the Retreat.</p>
			<% end %>

			<% if @account_setting.id == 3 %>
				<p class="footnote_bold">Payment Means</p>
				<p class="footnote">Bank: HDFC Bank</p>
				<p class="footnote">Account Number: 50200025564882</p>
				<p class="footnote">Account Name: Yasumi Nature Holidays</p>
				<p class="footnote">Account Type: Current</p>
				<p class="footnote">IFSC Code: HDFC0001919</p>
				<p class="footnote">Branch: Almora, Uttarakhand</p>
				<p class="footnote">SWIFT Code (for international remittance): HDFCINBB</p>
				<p class="footnote">Note on SWIFT Code: This is the code of HDFC Bank and does not contain information about a specific branch. It is sufficient for remittances, as the account number identifies the branch.</p>
				<p class="footnote">UPI: binsarforestretreat@upi</p>
			<% end %>

			<% if @account_setting.id == 3 %>
				<p class="footnote_bold">Cancellation fee</p>
				<p class="footnote">If cancelled up to 14 days before arrival, cancellation fee will be 20% of the invoice amount</p>
				<p class="footnote">If cancelled between 14 – 7 days before arrival, cancellation fee will be 50% of the invoice amount</p>
				<p class="footnote">If cancelled less than 7 days before arrival, cancellation fee will be 100% of the invoice amount</p>
			<% end %>

			<% if @account_setting.id == 3 %>
				<p class="footnote_bold">Important Retreat information for your perusal:</p>
				<p class="footnote">1. We are located inside the Binsar Wildlife Sanctuary. The forest checkpost remains closed from sunset (about 7.00 PM during summer, 5.00 PM during winter) to sunrise. We request you to arrive at the checkpost at least an hour before sunset. The forest department charges an entry fee which is not included in our pricing.</p>
				<p class="footnote">2. The last 600 metres to the Retreat is a steep uphill ride on a very rough and narrow path and you will do this stretch in our 4-wheel drive pickup. There is free public parking space for self-driven cars where you transfer.</p>
				<p class="footnote">3. We do not have accommodation for drivers at the Retreat. Upon request, we can arrange for their accommodation outside the Sanctuary (about 15 km away). The driver accommodation is not included in our pricing.</p> 
				<p class="footnote">4. The Retreat is run on solar power. All rooms have sufficient lights. We do not have any other electric appliances nor plug points in the rooms. There are plug points in the dining room that can be used for charging phones and camera batteries during daylight hours and on clear days only. We do not have any electric appliances in the Retreat and hence can not cool your drinks / provide ice nor do we have laundry services. On rainy days we may not have electricity, with the sun sleeping on the job. We will provide a torch / candles in the rooms when that happens.</p>
				<p class="footnote">5. We use solar geysers for hot water supply. All rooms and tents have running hot water for bathing only (not in the wash basins). We don't have showers, though. Buckets are provided for bathing in the bathrooms.</p>
				<p class="footnote">6. All meals are served in the dining room. We don't have room service. The meals are buffet and we don't have an a la carte menu. The buffet is Kumaoni, North Indian or Continental food on rotation (not all together). We can prepare special food for children under the age of 5 years, though.</p> 
				<p class="footnote">7. We only serve vegetarian food. We do have egg for breakfast and some of our dishes use egg. We don't serve alcohol.</p>
			<% end %>
		<% end %>

		<p class="signature">
			** This is a computer generated invoice. No signature required **
		</p>

		</div>
	</body>
</html>
