<!DOCTYPe html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<style>
			body {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 16px;
			  width: 100%;
			}
			.amount {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
			}	
			.footnote {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
			}	
			.footnote_bold {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
				font-weight: bold;
			}	
			.signature {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
				text-align: right;
			}	
			img {
				float: left;
				height: 80px;
				vertical-align: top;
			}
			.address {
				text-align: right;
				font-weight: bold;
				white-space: pre-wrap;
			}
			.client {
				text-align: left;
				white-space: pre-wrap;
			}
			.other_info {
				text-align: right;
				white-space: pre-wrap;
			}
			.table {
				margin-top: 1em;
				border-spacing: 0;
				border-collapse: collapse;
				border-color: #CFCCCA;
				font-size: 16px;
				width: 100%;
				tr {
					padding: 5px 5px;
				}
				th {
					background: #605C59;
					color: #FFF;
				}
				td {
					vertical-align: top;
				}
			}
			.number {
				text-align: right;
				white-space: nowrap;
			}
			.text {
				text-align: left;
			}
			.bold {
				font-weight: bold;
			}
			.red_text {
				font-weight: bold;
				color: red;
			}
			.sno {
				text-align: left;
				vertical-align: top;
				white-space: nowrap;
			}
		</style>
	</head>
	<body>
		<div id="content">
			<table class="table">
				<tr>
					<td colspan=2>
						<%= wicked_pdf_image_tag Account.find(@trip.account_id).logo_file_name	%>
					</td>
					<td colspan=4 class="address">
						<%= @account_setting.name %>
						<%= @account_setting.postal_address %>
						Phone: <%= @account_setting.phone_number_1 %>
						<%= @account_setting.url %>
					</td>
				</tr>
				<tr>
           <td colspan=3 class="client">To,<br/><%= @trip.customer.name_with_title %><br/><%= @trip.customer.postal_address %><br/>Phone: <%= @trip.customer.phone_number %><br/><%= "PAN No: #{@trip.customer.pan_number}" if @trip.customer.pan_number != "" %></td>
					<td colspan=3 class="other_info">
						Date: <%= l @trip.invoice_date %>
						<% if @trip.payments.any? %>Receipt No: <%= @trip.payments.order(:date_received).last.receipt_number %>/<%= l @trip.payments.order(:date_received).last.date_received %><% end %>
						Ref: <%= @trip.name %>
						Invoice No: <%= @trip.invoice_number %>
            <%= "PAN No: #{@account_setting.pan}" if @account_setting.pan != "" %>
            <%= "S Tax No: #{@account_setting.service_tax_number}" if @account_setting.service_tax_number != "" %>
					</td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<th class="text">S No</th>
					<th class="text">Particulars</th>
					<th class="number">Nights</th>
					<th class="number">Rooms</th>
					<th class="number">Unit cost</th>
					<th class="number">Amount</th>
				</tr>
				<tr>
					<td colspan=4></td>
					<td class="number">(in INR)</td>
					<td class="number">(in INR)</td>
				</tr>
				<% serial_number = 1 %>
				<% @trip.bookings.order(:check_in_date).each do |booking| %>
					<tr>
						<td class="sno"><%= serial_number %></td>
						<td colspan=5 class="text">Booking charges for <%= booking.property.name %><br/>(from <%= l booking.check_in_date %> to <%= l booking.check_out_date %>)</td>
					</tr>
          <% booking.rooms.order(:cancelled).each do |room| %>
						<tr>
							<td></td>
							<% if room.number_of_children_between_5_and_12_years == 0 %>
                <td class="text"><li><%= 'Cancellation fee: ' if room.cancelled == 1 %><%= room.room_type.room_type %> - <%= room.occupancy %> occupancy @ <%= room.number_of_adults %> / room</li></td>
							<% else %>
                <td class="text"><li><%= 'Cancellation fee: ' if room.cancelled == 1 %><%= room.room_type.room_type %> - <%= room.occupancy %> occupancy @ <%= room.number_of_adults %> + <%= room.number_of_children_between_5_and_12_years %> / room</li></td>
							<% end %>
							<td class="number"><%= room.number_of_nights %></td>
							<td class="number"><%= room.number_of_rooms %></td>
							<td class="number"> <%= number_to_currency_wo_symbol(room.room_rate) %></td>
							<td class="number"> <%= number_to_currency_wo_symbol(room.total_price) %></td>
						</tr>
					<% end %>
					<% booking.vas_bookings.each do |vas_booking| %>
						<tr>
							<td></td>
							<td class="text"><li><%= vas_booking.value_added_service %> (<%= vas_booking.number_of_units %>)</li></td>
							<td></td>
							<td></td>
							<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.unit_price) %></td>
							<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.total_price) %></td>
						</tr>
					<% end %>
					<% serial_number += 1 %>
				<% end %>
				<% @trip.vas_bookings.each do |vas_booking| %>
					<tr>
						<td class="sno"><%= serial_number %></td>
						<td class="text"><%= vas_booking.value_added_service %> (<%= vas_booking.number_of_units %>)</td>
						<td></td>
						<td></td>
						<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.unit_price) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.total_price) %></td>
					</tr>
					<% serial_number += 1 %>
				<% end %>
				<% @trip.taxi_bookings.each do |taxi_booking| %>
					<tr>
						<td class="sno"><%= serial_number %></td>
						<td class="text">Taxi: <%= pluralize(taxi_booking.number_of_vehicles, taxi_booking.taxi.model) %> (<%= pluralize(taxi_booking.number_of_days, "day") %>)</td>
						<td></td>
						<td></td>
						<td class="number"> <%= number_to_currency_wo_symbol(taxi_booking.unit_price) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(taxi_booking.total_price) %></td>
					</tr>
					<% serial_number += 1 %>
				<% end %>
				<tr>
					<td></td>
					<% if @trip.discount != 0 %>
						<td colspan=4 class="text">Less: Discount on Room Bookings</td>
						<td class="number">( <%= number_to_currency_wo_symbol(@trip.discount) %>)</td>
					<% end %>
				</tr>
				<tr>
					<td></td>
					<% if @trip.tac != 0 %>
						<td colspan=4 class="text">Less: TAC on Room Bookings</td>
						<td class="number">( <%= number_to_currency_wo_symbol(@trip.tac) %>)</td>
					<% end %>
				</tr>
        <% if @trip.tds > 0 %>
					<tr>
						<td colspan=3></td>
						<td class="text">T.D.S.</td>
						<td class="text"><%= @trip.tds_percent %>%</td>
						<td class="number"> <%= number_to_currency_wo_symbol(@trip.tds) %></td>
					</tr>
				<% end %>
				<tr>
					<td colspan=3></td>
					<td colspan=2 class="bold">Total Payable</td>
					<td class="number"><span class="bold"> <%= number_to_currency_wo_symbol(@trip.final_price) %></span></td>
				</tr>
				<tr>
					<td colspan=3></td>
					<td colspan=2 class="text">Advance / Credit</td>
					<td class="number"> <%= number_to_currency_wo_symbol(@trip.paid) %></td>
				</tr>
				<tr>
					<td colspan=3></td>
					<td colspan=2 class="bold">Balance</td>
					<td class="number"><span class="bold"> <%= number_to_currency_wo_symbol(@trip.balance_payment) %></span></td>
				</tr>
			</table>
			<br/>
			<p class="amount">
				Amount in words: Rupees <%= @trip.final_price.to_words %> only.
			</p>
      <% if @trip.tds > 0 %>
				<p class="footnote">
					<span class="bold">PAN NUMBER is mandatory under section 139A (5B) of income tax Act 1961. It is obligatory for all persons responsible for deducting tax at source. </span><span class="red_text">If PAN has not provided by deductees, then TDS rate should be deducted at 20% or actual, whichever is higher.</span> 
				</p>
				<p class="footnote">
					Therefore you are requested to please send us your PAN NUMBER along with Name & complete address of your company/agency at the earliest for depositing/ issuing of TDS certificate and fulfilling the statutory requirements.
				</p>
			<% end %>	
			<p class="footnote_bold">
        <%= "Note: #{@account_setting.name} has introduced a #{@account_setting.service_charge}% service charge on its own properties. This is payable directly on site." if @account_setting.service_charge != 0 %>
			</p>

	<% if @account_settings.id == 3 %>
		<p class="footnote_bold">
			Important Retreat information for your perusal:
		</p>

		<p class="footnote">
1. We are located inside the Binsar Wildlife Sanctuary, about 8 km into the Sanctuary. The forest check­post remains closed from sunset (about 7.00 PM during summer, 5.00 PM during winter) to sunrise. We request you to arrive at the check­ post at least an hour before sunset.
2. The last 600 metres to the Retreat is a steep uphill ride on a very rough and narrow path and you will do this stretch in our 4­wheel drive pickup. There is parking space for self­driven cars where you transfer.
3. We do not have accommodation for drivers at the Retreat. Upon request, we can arrange for their accommodation outside the Sanctuary (about 15 km away) for a charge of Rs. 250 / night. 
4. Wildlife in Binsar is not a threat, but close encounters with wild animals can be unpredictable. At all times, and especially at night, we request you to be cautious when outdoors and to never stray outside the Retreat.
5. The Retreat is run on solar power. All rooms have sufficient lights, but we request using lights only when and where needed as we are limited by the battery bank. On rainy days we may not have electricity in the rooms and dining even after dark. We then resort to the more primitive but romantic candle­lit lighting.
6. Plug points are provided in the dining room and will be switched on only during daylight hours on a clear day. There aren't any plug points in the rooms.
7. Our water supply is from a natural spring deep inside the Sanctuary and harvested rainwater. We request you to use water judiciously at all times.
8. We use solar geysers for hot water supply. All rooms and tents have running hot water for bathing only. We don't have showers, though. Buckets are provided for bathing in the bathrooms. On cloudy / rainy days, if we don't have sufficient hot water to go round, we can provide hot water in buckets upon request.
9. We supply fresh laundered linen on arrival. Since we do our laundry in Almora and it takes a few days to turn­around, we request you to use the same set for the duration of your stay. 
10. Smoking is prohibited in the rooms (except in balconies / private verandas). In common areas, smoking is only permitted in the designated smoking area.
11. All meals are served in the dining room. We don't have room service. The meals are buffet and we don't have an a la carte menu. We order our groceries from Almora (30 km and 1.5 hours away) and lacking a refrigerator, we order based on pre-planned meal preparations. The buffet is Kumaoni, North Indian or Continental food on rotation (not all together). We can prepare special food for children under the age of 5 years. 
12. We only serve vegetarian food. We have egg servings for breakfast and some of our dishes (cakes, curries, biryani, etc.) use egg. We don't serve alcohol.
		</p>
	<% end %>

	<p class="signature">
		** This is a computer generated invoice. No signature required **
	</p>

	</div>
	</body>
</html>
