<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<style>
			body {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 20px;
				line-height: 28px;
			  margin-top: 1em;
			  border-spacing: 0;
			  border-collapse: collapse;
			  width: 100%;
			}
			img {
				float: left;
				height: 80px;
				vertical-align: top;
			}
			.address {
				line-height: 21px;
			  margin-top: 0;
				text-align: right;
				font-size: 16px;
				font-weight: bold;
				white-space: pre-wrap;
			}
			.title {
				font-size: 28px;
				font-weight: bold;
				page-break-inside:avoid !important;
			}
			.heading {
				font-size: 24px;
				font-weight: bold;
				page-break-inside:avoid !important;
			}
			.text {
				font-size: 20px;
				page-break-inside:avoid !important;
			}
			.description {
				white-space: pre-wrap;
				font-style: italic;
				page-break-inside:avoid !important;
			}
			.pbi_avoid {
				page-break-inside:avoid !important;
			}	
			.table {
				margin-top: 1em;
				border-spacing: 0;
				border-collapse: collapse;
				border-color: #CFCCCA;
				font-size: 16px;
				width: 100%;
				tr {
					padding: 5px 5px;
				}
				th {
					background: #605C59;
					color: #FFF;
				}
				td {
					vertical-align: top;
				}
			}
		</style>
	</head>
	<body>
		<div id="content">
			<table class="table">
				<tr>
					<td colspan=2>
						<%= wicked_pdf_image_tag @trip.advisor.agency.logo_file_name	%>
					</td>
					<td colspan=4 class="address">
						<%= @trip.advisor.agency.name %>
						<%= @trip.advisor.agency.postal_address %>
						Phone: <%= @trip.advisor.agency.phone_number %>
						<%= @trip.advisor.agency.url %>
					</td>
				</tr>
			</table>
			<div>
				<br />
				<span class="title">Itinerary for <%= @trip.guest.name %></span>
				<br />
				<span class="description"><%= l @trip.start_date %> to <%= l @trip.end_date %></span>
				<br />
				<br />
				<br />
			</div>
			<% prev_property_id = nil %>
			<% prev_check_in_date = nil %>
			<% prev_check_out_date = nil %>
			<% @trip.bookings.order(:check_in_date).each do |booking| %>
				<% if booking.property_id != prev_property_id or
							booking.check_in_date != prev_check_in_date or
							booking.check_out_date != prev_check_out_date %>
					<div>
						<span class="heading"><%= l booking.check_in_date, :format => :short %></span>
						<span class="heading">:</span>
						<% if !(booking.guests_arriving_from == "" or booking.guests_arriving_from == nil) %>
							<span class="heading"><%= booking.guests_arriving_from %></span>
							<span class="heading">-</span>
						<% end %>
						<span class="heading"><%= booking.room_type.property.name %></span>
						<% if !(booking.distance_and_time == "" or booking.distance_and_time == nil) %>
							<span class="text"><%= "(" + booking.distance_and_time + ")" %></span>
						<% end %>
						<br />
						<% if !(booking.getting_there == "" or booking.getting_there == nil) %>
							<span colspan=6 class="description"><%= booking.getting_there %></span>
							<br />
						<% end %>
						<br />
					</div>
					<div>
						<% if booking.number_of_nights > 1 %>
							<span class="heading"><%= l (booking.check_in_date + 1), :format => :short %></span>
							<% if booking.number_of_nights > 2 %>
								<span class="heading">to</span>
								<span class="heading"><%= l (booking.check_out_date - 1), :format => :short %></span>
							<% end %>
							<span class="heading">:</span>
							<span class="heading"><%= booking.room_type.property.name %></span>
							<br />
							<% if !(booking.suggested_activities == "" or booking.suggested_activities == nil) %>
								<span colspan=6 class="description"><%= booking.suggested_activities %></span>
								<br />
							<% end %>
							<br />
						<% end %>
					</div>
					<div>
						<span class="description">Read more about </span><span class="text"><%= link_to booking.room_type.property.name, booking.room_type.property.url %></span>
						<br />
						<br />
					</div>
					<div>
						<% if !(booking.getting_home == "" or booking.getting_home == nil) %>
							<span class="heading"><%= l (booking.check_out_date), :format => :short %></span>
							<% if !(booking.departure_destination == "" or booking.departure_destination == nil) %>
								<span class="heading">:</span>
								<span class="heading"><%= booking.room_type.property.name %></span>
								<span class="heading">-</span>
								<span class="heading"><%= booking.departure_destination %></span>
							<% end %>
							<br />
							<span colspan=6 class="description"><%= booking.getting_home %></span>
							<br />
						<% end %>
					</div>
				<% end %>
				<% prev_property_id = booking.property_id %>
				<% prev_check_in_date = booking.check_in_date %>
				<% prev_check_out_date = booking.check_out_date %>
			<% end %>
		</div>
	</body>
</html>
