<!DOCTYPe html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<style>
			body {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 16px;
			  width: 100%;
			}
			.amount {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
			}	
			.footnote {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
			}	
			.footnote_bold {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
				font-weight: bold;
			}	
			.signature {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
				text-align: right;
			}	
			img {
				float: left;
				height: 80px;
				vertical-align: top;
			}
			.address {
				text-align: right;
				font-weight: bold;
				white-space: pre-wrap;
			}
			.client {
				text-align: left;
				white-space: pre-wrap;
			}
			.other_info {
				text-align: right;
				white-space: pre-wrap;
			}
			.table {
				margin-top: 1em;
				border-spacing: 0;
				border-collapse: collapse;
				border-color: #CFCCCA;
				font-size: 16px;
				width: 100%;
				tr {
					padding: 5px 5px;
				}
				th {
					background: #605C59;
					color: #FFF;
				}
				td {
					vertical-align: top;
				}
			}
			.number {
				text-align: right;
				white-space: nowrap;
			}
			.text {
				text-align: left;
			}
			.bold {
				font-weight: bold;
			}
			.red_text {
				font-weight: bold;
				color: red;
			}
			.sno {
				text-align: left;
				vertical-align: top;
				white-space: nowrap;
			}
		</style>
	</head>
	<body>
		<div id="content">
			<table class="table">
				<tr>
					<td colspan=2>
						<%= wicked_pdf_image_tag Account.find(@trip.account_id).logo_file_name	%>
					</td>
					<td colspan=4 class="address">
						<%= @account_setting.name %>
						<% if @trip.for_own_properties == 1 %>
							<%= @account_setting.own_property_postal_address %>
						<% else %>
							<%= @account_setting.tour_operator_postal_address %>
						<% end %>
						Phone: <%= @account_setting.phone_number_1 %>
						<%= @account_setting.url %>
					</td>
				</tr>
				<tr>
				<td colspan=3 class="client">To,<br/><%= @trip.customer.name_with_title %><br/><%= @trip.customer.postal_address %><br/>Phone: <%= @trip.customer.phone_number %><br/><%= "GSTIN: #{@trip.customer.gstin}" if @trip.customer.gstin != "" %></td>
					<td colspan=3 class="other_info">
						Date: <%= l @trip.invoice_date %>
						<% if @trip.payments.any? %>Receipt No: <%= @trip.payments.order(:date_received).last.receipt_number %>/<%= l @trip.payments.order(:date_received).last.date_received %><% end %>
						Ref: <%= @trip.name %>
						Invoice No: <%= @trip.invoice_number %>
            		<%= "PAN No: #{@account_setting.pan}" if @account_setting.pan != "" %>
						<% if @trip.for_own_properties == 1 %>
							GSTIN: <%= @account_setting.own_property_gstin %><br/>
						<% else %>
							GSTIN: <%= @account_setting.tour_operator_gstin %><br/>
						<% end %>
					</td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<th class="text">S No</th>
					<th class="text">Particulars</th>
					<th class="number">Qty.</th>
					<th class="number">Nights</th>
					<th class="number">Rate</th>
					<th class="number">Amount</th>
				</tr>
				<tr>
					<td colspan=4></td>
					<td class="number">(in INR)</td>
					<td class="number">(in INR)</td>
				</tr>
				<% serial_number = 1 %>
				<% @trip.bookings.order(:check_in_date).each do |booking| %>
					<tr>
						<td class="sno"><%= serial_number %></td>
						<td colspan=5 class="text">Booking charges for <%= booking.property.name %><br/>(from <%= l booking.check_in_date %> to <%= l booking.check_out_date %>)</td>
					</tr>
	<% booking.rooms.order(:cancelled).each do |room| %>
		<tr>
			<td></td>
			<% if room.total_price > 0 %>
				<% if room.number_of_children_between_5_and_12_years == 0 %>
                			<td class="text"><li><%= 'Cancellation fee: ' if room.cancelled == 1 %><%= room.room_type.room_type %> @ <%= room.number_of_adults %> / room</li></td>
				<% else %>
                			<td class="text"><li><%= 'Cancellation fee: ' if room.cancelled == 1 %><%= room.room_type.room_type %> @ <%= room.number_of_adults %> + <%= room.number_of_children_between_5_and_12_years %> / room</li></td>
				<% end %>
				<td class="number"><%= room.number_of_rooms %></td>
				<td class="number"><%= room.number_of_nights %></td>
				<td class="number"> <%= number_to_currency_wo_symbol(room.room_rate) %></td>
				<td class="number"> <%= number_to_currency_wo_symbol(room.total_price_excl_discount_and_tax) %></td>
			<% end %>
		</tr>
	<% end %>
					<% booking.vas_bookings.each do |vas_booking| %>
						<tr>
							<td></td>
							<td class="text"><li><%= vas_booking.value_added_service %></li></td>
							<td class="number"><%= vas_booking.number_of_units %></td>
							<td class="number"><%= vas_booking.every_day == 0 ? 1 : vas_booking.number_of_days %></td>
							<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.unit_price) %></td>
							<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.total_price_excl_discount_and_taxes) %></td>
						</tr>
					<% end %>
					<% serial_number += 1 %>
				<% end %>
				<% @trip.vas_bookings.each do |vas_booking| %>
					<tr>
						<td class="sno"><%= serial_number %></td>
						<td class="text"><%= vas_booking.value_added_service %></td>
						<td class="number"><%= vas_booking.number_of_units %></td>
						<td class="number"><%= vas_booking.every_day == 0 ? 1 : vas_booking.number_of_days %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.unit_price) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(vas_booking.total_price_excl_discount_and_taxes) %></td>
					</tr>
					<% serial_number += 1 %>
				<% end %>
				<% @trip.taxi_bookings.each do |taxi_booking| %>
					<tr>
						<td class="sno"><%= serial_number %></td>
						<td class="text">Taxi: <%= taxi_booking.taxi.model %></td>
						<td class="number"><%= taxi_booking.number_of_vehicles %></td>
						<td class="number"><%= taxi_booking.number_of_days %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(taxi_booking.unit_price) %></td>
						<td class="number"> <%= number_to_currency_wo_symbol(taxi_booking.total_price_excl_taxes) %></td>
					</tr>
					<% serial_number += 1 %>
				<% end %>
				<tr>
					<td colspan=2 class="bold">Total</td>
					<td colspan=3></td>
					<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.total_price_excl_discount_and_taxes) %></span></td>
				</tr>
				<tr>
					<% if @trip.discount != 0 %>
						<td colspan=2 class="bold">Less: Discount</td>
						<td colspan=3></td>
						<td class="number"><span class="bold">(<%= number_to_currency_wo_symbol(@trip.discount) %>)</span></td>
					<% end %>
				</tr>
				<tr>
					<% if @trip.tac != 0 %>
						<td colspan=2 class="bold">Less: TAC on Room Bookings</td>
						<td colspan=3></td>
						<td class="number"><span class="bold">(<%= number_to_currency_wo_symbol(@trip.tac) %>)</span></td>
					<% end %>
				</tr>
				<% if @trip.tds > 0 %>
					<tr>
						<td colspan=2 class="bold">T.D.S.</td>
						<td colspan=3></td>
						<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.tds) %></span></td>
					</tr>
				<% end %>
				<tr>
					<td colspan=2 class="bold">GST</td>
					<td colspan=3></td>
					<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.gst) %></span></td>
				</tr>
				<% if @trip.round_off != 0 %>
					<tr>
						<td colspan=2 class="bold">Round-off</td>
						<td colspan=3></td>
						<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.round_off) %></span></td>
					</tr>
				<% end %>
				<tr>
					<td colspan=2 class="bold">Total Payable</td>
					<td colspan=3></td>
					<td class="number" style="border-top: 1px solid #000;"><span class="bold"><%= number_to_currency_wo_symbol(@trip.total_payable) %></span></td>
				</tr>
				<tr>
					<td colspan=2 class="bold">Advance / Credit</td>
					<td colspan=3></td>
					<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.paid) %></span></td>
				</tr>
				<tr>
					<td colspan=2 class="bold">Balance</td>
					<td colspan=3></td>
					<td class="number"><span class="bold"><%= number_to_currency_wo_symbol(@trip.balance_payment) %></span></td>
				</tr>
				<tr>
					<td colspan=6></td>
				</tr>
			</table>
			<br/>
			<p class="amount">
				Amount in words: Rupees <%= @trip.total_payable.to_words %> only.
			</p>

			<% if @trip.tds > 0 %>
				<p class="footnote">
					<span class="bold">PAN NUMBER is mandatory under section 139A (5B) of income tax Act 1961. It is obligatory for all persons responsible for deducting tax at source. </span><span class="red_text">If PAN has not provided by deductees, then TDS rate should be deducted at 20% or actual, whichever is higher.</span> 
				</p>
				<p class="footnote">
					Therefore you are requested to please send us your PAN NUMBER along with Name & complete address of your company/agency at the earliest for depositing/ issuing of TDS certificate and fulfilling the statutory requirements.
				</p>
			<% end %>	

			<p class="footnote_bold">
				<%= "Note: #{@account_setting.name} has introduced a #{@account_setting.service_charge}% service charge on its own properties. This is payable directly on site." if @account_setting.service_charge != 0 %>
			</p>

			<% if @account_setting.id == 3 %>
				<p class="footnote_bold">Important Retreat information for your perusal:</p>
				<p class="footnote">1. We are located inside the Binsar Wildlife Sanctuary. The forest checkpost remains closed from sunset (about 7.00 PM during summer, 5.00 PM during winter) to sunrise. We request you to arrive at the checkpost at least an hour before sunset. The forest department charges an entry fee which is not included in our pricing.</p>
				<p class="footnote">2. The last 600 metres to the Retreat is a steep uphill ride on a very rough and narrow path and you will do this stretch in our 4-wheel drive pickup. There is parking space for self-driven cars where you transfer.</p>
				<p class="footnote">3. We do not have accommodation for drivers at the Retreat. Upon request, we can arrange for their accommodation outside the Sanctuary (about 15 km away). The driver accommodation is not included in our pricing.</p> 
				<p class="footnote">4. The Retreat is run on solar power. All rooms have sufficient lights. We do not have any other electric appliances nor plug points in the rooms. There are plug points in the dining room that can be used for charging phones and camera batteries during daylight hours and on clear days only. We do not have any electric appliances in the Retreat and hence can not cool your drinks / provide ice nor do we have laundry services. On rainy days we may not have electricity, with the sun sleeping on the job. We will provide a torch / candles in the rooms when that happens.</p>
				<p class="footnote">5. We use solar geysers for hot water supply. All rooms and tents have running hot water for bathing only (not in the wash basins). We don't have showers, though. Buckets are provided for bathing in the bathrooms.</p>
				<p class="footnote">6. All meals are served in the dining room. We don't have room service. The meals are buffet and we don't have an a la carte menu. The buffet is Kumaoni, North Indian or Continental food on rotation (not all together). We can prepare special food for children under the age of 5 years, though.</p> 
				<p class="footnote">7. We only serve vegetarian food. We do have egg for breakfast and some of our dishes use egg. We don't serve alcohol.</p>
			<% end %>

			<p class="signature">
				** This is a computer generated invoice. No signature required **
			</p>
		</div>
	</body>
</html>
