<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<style>
			body {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 15px;
			  width: 100%;
			}
			.amount {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
			}	
			.footnote {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
			}	
			.signature {
				font-family: helvetica, verdana, arial, sans-serif;
				font-size: 12px;
				text-align: right;
			}	
			img {
				float: left;
				height: 80px;
				vertical-align: top;
			}
			.agency_address {
				text-align: left;
				font-weight: bold;
				white-space: pre-wrap;
			}
			.property_address {
				text-align: right;
				white-space: pre-wrap;
			}
			.agent {
				text-align: left;
				white-space: pre-wrap;
			}
			.other_info {
				text-align: right;
				white-space: pre-wrap;
			}
			.table {
				margin-top: 1em;
				border-spacing: 0;
				border-collapse: collapse;
				border-color: #CFCCCA;
				font-size: 16px;
				width: 100%;
				tr {
					padding: 5px 5px;
				}
				th {
					background: #605C59;
					color: #FFF;
				}
				td {
					vertical-align: top;
				}
			}
			.number {
				text-align: right;
				white-space: nowrap;
			}
			.text {
				text-align: left;
			}
			.bold {
				font-weight: bold;
			}
			.red_text {
				font-weight: bold;
				color: red;
			}
			.voucher {
				display: block;
				clear: both;
				page-break-before:always;
			}
			.voucher_first {
				display: block;
				clear: both;
			}
			.left {
				text-align: left;
				height: 30px;
			}
			.right {
				text-align: right;
				height: 30px;
			}
		</style>
	</head>
	<body>
		<% first_page = 1 %>
		<% @trip.bookings.order(:check_in_date).each do |booking| %>
			<div class=<%= first_page == 1 ? "voucher_first" : "voucher" %>>
				<% first_page = 0 %>
				<table class="table">
					<tr>
						<td colspan=2>
							<%= wicked_pdf_image_tag Account.find(@trip.account_id).logo_file_name	%>
						</td>
						<td colspan=2 class="agency_address"><%= @trip.advisor.agency.name %><br/><%= @trip.advisor.agency.postal_address %><br/>Phone: <%= @trip.advisor.agency.phone_number %></td>
						<td colspan=2 class="property_address">
							The Manager
							<%= booking.property.address %>
							Phone: <%= booking.property.phone_number %>
						</td>
					</tr>
				</table>
				<table class="table">
					<tr>
						<td class="left">Voucher: <span class="bold"><%= @trip.id%>/<%= booking.id %></span></td>
						<td class="right">Date: <%= l Date.today %></td>
					</tr>
				</table>
				<hr>
				<table class="table">
					<tr>
						<td class="left" colspan=2>Guest Name: <%= @trip.guest.name %></td>
						<td colspan=2>Phone: <%= @trip.guest.phone_number %></td>
					</tr>
					<tr>
						<td class="left">Number of persons</td>
						<td>Adults: <%= booking.number_of_adults %></td>
						<td>Children: <%= booking.number_of_children_between_5_and_12_years %></td>
						<td>Infants: <%= booking.number_of_children_below_5_years %></td>
					</tr>
					<tr>
						<td class="left" colspan=4>Reservation Reference: <%= booking.reservation_reference %></td>
					</tr>
					<tr>
						<td class="left" colspan=4>Room bookings</td>
					</tr>
					<% booking.rooms.each do |room| %>
						<tr>
							<td colspan=2><li><%= room.room_type.room_type %> - <%= room.occupancy %> occupancy @ <%= room.guests_per_room %> / room</li></td>
							<td colspan=2>Number of rooms: <%= room.number_of_rooms %></td>
						</tr>
					<% end %>
					<% if booking.meal_plan != "" %>
						<tr>
							<td class="left" colspan=4>Meal Plan: <%= booking.meal_plan %></td>
						</tr>
					<% end %>
					<tr>
						<td class="left" colspan=2>Check in: <%= l booking.check_in_date %></td>
						<td colspan=2>Check out: <%= l booking.check_out_date %></td>
					</tr>
					<tr>
						<td class="left" colspan=4>Food preferences: <%= @trip.food_preferences %></td>
					</tr>
					<tr>
						<td class="left" colspan=2>Arriving from: <%= booking.guests_arriving_from %><%= " @ #{l booking.guests_arrival_time, :format => :short}" if booking.guests_arrival_time %></td>
						<td colspan=2>Departure to: <%= booking.departure_destination %></td>
					</tr>
					<tr>
						<td colspan=4>In case of delay, please inform camp / retreat directly.</td>
					</tr>
					<tr>
						<td class="left" colspan=4><span class="bold">Billing Instructions</span></td>
					</tr>
					<tr>
						<td colspan=2><li>Please collect all extras directly</li></td>
						<td colspan=2><%= booking.collect_for_all_extras.to_english %></td>
					</tr>
					<tr>
						<td colspan=2><li>Please collect directly for children</li></td>
						<td colspan=2><%= booking.collect_for_children.to_english %></td>
					</tr>
					<tr>
						<td colspan=2><li>Please collect directly for driver / help</li></td>
						<td colspan=2><%= booking.collect_for_driver_and_help.to_english %></td>
					</tr>
					<tr>
						<td colspan=2><li>Please bill Banjara H.O. on EPAI / CPAI / MAPAI / APAI</li></td>
						<td colspan=2><%= booking.bill_agent_on_chosen_plan.to_english %></td>
					</tr>
				</table>	
				<p><span class="bold">Remarks: </span><%= booking.remarks %></p>
				<p class="footnote">
					<span class="bold">Check in / Check out time: </span>1200 Noon
				</p>
				<p class="footnote">
					This confirmation is issued irrevocably for the period specified and guests are liable for the entire period irrespective of late arrival and early departure.	
				</p>
				<p class="signature">
					** This is a computer generated voucher. No signature required **
				</p>
			</div>
		<% end %>
	</body>
</html>
