<%= form_for(@payment, :validate => true) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_div_if(@payment.new_record?, class: "field") do %>
    <%= f.label :receipt_no, "Receipt No" %><br/>
    <p><span class="highlight">
      <%= @payment.receipt_number %>
    </span></p>
  <% end %>
  <div class="field">
   	<%= f.label :trip_id %><br />
		<% if @payment.trip_id %>
    	<%= f.collection_select(:trip_id, 
						Trip.scoped_by_account_id(current_user.account_id).
						find_all_by_id(@payment.trip_id), :id, :name_with_dates) %>
    <% elsif session[:customer_id] %>
      <%= f.collection_select(:trip_id,
            Trip.scoped_by_account_id(current_user.account_id).order('name').
            find(:all, :conditions => [ 'customer_type = ? and customer_id = ? and payment_status != ?',
              session[:customer_type], session[:customer_id], Trip::FULLY_PAID ]),
          :id, :name_with_dates) %>
		<% end %>
  </div>
  <div class="field">
    <%= f.label :payee_name %><br />
    <%= f.text_field :payee_name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date_received %><br />
    <%= f.text_field :date_received, :value => (@payment.date_received.to_s(:ddmonyyyy) if !@payment.new_record?),
          :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :payment_mode %><br />
   	<%= f.collection_select(:payment_mode, 
						PaymentMode.scoped_by_account_id(current_user.account_id),
            :name, :name, :prompt => 'Select Payment mode') %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
