<%= form_tag payments_path, :method => "get" do %>
  <span class="search_title">Show payments </span>
	<%= label_tag :from_date, "Since *" %>
  <%= text_field_tag :from_date, (@from_date.to_s(:ddmonyyyy) if @from_date),
    :id => "payments_search_from_date", :required => true %>
	<%= label_tag :number_of_days, "For days *" %>
  <%= number_field_tag :number_of_days, @number_of_days, min: 1, max: 999, :required => true %>
	<%= submit_tag "Go", :name => nil %>
<% end %>
