<h1>Listing Payments</h1>

<% if !session[:trip_id] %>
	<div id="search">
		<%= render 'search' %>
	</div>

	<div id="download">
		<%= render 'download' %>
	</div>
<% end %>

<% if @records_returned == 0 %>
	<div id="error_explanation">
		<h2>Payments not found</h2>
		<ul>
			<% if session[:trip_id]
				<li>Click below to create a new payment</li>
			<% else %>
				<li>Change your search conditions</li>
			<% end %>
		</ul>
	</div>
<% else %>

	<table class="index_table" border="1">
	  <tr>
	    <th class="text">Guest / Agency</th>
	    <th class="text">Receipt No</th>
	    <th class="text">Date received</th>
	    <th class="currency">Amount</th>
	    <th class="text">Payment Mode</th>
	    <th class="text">Details</th>
	    <th></th>
	  </tr>

		<% @payments.each do |payment| %>
		  <tr>
				<td class="text">
					<% if payment.trip.direct_booking == 1 %>
						<%= payment.trip.guest.name %>
					<% else %>
						<%= payment.trip.guest.name %> / <%= payment.trip.agency.short_name %>
					<% end %>
				</td>
		    <td class="text"><%= "BCRPL/#{payment.trip_id}/#{payment.id}" %></td>
		    <td class="text"><%= l payment.date_received %></td>
		    <td class="currency"><%= number_to_currency(payment.amount) %></td>
		    <td class="text"><%= payment.payment_mode %></td>
		    <td class="text"><%= payment.details %></td>
		    <td>
					<%= link_to 'Show details', payment %></br>
		    	<%= link_to 'Edit', edit_payment_path(payment) %><br />
		    	<%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %>
				</td>
		  </tr>
		<% end %>
	</table>
<% end %>

<% if session[:trip_id] %>
	<div class="action_container">
		<%= link_to 'New Payment', new_payment_path %>
	</div>
<% end %>
