<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %><br />
    <%= f.select(:model, options_for_select([['', ''],
													['Availability Chart', 'Availability Chart'],
													['Booking', 'Booking'],
													['Feedback', 'Feedback'],
													['Guest', 'Guest'],
													['Property', 'Property'],
													['Room Type', 'Room Type'],
													['Trip', 'Trip'],
													['Value Added Service', 'Value Added Service']],
													@feedback.model)) %>
  </div>
  <div class="field">
    <%= f.label :view %><br />
		<%= f.select(:view, options_for_select([['', ''],
													['Edit', 'Edit'],
													['Listing', 'Listing'],
													['New', 'New'],
													['Show Details', 'Show Details']],
													@feedback.view)) %>
  </div>
  <div class="field">
    <%= f.label :criticality %><br />
		<%= f.select(:criticality, options_for_select([['', ''],
													['Suggestion for Improvement', 
															'9 - Suggestion for Improvement'],
													['Eyesore', '4 - Eyesore'],
													['Unable to use a non-critical feature', 
															'3 - Unable to use a non-critical feature'],
													['Showstopper - There is a Work-around', 
															'2 - Showstopper - there is a Work-around'],
													['Showstopper - No Work-around', 
															'1 - Showstopper - No Work-around']],
													@feedback.criticality)) %>
  </div>
  <div class="field">
    <%= f.label :defect %><br />
    <%= f.text_area :defect, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label :suggestion %><br />
    <%= f.text_area :suggestion, :rows => 6 %>
  </div>

	<% if !@feedback.new_record? %>
	  <div class="field">
	    <%= f.label :priority %><br />
			<%= f.select(:priority, options_for_select([['', ''],
														['Immediate', '1 - Immediate'],
														['Next scheduled Patch', 
																'2 - Next scheduled Patch'],
														['Next scheduled Release', 
																'3 - Next scheduled Release'],
														['Yet to be scheduled', 
																'4 - Yet to be scheduled']],
														@feedback.priority)) %>
	  </div>
	  <div class="field">
	    <%= f.label :status %><br />
			<%= f.select(:status, options_for_select([['', ''],
													['Reported', '1 - Reported'],
													['Scheduled', '2 - Scheduled'],
													['Fixed', '3 - Fixed'],
													['Released', '4 - Released']],
													@feedback.status)) %>
	  </div>
	<% end %>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
