<h1>Availability Chart</h1>

<table border="1">
	<tr>
		<th class="text">Property</th>
		<th class="number">Rooms</th>
		<% @chart_date_range.each do |date| %>
			<th class="number"><%= date %></th>
		<% end %>
		<th></th>
  </tr>

	<% @properties.each do |property| %>
		<tr class="property">
			<td class="text"><%= property.name %></td>
			<td class="number"><%= property.number_of_rooms %></td>
			<% @chart_date_range.each do |date| %>
				<td class="number">
					<%= @availability[[:property, property.id, date]] %>
				</td>
			<% end %>
			<td>
				<%= link_to 'New Booking', new_booking_path(:room_type_id => nil) %>
			</td>
		</tr>

		<% @room_types.each do |room_type| %>
			<% if room_type.property_id == property.id %>
				<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
					<td class="room_type"><%= room_type.room_type %></td>
					<td class="number"><%= room_type.number_of_rooms %></td>
					<% @chart_date_range.each do |date| %>
						<td class="number">
							<%= @availability[[:room_type, room_type.id, date]] %>
						</td>
					<% end %>
					<td>
						<%= link_to 'New Booking', 
							new_booking_path(:room_type_id => room_type.id) %>
					</td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</table>
