<h2>Availability Chart</h2>

<table border="1">
	<tr>
		<th>Room Type</th>
		<th>Rooms</th>
		<% chart_date = @chart_start_date %>
		<% @days_to_show_in_chart.times do %>
			<th><%= l chart_date, :format => :short %></th>
			<% chart_date += 1 %>
		<% end %>
  </tr>
	<% cnt = 0 %>
	<% @room_types.count.times do %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td><%= @room_types[cnt].room_type %></td>
			<td class="number"><%= @room_types[cnt].number_of_rooms %></td>
			<% column_date = @chart_start_date %>
			<% @days_to_show_in_chart.times do %>
				<% if @line_items[[@room_types[cnt].id, column_date]] %>
					<td class="number"><%= (@room_types[cnt].number_of_rooms - @line_items[[@room_types[cnt].id, column_date]]) %></td>
				<% else %>
					<td class="number"><%= @room_types[cnt].number_of_rooms %></td>
				<% end %>
				<% column_date += 1 %>
			<% end %>
			<% if session[:guest_id] && session[:trip_id] %>
				<td class="link">
					<%= link_to 'Create Booking', new_booking_path(:room_type_id => @room_types[cnt].id) %>
				</td>
			<% end %>	
		</tr>
		<% cnt += 1 %>
	<% end %>
		
</table>
