<%= form_tag taxi_bookings_path, :method => "get" do %>
  <span class="search_title">Show taxi bookings </span>
	<%= label_tag :start_date, "From *" %>
  <%= text_field_tag :start_date, (@start_date.to_s(:ddmonyyyy) if @start_date),
    :id => "taxi_bookings_search_start_date", :required => true %>
	<%= label_tag :number_of_days, "For days *" %>
  <%= number_field_tag :number_of_days, @number_of_days, min: 1, max: 999, :required => true %>
	<%= submit_tag "Go", :name => nil %>
<% end %>
