<div class="nested_form_row">
	<%= f.label :registration_number, "Reg No." %>
	<%= f.text_field :registration_number, size: 15 %>

	<%= f.label :driver_name, "Driver" %>
	<%= f.text_field :driver_name, size: 25 %>

	<%= f.label :driver_phone_number, "Phone" %>
	<%= f.text_field :driver_phone_number, size: 15 %>

	<%= f.link_to_remove "x" %>
</div>	
