<h1>Taxi Booking details</h1>

<div class="show_saved_record">
<p>
  <b>ID:</b>
  <span class="saved_value"><%= @taxi_booking.id %></span>
</p>

<p>
  <b>Customer:</b>
  <span class="saved_value"><%= @taxi_booking.trip.customer.name %></span>
</p>

<p>
  <b>Trip:</b>
  <span class="saved_value"><%= @taxi_booking.trip.name %></span>
</p>

<p>
  <b>Operator:</b>
  <span class="saved_value"><%= @taxi_booking.taxi.agency.name %></span>
</p>

<p>
  <b>Taxi:</b>
  <span class="saved_value"><%= pluralize(@taxi_booking.number_of_vehicles, @taxi_booking.taxi.model) %></span>
</p>

<p>
  <b>Start date:</b>
  <span class="saved_value"><%= l @taxi_booking.start_date %></span>
</p>

<p>
  <b>End date:</b>
  <span class="saved_value"><%= l @taxi_booking.end_date %></span>
</p>

<p>
  <b>Number of days:</b>
  <span class="saved_value"><%= @taxi_booking.number_of_days %></span>
</p>

<p>
  <b>Unit price:</b>
  <span class="saved_value"><%= number_to_currency(@taxi_booking.unit_price) %></span>
</p>

<p>
  <b>Total price:</b>
  <span class="saved_value"><%= number_to_currency(@taxi_booking.total_price) %></span>
</p>

<p>
  <b>Pickup time:</b>
  <span class="saved_value"><%= l @taxi_booking.pickup_time, :format => :short if @taxi_booking.pickup_time %></span>
</p>

<p>
  <b>Pickup address:</b>
  <span class="saved_value"><%= @taxi_booking.pickup_address %></span>
</p>

<p>
  <b>Drop off city:</b>
  <span class="saved_value"><%= @taxi_booking.drop_off_city %></span>
</p>

<% if @taxi_booking.taxi_details.any? %>
	<b>Taxi details:</b>
	<table class="nested_table">
		<tr>
			<th class="text">Reg No.</th>
			<th class="text">Driver</th>
			<th class="text">Driver Phone</th>
		</tr>
		<% @taxi_booking.taxi_details.each do |taxi_details| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="text"><%= taxi_details.registration_number %></td>
				<td class="text"><%= taxi_details.driver_name %></td>
				<td class="text"><%= taxi_details.driver_phone_number %></td>
			</tr>
		<% end %>
	</table>
<% end %>

</div>

<div class="action_container">
	<%= link_to 'Edit', edit_taxi_booking_path(@taxi_booking) %>
	<%= link_to 'Notify Operator', 
				email_taxi_booking_path(:taxi_booking_id => @taxi_booking.id) %> 
</div>

<%= link_to 'Back to Taxi Booking Listing', taxi_bookings_path, :class => "back_link" %>
