<%= form_for(@advisor) do |f| %>
  <% if @advisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advisor.errors.count, "error") %> prohibited this advisor from being saved:</h2>

      <ul>
      <% @advisor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :agency %><br />
		<% if @advisor.agency_id %>
			<%= f.collection_select(:agency_id,
						Agency.find_all_by_id(@advisor.agency_id), :id, :name) %>
		<% else %>
    	<%= f.collection_select(:agency_id,
						Agency.order('name').find_all, :id, :name) %>
		<% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number_1 %><br />
    <%= f.number_field :phone_number_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_number_2 %><br />
    <%= f.number_field :phone_number_2 %>
  </div>
  <div class="field">
    <%= f.label :email_id %><br />
    <%= f.text_field :email_id %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
