<h1>Listing Advisors</h1>

<% if @advisors.count > 0 %>
<table class="index_table" border="1">
  <tr>
		<% if current_user.is? "Super admin" %>
			<th>Account</th>
		<% end %>
    <th>Name</th>
    <th>Phone number 1</th>
    <th>Phone number 2</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @advisors.each do |advisor| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		<% if current_user.is? "Super admin" %>
    	<td><%= advisor.account.subdomain if advisor.account_id %></td>
		<% end %>
    <td><%= advisor.name %></td>
    <td><%= advisor.phone_number_1 %></td>
    <td><%= advisor.phone_number_2 %></td>
    <td><%= advisor.email_id %></td>
    <td>
    	<%= link_to 'Edit', edit_advisor_path(advisor) %><br />
			<% if advisor != current_user.advisor %>
    		<%= link_to 'Destroy', advisor, confirm: 'Are you sure?',
							method: :delete %><br />
			<% end %>
			<% if !advisor.user %>
				<%= link_to 'Activate User', new_user_path(:advisor_id => advisor.id) %>
			<% end %>
		</td>
  </tr>
<% end %>
</table>
<% else %>
	<div id="error_explanation">
		<h2>Advisors have not yet been created</h2>
		<ul>
			<li>Click below to create a new Advisor</li>
		</ul>
	</div>
<% end %>

<div class="action_container">
	<%= link_to 'New Advisor', new_advisor_path %>
</div>
