<h1>Advisor details</h1>

<div class="show_saved_record">
<p>
  <b>Account:</b>
  <span class="saved_value"><%= @advisor.account.name if @advisor.account_id %></span>
</p>

<p>
  <b>Name:</b>
  <span class="saved_value"><%= @advisor.name %></span>
</p>

<p>
  <b>Email:</b>
  <span class="saved_value"><%= @advisor.email_id %></span>
</p>

<p>
  <b>Phone number 1:</b>
  <span class="saved_value"><%= @advisor.phone_number_1 %></span>
</p>

<p>
  <b>Phone number 2:</b>
  <span class="saved_value"><%= @advisor.phone_number_2 %></span>
</p>

<div class="action_container">
	<%= link_to 'Edit', edit_advisor_path(@advisor) %>
</div>

<%= link_to 'Back to Advisor Listing', advisors_path, :class => "back_link" %>
