<%= form_for(@value_added_service) do |f| %>
  <% if @value_added_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value_added_service.errors.count, "error") %> prohibited this value_added_service from being saved:</h2>

      <ul>
      <% @value_added_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %><br />
		<% if @value_added_service.new_record? %>
    	<%= f.collection_select(:property_id, Property.order("name").find_all,
																:id, :name) %>
		<% else %>
			<% if @value_added_service.property_id %>
				<%= f.collection_select(:property_id, 
							Property.find_all_by_id(@value_added_service.property_id),
							:id, :name) %>
			<% else %>
				<%= f.number_field :property_id, readonly: true %>
			<% end %>
		<% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.number_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :minimum_people_required, "Min people required" %><br />
    <%= f.number_field :minimum_people_required %>
  </div>
  <div class="field">
    <%= f.label :maximum_people %><br />
    <%= f.number_field :maximum_people %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
