<div class="nested_form_row">
	<%= f.number_field :unit_price, :min => 0, :max => 999999 %>

	<%= f.label :min_group_size, "For min group size" %>
	<%= f.number_field :min_group_size, :min => 1, :max => 99 %>

	<%= f.label :max_group_size, "Upto max group size" %>
	<%= f.number_field :max_group_size, :min => 1, :max => 99 %>

	<%= f.link_to_remove "Remove" %>
</div>
