<p id="notice"><span class="saved_value"><%= notice %></span></p>
<h1>Value Added Service details</h1>

<div class="show_saved_record">
<p>
  <b>Property:</b>
  <span class="saved_value"><%= @value_added_service.property.name if @value_added_service.property_id %></span>
</p>

<p>
  <b>Name:</b>
  <span class="saved_value"><%= @value_added_service.name %></span>
</p>

<p>
  <b>Is Trek?</b>
  <span class="saved_value"><%= @value_added_service.is_trek %></span>
</p>

<% if @value_added_service.vas_prices.any? %>
	<b>Pricing:</b>
	<table class="nested_table">
		<tr>
			<th class="number">Unit Price</th>
			<th class="number">Min group size</th>
			<th class="number">Max group size</th>
		</tr>

		<% @value_added_service.vas_prices.each do |vas_price| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td class="number"><%= number_to_currency(vas_price.unit_price) %></td>
				<td class="number"><%= vas_price.min_group_size %></td>
				<td class="number"><%= vas_price.max_group_size %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<p>
  <b>Description:</b>
  <span class="saved_value"><%= @value_added_service.description %></span>
</p>

</div>

<div class="action_container">
	<%= link_to 'Edit', edit_value_added_service_path(@value_added_service) %>
</div>

<%= link_to 'Back to Value Added Service Listing', value_added_services_path,
			:class => "back_link" %>
