<p id="notice"><span class="saved_value"><%= notice %></span></p>
<h1>Value Added Service details</h1>

<div class="show_saved_record">
<p>
  <b>Property:</b>
  <span class="saved_value"><%= @value_added_service.property.name if @value_added_service.property_id %></span>
</p>

<p>
  <b>Name:</b>
  <span class="saved_value"><%= @value_added_service.name %></span>
</p>

<p>
  <b>Min people:</b>
  <span class="saved_value"><%= @value_added_service.min_people %></span>
</p>

<p>
  <b>Unit price:</b>
  <span class="saved_value"><%= number_to_currency(@value_added_service.unit_price) %></span>
</p>

<p>
  <b>Description:</b>
  <span class="saved_value"><%= @value_added_service.description %></span>
</p>

</div>

<div class="action_container">
	<%= link_to 'Edit', edit_value_added_service_path(@value_added_service) %>
</div>

<%= link_to 'Back to Value Added Service Listing', value_added_services_path,
			:class => "back_link" %>
