<h1>Listing line_items</h1>

<table>
  <tr>
    <th>Booking</th>
    <th>Room type</th>
    <th>Date</th>
    <th>Number of rooms</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.booking_id %></td>
    <td><%= line_item.room_type_id %></td>
    <td><%= line_item.date %></td>
    <td><%= line_item.number_of_rooms %></td>
    <td><%= link_to 'Show', line_item %></td>
    <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
    <td><%= link_to 'Destroy', line_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Line item', new_line_item_path %>
