<h1>Booking Chart</h1>

<div id="search">
	<%= render 'search' %>
</div>

<% if @line_items.count > 0 %>
	<table class="index_table" border="1">
	  <tr>
	    <th>Date</th>
	    <th>Room type</th>
	    <th>Guest</th>
	    <th>Food preferences</th>
	    <th></th>
	  </tr>
	
		<% @line_items.each do |line_item| %>
	  	<tr>
	    	<td class="nowrap"><%= line_item.date %></td>
	    	<td class="nowrap"><%= line_item.room_type.long_name %></td>
	    	<td>
					<span class="nowrap"><%= line_item.booking.trip.guest.name %>, 
					<%= line_item.booking.trip.guest.phone_number %></span><br/>
					(<%= line_item.booking.number_of_adults %> + 
					<%= line_item.booking.number_of_children_between_5_and_12_years %> + 
					<%= line_item.booking.number_of_children_below_5_years %>)
				</td>
	    	<td><%= line_item.booking.food_preferences %></td>
				<td>
					<%= link_to "Show Booking", line_item.booking %>
				</td>
	  	</tr>
		<% end %>
	</table>
<% else %>
	<div id="error_explanation">
		<h2>There are no bookings for the date chosen</h2>
		<ul>
			<li>Please choose another date</li>
		</ul>
	</div>
<% end %>

<p><%= will_paginate @line_items %></p>
