<p id="notice"><%= notice %></p>

<p>
  <b>Booking:</b>
  <%= @line_item.booking_id %>
</p>

<p>
  <b>Room type:</b>
  <%= @line_item.room_type_id %>
</p>

<p>
  <b>Date:</b>
  <%= @line_item.date %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
