<!DOCTYPE html>
<html>
<head>
  <title>My Bookings</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("EZBook.jpg") %>
		<% if user_signed_in? %>
			<div id="user_info">
				<%= current_user.advisor.name %><br />
				<%= render 'devise/menu/login_items' %>
			</div>
		<% end %>
	</div>

	<div id="columns">
		<% if user_signed_in? %>
			<div id="side">
				<%= hidden_div_if(!(session[:customer_id]), id: 'session_info') do %>
					<table class="session_table">
						<tr>
							<th class="heading" colspan=2>Bookings for</th>
							<th class="clear"><%= link_to 'Clear', 
													root_path(:clear => 1) %></th>
						</tr>
						<% if session[:customer_id] %>
							<% customer = session[:customer_type].classify.constantize.find(session[:customer_id]) %>
							<%= render(customer) %>
						<% end %>
						<% if session[:trip_id] %>
							<% trip = Trip.find(session[:trip_id]) %>
							<%= render(trip) %>
							<%= render(trip.trip_rooms) %>
							<% if trip.bookings.any? %>
								<tr>
									<td colspan=3><b>Itinerary</b></td>
								</tr>
								<%= render(trip.bookings.order('check_in_date')) %>
							<% end %>
						<% end %>
					</table>
				<% end %>
				<dl>
					<dt>Booking Mgmt</dt>
					<dd><%= link_to 'Guests', guests_path %></dd>
          <dd><%= link_to 'Travel Agencies', agencies_path %></dd>
					<dd><%= link_to 'Trips', trips_path %></dd>
					<dd><%= link_to 'Room Bookings', bookings_path %></dd>
					<dd><%= link_to 'Transport', taxi_bookings_path %></dd>
					<dd><%= link_to 'Payments', payments_path %></dd>
					<dd><%= link_to 'Availability Chart', availability_chart_path %></dd>
					<dd><%= link_to 'Booking Chart', booking_chart_path %></dd>
					<dt>Booking Admin</dt>
					<dd><%= link_to 'Properties', properties_path %></dd>
					<dd><%= link_to 'Room Types', room_types_path %></dd>
					<dd><%= link_to 'Taxis', taxis_path %></dd>
					<dt>Feedback</dt>
					<dd><a href="mailto:preetam@ezbook.in?subject=Feedback">Give Feedback</a></dd>
					<% if can? :manage, Advisor or can? :manage, User or can? :manage, AccountSetting %>
						<dt>Account Admin</dt>
						<% if can? :manage, AccountSetting %>
              <dd><%= link_to 'Account Settings', 
                AccountSetting.find_by_account_id(current_user.account_id) %></dd>
						<% end %>
						<% if can? :manage, Advisor %>
							<dd><%= link_to 'Advisors', advisors_path %></dd>
						<% end %>
						<% if can? :manage, User %>
							<dd><%= link_to 'Users', users_path %></dd>
						<% end %>
					<% end %>
					<% if can? :manage, Account %>
						<dt>Site Admin</dt>
						<dd><%= link_to 'Accounts', accounts_path %></dd>
					<% end %>
				</dl>
			</div>
		<% end %>
		<div id="main">
			<p id="notice"><%= notice %></p>
			<p id="error"><%= alert %></p>
			<%= yield %>
		</div>
	</div>
</body>
</html>
