<!DOCTYPE html>
<html>
<head>
  <title>My Booking Megham</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.jpg") %>
		<%= @page_title || "Booking Megham" %>
	</div>
	<div id="columns">
		<div id="side">
			<dl>
				<dt>Property Mgmt</dt>
				<dd><%= link_to 'Properties', properties_path %></dd>
				<dd><%= link_to 'Room Types', room_types_path(:property_id => nil) %></dd>
				<dt>Booking Mgmt</dt>
				<dd><%= link_to 'Guests', guests_path %></dd>
				<dd><%= link_to 'Trips', trips_path(:guest_id => session[:guest_id]) %></dd>
				<dd><%= link_to 'Bookings', bookings_path(:trip_id => session[:trip_id]) %></dd>
				<dd><%= link_to 'Availability Chart', availability_chart_path(:trip_id => session[:trip_id]) %></dd>
			</dl>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
