<!DOCTYPE html>
<html>
<head>
  <title>EZBook</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="user-scalable=no, width=320" />
</head>
<body class='<%= controller.controller_name %>'>
	<div id="public_banner">
		<%= image_tag("EZBook.jpg") %>
	</div>
	<div id="public_columns">
		<div id="public_main">
			<p id="notice"><%= notice %></p>
			<p id="public_error"><%= alert %></p>
			<%= yield %>
		</div>
	</div>
</body>
</html>
